<section class="collToolbar">
  <div class="collToolbarWrapper">
    <div class="attributeSorter sizeSorter primarySorter">
      	<div class="sorterWrapper primarySorterWrapper sizeType">
          	<div class="sizeLockDownScreen" id="pantySizeOptLock">
              <p>To change size empty your box</p>
          	</div>
          	<div class="sortTitleHeader">
                <p>Select your size</p>
          	</div>
          	<ul class="sorterListing sizeOptListing">
              <li class="sortOpt">
                <label for="currPantySize-xs">
                  <input class="with-gap" name="currPantySize" type="radio" value="xs" id="currPantySize-xs" checked />
                  <span>XS (00-2)</span>
                </label>
              </li>
              <li class="sortOpt">
                <label for="currPantySize-sm">
                  <input class="with-gap" name="currPantySize" type="radio" value="sm" id="currPantySize-sm" />
                  <span>SM (2-4)</span>
                </label>
              </li>
              <li class="sortOpt">
                <label for="currPantySize-md">
                  <input class="with-gap" name="currPantySize" type="radio" value="md" id="currPantySize-md" />
                  <span>MD (6-8)</span>
                </label>
              </li>
              <li class="sortOpt">
                <label for="currPantySize-lg">
                  <input class="with-gap" name="currPantySize" type="radio" value="lg" id="currPantySize-lg" />
                  <span>LG (10-12)</span>
                </label>
              </li>
              <li class="sortOpt">
                <label for="currPantySize-xl">
                  <input class="with-gap" name="currPantySize" type="radio" value="xl" id="currPantySize-xl" />
                  <span>XL (14-16)</span>
                </label>
              </li>
              <li class="sortOpt">
                <label for="currPantySize-1x">
                  <input class="with-gap" name="currPantySize" type="radio" value="1x" id="currPantySize-1x" />
                  <span>1X (16-18)</span>
                </label>
              </li>
              <li class="sortOpt">
                <label for="currPantySize-2x">
                  <input class="with-gap" name="currPantySize" type="radio" value="2x" id="currPantySize-2x" />
                  <span>2X (18-20)</span>
                </label>
              </li>
              <li class="sortOpt">
                <label for="currPantySize-3x">
                  <input class="with-gap" name="currPantySize" type="radio" value="3x" id="currPantySize-3x" />
                  <span>3X (22-24)</span>
                </label>
              </li>
              <li class="sortOpt">
                <label for="currPantySize-4x">
<!--                   <input class="with-gap disabledOpt" name="currPantySize" type="radio" value="4x" id="currPantySize-4x" disabled="disabled" /> -->
				  <input class="with-gap" name="currPantySize" type="radio" value="4x" id="currPantySize-4x" />
                  <span>4X (26-28)</span>
                </label>
              </li>
          	</ul>
      	</div>
      	<div class="sorterWrapper primarySorterWrapper planType">
          	<div class="sortTitleHeader">
                <p>Select your pack</p>
          	</div>
          	<ul class="sorterListing sizeOptListing planOptListing">
              <li class="sortOpt">
                <label for="currPlanType-quarterly">
                  <input class="with-gap" name="currPlanType" type="radio" value="quarterly" id="currPlanType-quarterly" checked />
                  <span>3 Pack – $33</span>
                </label>
              </li>
              <li class="sortOpt">
                <label for="currPlanType-semi_annual">
                  <input class="with-gap" name="currPlanType" type="radio" value="semi_annual" id="currPlanType-semi_annual" />
                  <span>6 Pack – $54</span>
                </label>
              </li>
          	</ul>
      	</div>
      	<footer class="sortPreloadingContainer circleProgressWrapper primaryLoaderWrapper">
      	   <div class="preloader-wrapper small active">
            <div class="spinner-layer spinner-blue-only">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div><div class="gap-patch">
                <div class="circle"></div>
              </div><div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>
          </div>
      	</footer>
    </div>
    
    <div class="attributeSorter pantyStyleSorter supportSorter">
      	<h1>Labor Day Sale</h1>
      <h2 class="desktopCopy"><span>Up to 50% off</span>3 packs for $33 — 6 packs for $54
           </h2>
      	<h2 class="mobileCopy"><span>Up to 50% off</span>3 packs for $33 — 6 packs for $54
           </h2>
      {% comment %} 6/29/21 Commenting out this section as dynamic copy is not needed on this page 
      	<h2 id="currentPlanType" class="ebySubheaderCopy">Includes <span id="currentPlanTypeAmt" class="ebySaleImportantNotice">3 panties</span> of your choice for <span id="currentPlanTypeCost" class="ebySaleImportantNotice">{% if customer %}$45{% else %}$39{% endif %}</span></h2>
      {% endcomment %}	
    <p class="ebyMembershipPromiseCopy">Limited edition colors — limited quantities</p>
      	<div class="sorterWrapper">
      		<p>Filter by style</p>
            <ul class="sorterListing pantyStyleOptListing">
              	<li class="chip sortOpt optOn online" data-sortOpt="pantyStyle-allcb">
                  All
                  <i class="ebyicon-close-thin"></i>
                </li>
              	<li class="chip sortOpt" data-sortOpt="pantyStyle-bikini">
                  Bikini
                  <i class="ebyicon-close-thin"></i>
                </li>
                <li class="chip sortOpt" data-sortOpt="pantyStyle-thong" >
                  Thong
                  <i class="ebyicon-close-thin"></i>
                </li>
                <li class="chip sortOpt" data-sortOpt="pantyStyle-brief">
                  Brief
                  <i class="ebyicon-close-thin"></i>
                </li>
                <li class="chip sortOpt" data-sortOpt="pantyStyle-highwaisted">
                  Highwaisted
                  <i class="ebyicon-close-thin"></i>
                </li>
              	<li class="chip sortOpt" data-sortOpt="pantyStyle-highwaisted_thong">
                  Highwaisted Thong
                  <i class="ebyicon-close-thin"></i>
                </li>
                <li class="chip sortOpt" data-sortOpt="pantyStyle-cheeky">
                  Cheeky
                  <i class="ebyicon-close-thin"></i>
                </li>
                <li class="chip sortOpt" data-sortOpt="pantyStyle-g_string">
                  G-String
                  <i class="ebyicon-close-thin"></i>
                </li>
            </ul>	
      	</div>
    </div>
  </div>
  <footer class="sortPreloadingContainer barProgressWrapper secondaryLoaderWrapper">
  	  <div class="progress">
          <div class="indeterminate"></div>
      </div>
  </footer>
</section>