{% case type_index %}
  <h1>{{ type_index }}</h1>
  {% when 9 %}
  <div class="eby-banner-width-md">
    <section class="permium_hero_section eby-meshpdp5234">
      <div class="section-wrap">
        <div class="section_image">
          <img
            data-src="https://cdn.shopify.com/s/files/1/0313/4062/5964/files/lp-376-sheer-5-gallery.webp?v=1674667549"
            loading="lazy"
            class="mobile_image lazyload"
            width="375"
            height="478"
            alt="Reptile Mesh"
            title="Reptile Mesh" />
          <img
            data-src="https://cdn.shopify.com/s/files/1/0313/4062/5964/files/lp-376-sheer-5-gallery-2x-23.webp?v=1674667549"
            loading="lazy"
            class="ipad_image lazyload"
            width="762"
            height="762"
            alt="Reptile Mesh"
            title="Reptile Mesh" />
          <img
            data-src="https://cdn.shopify.com/s/files/1/0313/4062/5964/files/lp-1440-sheer-5-gallery.webp?v=1674672123"
            loading="lazy"
            class="desktop_image lazyload"
            width="1680"
            height="993"
            alt="Reptile Mesh"
            title="Reptile Mesh" />
        </div>
      </div>
    </section>
  </div>
{% endcase %}