{% for nav in eby_navigation %}
    <div class="mega-nav-column" >
      <a href="{{nav.url}}" class="nav-column-header d_s_link">
        <span class="dsktsbmnspan"> {{nav.title}} </span>
      </a>
    </div>
{% endfor %}