<div class="productQuickAdd">
  <button class="btn btnProduct btnProductQuickAdd" data-href="#velaQuickAdd-{{ product.id }}" data-handle="{{ product.handle }}" title="Quick Add +">
    <i class="icons icon-eye"></i>
    <span class="text">Quick Add +</span>
  </button>
  <div class="selection-wrapper" id="velaQuickAdd-{{ product.id }}">
  </div>
</div>
