<section class="ambassador-hero">
  <div class="ambassador-title-wrapper eby-maxs23">
    <h1 class="ambassador-title pageTop">Join #TeamEBY and<br/> Become an Ambassador</h1>
  </div>
  <span class="ambassador-title-description">Become An Ambassador</span>
  <div class="top-banner">
    <img
      class="lazyload mob_img"
      height="208"
      width="347"
      data-src="https://cdn.shopify.com/s/files/1/0313/4062/5964/files/LP_-_376_-_ambassador_-_hero.jpg?v=1680111702"
      alt="eby influencers"
      title="eby influencers" />
    <img
      class="lazyload tablet_img"
      height="208"
      width="768"
      data-src="https://cdn.shopify.com/s/files/1/0313/4062/5964/files/LP_-_768_-_ambassador_-_hero.jpg?v=1680111702"
      alt="eby influencers"
      title="eby influencers" />
    <img
      class="lazyload desk_img"
      height="720"
      width="1024"
      data-src="https://cdn.shopify.com/s/files/1/0313/4062/5964/files/LP_-_1440_-_ambassador_-_hero.jpg?v=1680111702"
      alt="eby influencers"
      title="eby influencers" />
  </div>
</section>