<section class="ambassador-main eby-maxs23">
  <!--Who we are looking--->
  <div class="ambassador-main-container">
    <div class="ambassador-main-title-wrapper">
      <div class="ambassador-main-title">
        <span>Are You Who We’re</span>
        <span>Looking For?</span>
      </div>
      <div class="ambassador-main-title-button">
        <button class="ambassador-main-btn-wrap">
          <a class="ambassador-main-btn-link" href="https://www.activate.social/network/join/EBY" target="_blank">
            <span class="ambassador-main-btn-text">APPLY NOW</span>
          </a>
        </button>
      </div>
    </div>
    <!---->
    <div class="ambassador-main-subtitle-wrapper">
      <div class="ambassador-main-subtitle-list spctitle">
        <span class="ambassador-main-subtitle">Requirements</span>
      </div>
      <div class="ambassador-main-subtitle-list nwpdding">
        <div class="ambassador-main-subflex">
          <div class="ambassador-main-subflex-list coll-wd-bck23">
            <span>
              <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path d="m17 8-7 8-3-3.982" stroke="#FFFFFF" stroke-width="1.2" fill="none" fill-rule="evenodd"></path>
              </svg>
            </span>
          </div>
          <div class="ambassador-main-subflex-list">
            <span class="ambassador-main-subflex-dscr">
              <i>Fashion, Fitness & Lifestyle </i>curated feeds</span>
          </div>
        </div>
        <div class="ambassador-main-subflex">
          <div class="ambassador-main-subflex-list coll-wd-bck23">
            <span>
              <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path d="m17 8-7 8-3-3.982" stroke="#FFFFFF" stroke-width="1.2" fill="none" fill-rule="evenodd"></path>
              </svg>
            </span>
          </div>
          <div class="ambassador-main-subflex-list">
            <span class="ambassador-main-subflex-dscr">Minimum of 10k followers</span>
          </div>
        </div>
        <div class="ambassador-main-subflex">
          <div class="ambassador-main-subflex-list coll-wd-bck23">
            <span>
              <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path d="m17 8-7 8-3-3.982" stroke="#FFFFFF" stroke-width="1.2" fill="none" fill-rule="evenodd"></path>
              </svg>
            </span>
          </div>
          <div class="ambassador-main-subflex-list">
            <span class="ambassador-main-subflex-dscr italic">
              Public Instagram account</span>
          </div>
        </div>
        <div class="ambassador-main-subflex">
          <div class="ambassador-main-subflex-list coll-wd-bck23">
            <span>
              <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path d="m17 8-7 8-3-3.982" stroke="#FFFFFF" stroke-width="1.2" fill="none" fill-rule="evenodd"></path>
              </svg>
            </span>
          </div>
          <div class="ambassador-main-subflex-list">
            <span class="ambassador-main-subflex-dscr">US based and over 18</span>
          </div>
        </div>
        <div class="ambassador-main-subflex">
          <div class="ambassador-main-subflex-list coll-wd-bck23">
            <span>
              <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path d="m17 8-7 8-3-3.982" stroke="#FFFFFF" stroke-width="1.2" fill="none" fill-rule="evenodd"></path>
              </svg>
            </span>
          </div>
          <div class="ambassador-main-subflex-list">
            <span class="ambassador-main-subflex-dscr">Must follow EBY on social <i>@joineby</i></span>
          </div>
        </div>
      </div>
    </div>
    <div class="ambassador-main-btn-mobile">
      <button class="ambassador-main-btn-wrap chseSize23">
        <a class="ambassador-main-btn-link" href="https://www.activate.social/network/join/EBY" target="_blank">
          <span class="ambassador-main-btn-text">APPLY NOW</span>
        </a>
      </button>
    </div>
  </div>
  <!--Why should join--->
  <div class="ambassador-main-container">
    <div class="ambassador-main-title-wrapper">
      <div class="ambassador-main-title">
        <span>Why You Should</span>
        <span>Sign Up</span>
      </div>
      <div class="ambassador-main-title-button">
        <button class="ambassador-main-btn-wrap">
          <a class="ambassador-main-btn-link" href="https://www.activate.social/network/join/EBY" target="_blank">
            <span class="ambassador-main-btn-text">APPLY NOW</span>
          </a>
        </button>
      </div>
    </div>
    <!---->
    <div class="ambassador-main-subtitle-wrapper">
      <div class="ambassador-main-subtitle-list spctitle">
        <span class="ambassador-main-subtitle">Ambassador Perks</span>
      </div>
      <div class="ambassador-main-subtitle-list nwpdding">
        <div class="ambassador-main-subflex">
          <div class="ambassador-main-subflex-list">
            <span>
              <svg width="24px" height="24px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <path d="M12,2 C17.5228475,2 22,6.4771525 22,12 C22,17.5228475 17.5228475,22 12,22 C6.4771525,22 2,17.5228475 2,12 C2,6.4771525 6.4771525,2 12,2 Z M12,5 L10.3169399,9.97991392 L5,9.97991392 L9.26502732,13.0014347 L7.67759563,18 L12,14.9225251 L16.3224044,18 L14.7349727,13.0014347 L19,9.97991392 L13.6830601,9.97991392 L12,5 Z" id="Combined-Shape" fill="#04081C"></path>
                </g>
              </svg>
            </span>
          </div>
          <div class="ambassador-main-subflex-list">
            <span class="ambassador-main-subflex-dscr">Get 40% OFF when you shop</span>
          </div>
        </div>
        <div class="ambassador-main-subflex">
          <div class="ambassador-main-subflex-list">
            <span>
              <svg width="24px" height="24px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <path d="M12,2 C17.5228475,2 22,6.4771525 22,12 C22,17.5228475 17.5228475,22 12,22 C6.4771525,22 2,17.5228475 2,12 C2,6.4771525 6.4771525,2 12,2 Z M12,5 L10.3169399,9.97991392 L5,9.97991392 L9.26502732,13.0014347 L7.67759563,18 L12,14.9225251 L16.3224044,18 L14.7349727,13.0014347 L19,9.97991392 L13.6830601,9.97991392 L12,5 Z" id="Combined-Shape" fill="#04081C"></path>
                </g>
              </svg> 
            </span>
          </div>
          <div class="ambassador-main-subflex-list">
            <span class="ambassador-main-subflex-dscr">Minimum of 10k followers</span>
          </div>
        </div>
        <div class="ambassador-main-subflex">  
          <div class="ambassador-main-subflex-list">
            <span>
              <svg width="24px" height="24px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <path d="M12,2 C17.5228475,2 22,6.4771525 22,12 C22,17.5228475 17.5228475,22 12,22 C6.4771525,22 2,17.5228475 2,12 C2,6.4771525 6.4771525,2 12,2 Z M12,5 L10.3169399,9.97991392 L5,9.97991392 L9.26502732,13.0014347 L7.67759563,18 L12,14.9225251 L16.3224044,18 L14.7349727,13.0014347 L19,9.97991392 L13.6830601,9.97991392 L12,5 Z" id="Combined-Shape" fill="#04081C"></path>
                </g>
              </svg>
            </span>
          </div>
          <div class="ambassador-main-subflex-list">
            <span class="ambassador-main-subflex-dscr italic">15% OFF personalized code for your friends, family & followers</span>
          </div>
        </div>
        <div class="ambassador-main-subflex">
          <div class="ambassador-main-subflex-list">
            <span>
              <svg width="24px" height="24px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <path d="M12,2 C17.5228475,2 22,6.4771525 22,12 C22,17.5228475 17.5228475,22 12,22 C6.4771525,22 2,17.5228475 2,12 C2,6.4771525 6.4771525,2 12,2 Z M12,5 L10.3169399,9.97991392 L5,9.97991392 L9.26502732,13.0014347 L7.67759563,18 L12,14.9225251 L16.3224044,18 L14.7349727,13.0014347 L19,9.97991392 L13.6830601,9.97991392 L12,5 Z" id="Combined-Shape" fill="#04081C"></path>
                </g>
              </svg>
            </span>
          </div>
          <div class="ambassador-main-subflex-list">
            <span class="ambassador-main-subflex-dscr">20% commission when they purchase using your code</span>
          </div>
        </div>
        <div class="ambassador-main-subflex">
          <div class="ambassador-main-subflex-list">
            <span>
              <svg width="24px" height="24px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <path d="M12,2 C17.5228475,2 22,6.4771525 22,12 C22,17.5228475 17.5228475,22 12,22 C6.4771525,22 2,17.5228475 2,12 C2,6.4771525 6.4771525,2 12,2 Z M12,5 L10.3169399,9.97991392 L5,9.97991392 L9.26502732,13.0014347 L7.67759563,18 L12,14.9225251 L16.3224044,18 L14.7349727,13.0014347 L19,9.97991392 L13.6830601,9.97991392 L12,5 Z" id="Combined-Shape" fill="#04081C"></path>
                </g>
              </svg>
            </span>
          </div>
          <div class="ambassador-main-subflex-list">
            <span class="ambassador-main-subflex-dscr">Early access to upcoming promotions</span>
          </div>
        </div>
        <div class="ambassador-main-subflex">
          <div class="ambassador-main-subflex-list">
            <span>
              <svg width="24px" height="24px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <path d="M12,2 C17.5228475,2 22,6.4771525 22,12 C22,17.5228475 17.5228475,22 12,22 C6.4771525,22 2,17.5228475 2,12 C2,6.4771525 6.4771525,2 12,2 Z M12,5 L10.3169399,9.97991392 L5,9.97991392 L9.26502732,13.0014347 L7.67759563,18 L12,14.9225251 L16.3224044,18 L14.7349727,13.0014347 L19,9.97991392 L13.6830601,9.97991392 L12,5 Z" id="Combined-Shape" fill="#04081C"></path>
                </g>
              </svg>
            </span>
          </div>
          <div class="ambassador-main-subflex-list">
            <span class="ambassador-main-subflex-dscr">Choose among high res image and briefs on our affiliate platform</span>
          </div>
        </div>
      </div>
    </div>
    <div class="ambassador-main-btn-mobile">
      <button class="ambassador-main-btn-wrap chseSize23">
        <a class="ambassador-main-btn-link" href="https://www.activate.social/network/join/EBY" target="_blank">
          <span class="ambassador-main-btn-text">APPLY NOW</span>
        </a>
      </button>
    </div>

  </div>
</section>