<style>
.eight-reasons-top .eightReasonsTopWrapper .innerWrapper {
	 display: flex;
	 flex-direction: row;
}
 @media (max-width: 991px) {
	 .eight-reasons-top .eightReasonsTopWrapper .innerWrapper {
		 flex-wrap: wrap;
	}
}
 .eight-reasons-top .eightReasonsTopWrapper .col.halfWidth {
	 width: 100%;
	 max-width: 50%;
	 text-align: center;
	 margin: auto;
}
 @media (max-width: 991px) {
	 .eight-reasons-top .eightReasonsTopWrapper .col.halfWidth {
		 max-width: 100%;
	}
}
 .eight-reasons-top .eightReasonsTopWrapper .col.halfwidth.article {
	 padding: 0px 130px;
}
 @media (max-width: 1199px) {
	 .eight-reasons-top .eightReasonsTopWrapper .col.halfwidth.article {
		 padding: 0px 20px;
	}
}
 @media (max-width: 991px) {
	 .eight-reasons-top .eightReasonsTopWrapper .col.halfwidth.article {
		 padding: 28px 20px 20px;
	}
}
 .eight-reasons-top .eightReasonsTopWrapper h1 {
	 color: #2032ba;
	 text-align: center;
}
 .eight-reasons-top .eightReasonsTopWrapper p1 {
	 color: #000d48;
	 text-align: center;
}
 .eight-reasons-top .eightReasonsTopWrapper a.btn.shop_btn {
	 font-size: 16px;
	 font-weight: 500;
	 font-stretch: normal;
	 font-style: normal;
	 line-height: 0.75;
	 letter-spacing: normal;
	 color: #fff;
	 text-align: center;
	 padding: 22px;
	 min-width: 194px;
	 text-align: center;
	 display: inline-block;
	 border-radius: 50px;
	 background: #0063ff;
	 border: solid 1px #0063ff;
	 margin-top: 20px;
}
 @media (max-width: 991px) {
	 .eight-reasons-top .eightReasonsTopWrapper a.btn.shop_btn {
		 font-size: 14px;
		 padding: 18px;
		 min-width: 220px;
		 margin: 1rem auto;
	}
}
 @media (max-width: 991px) {
	 .eight-reasons-top .eightReasonsTopWrapper a.btn.shop_btn {
		 min-width: auto;
		 padding-left: 40px;
		 padding-right: 40px;
	}
}
 .eight-reasons-top .eightReasonsTopWrapper a.btn.shop_btn:hover {
	 background: none;
	 color: #0063ff;
}
 .eight-reasons-block {
	 text-align: center;
}
 .eight-reasons-block .product-blocks .product-box {
	 padding: 146px 162px;
	 display: flex;
	 flex-wrap: wrap;
}
 @media (max-width: 479px) {
	 .eight-reasons-block .product-blocks .product-box:first-child {
		 padding: 4rem 20px 3rem;
	}
}
 @media (max-width: 1600px) {
	 .eight-reasons-block .product-blocks .product-box {
		 padding: 36px 30px;
	}
}
 @media (max-width: 1199px) {
	 .eight-reasons-block .product-blocks .product-box {
		 padding: 50px 20px;
	}
}
 @media (max-width: 991px) {
	 .eight-reasons-block .product-blocks .product-box {
		 padding: 35px 30px 30px;
	}
}
 @media (max-width: 479px) {
	 .eight-reasons-block .product-blocks .product-box {
		 padding: 2rem 2rem 3rem;
	}
}
 .eight-reasons-block .product-blocks .product-box .product-box-img {
	 width: 33%;
	 margin: auto;
}
 @media (max-width: 991px) {
	 .eight-reasons-block .product-blocks .product-box .product-box-img {
		 width: 100%;
	}
}
 .eight-reasons-block .product-blocks .product-box .product-box-img img {
	 width: 100%;
}
 @media (max-width: 991px) {
	 .eight-reasons-block .product-blocks .product-box .product-box-img img {
		 max-height: 199px;
		 margin: 0 auto;
		 width: auto;
	}
}
 .eight-reasons-block .product-blocks .product-box .eight-reasons-vertical-number {
	 width: 25%;
	 margin: auto;
	 font-size: 170px;
	 font-family: voyage;
	 color: #2032ba;
	 font-weight: bold;
}
 @media (max-width: 991px) {
	 .eight-reasons-block .product-blocks .product-box .eight-reasons-vertical-number {
		 width: 100%;
		 font-size: 75px;
		 line-height: 1.19;
	}
}
 .eight-reasons-block .product-blocks .product-box .product-box_details {
	 width: 41%;
	 margin: auto;
	 text-align: left;
}
 @media (max-width: 1199px) {
	 .eight-reasons-block .product-blocks .product-box .product-box_details {
		 padding: 40px;
	}
}
 @media (max-width: 991px) {
	 .eight-reasons-block .product-blocks .product-box .product-box_details {
		 padding: 0px;
		 width: 100%;
		 text-align: center;
		 max-width: 420px;
		 margin: 0 auto;
	}
}
 @media (max-width: 479px) {
	 .eight-reasons-block .product-blocks .product-box .product-box_details {
		 padding: 0px;
	}
}
 .eight-reasons-block .product-blocks .product-box .product-box_details h3 {
	 font-family: "Domaine Regular", serif;
	 font-size: 60px;
	 font-stretch: normal;
	 font-style: normal;
	 letter-spacing: normal;
	 line-height: 1.39;
	 margin: 0;
	 text-align: left;
	 color: #2032ba;
}
 @media (max-width: 1600px) {
	 .eight-reasons-block .product-blocks .product-box .product-box_details h3 {
		 font-size: 48px;
	}
}
 @media (max-width: 1199px) {
	 .eight-reasons-block .product-blocks .product-box .product-box_details h3 {
		 font-size: 34px;
	}
}
 @media (max-width: 1024px) {
	 .eight-reasons-block .product-blocks .product-box .product-box_details h3 {
		 line-height: 1.19;
		 font-size: 36px;
	}
}
 @media (max-width: 991px) {
	 .eight-reasons-block .product-blocks .product-box .product-box_details h3 {
		 font-size: 36px;
		 text-align: center;
	}
}
 @media (max-width: 479px) {
	 .eight-reasons-block .product-blocks .product-box .product-box_details h3 {
		 font-size: 24px;
	}
}
 .eight-reasons-block .product-blocks .product-box .product-box_details p {
	 font-family: "Domaine Regular", serif;
	 font-size: 16px;
	 font-stretch: normal;
	 font-style: normal;
	 font-weight: normal;
	 letter-spacing: normal;
	 line-height: 1.54;
	 margin-top: 24px;
	 max-width: 500px;
	 width: 100%;
	 text-align: left;
	 color: #000d48;
}
 @media (max-width: 1199px) {
	 .eight-reasons-block .product-blocks .product-box .product-box_details p {
		 margin: 20px auto;
	}
}
 @media (max-width: 1024px) {
	 .eight-reasons-block .product-blocks .product-box .product-box_details p {
		 line-height: 1.25;
	}
}
 @media (max-width: 991px) {
	 .eight-reasons-block .product-blocks .product-box .product-box_details p {
		 text-align: center;
	}
}
 @media (max-width: 1199px) {
	 .eight-reasons-block .product-blocks .product-box .product-box_details p br {
		 display: none;
	}
}
 .eight-reasons-block .product-blocks .product-box .product-box_details a.btn.shop_btn {
	 font-size: 16px;
	 font-weight: 500;
	 font-stretch: normal;
	 font-style: normal;
	 line-height: 0.75;
	 letter-spacing: normal;
	 color: #fff;
	 text-align: center;
	 padding: 22px;
	 min-width: 230px;
	 text-align: center;
	 display: inline-block;
	 border-radius: 50px;
	 background: #0063ff;
	 border: solid 1px #0063ff;
	 margin-top: 20px;
}
 @media (max-width: 1024px) {
	 .eight-reasons-block .product-blocks .product-box .product-box_details a.btn.shop_btn {
		 margin-top: 0px;
	}
}
 @media (max-width: 991px) {
	 .eight-reasons-block .product-blocks .product-box .product-box_details a.btn.shop_btn {
		 font-size: 14px;
		 padding: 18px;
		 margin: 1rem auto;
	}
}
 @media (max-width: 991px) {
	 .eight-reasons-block .product-blocks .product-box .product-box_details a.btn.shop_btn {
		 min-width: auto;
		 padding-left: 40px;
		 padding-right: 40px;
	}
}
 .eight-reasons-block .product-blocks .product-box .product-box_details a.btn.shop_btn:hover {
	 background: none;
	 color: #0063ff;
}
 .eight-reasons-block .light_gray_section {
	 background: #f5e9de;
	 padding: 5rem 2rem 9rem;
}
 @media (max-width: 1199px) {
	 .eight-reasons-block .light_gray_section {
		 padding: 5rem 2rem 9rem;
	}
}
 @media (max-width: 991px) {
	 .eight-reasons-block .light_gray_section {
		 padding: 3rem 2rem 7rem;
	}
}
 @media (max-width: 479px) {
	 .eight-reasons-block .light_gray_section {
		 padding: 50px 20px;
	}
}
 .eight-reasons-block .light_gray_section .inner_section {
	 width: 100%;
	 max-width: 850px;
	 margin: 0 auto;
}
 .eight-reasons-block .light_gray_section .inner_section .rich-text {
	 padding: 0 0 50px 0;
}
 @media (max-width: 1199px) {
	 .eight-reasons-block .light_gray_section .inner_section .rich-text {
		 padding: 20px 0 40px 0;
	}
}
 @media (max-width: 991px) {
	 .eight-reasons-block .light_gray_section .inner_section .rich-text {
		 padding: 0 0 20px;
	}
}
 .eight-reasons-block .light_gray_section .inner_section p {
	 font-family: "Domaine Regular", serif;
	 font-size: 36px;
	 font-weight: 400;
	 font-stretch: normal;
	 font-style: normal;
	 line-height: 1.39;
	 letter-spacing: normal;
	 margin: 20px 0;
}
 @media (max-width: 1199px) {
	 .eight-reasons-block .light_gray_section .inner_section p {
		 font-size: 34px;
		 margin: 15px 0;
	}
}
 @media (max-width: 991px) {
	 .eight-reasons-block .light_gray_section .inner_section p {
		 font-size: 30px;
	}
}
 @media (max-width: 479px) {
	 .eight-reasons-block .light_gray_section .inner_section p {
		 font-size: 22px;
	}
}
 .eight-reasons-block .light_gray_section .inner_section h2 {
	 font-family: "Domaine Regular", serif;
	 font-size: 50px;
	 font-stretch: normal;
	 font-style: normal;
	 line-height: 1;
	 letter-spacing: normal;
	 margin: 0;
}
 @media (max-width: 1199px) {
	 .eight-reasons-block .light_gray_section .inner_section h2 {
		 font-size: 40px;
	}
}
 @media (max-width: 991px) {
	 .eight-reasons-block .light_gray_section .inner_section h2 {
		 font-size: 30px;
	}
}
 @media (max-width: 479px) {
	 .eight-reasons-block .light_gray_section .inner_section h2 {
		 font-size: 22px;
	}
}
 .eight-reasons-block .light_gray_section .inner_section a.btn.shop_btn {
	 font-size: 16px;
	 font-weight: 500;
	 font-stretch: normal;
	 font-style: normal;
	 line-height: 0.75;
	 letter-spacing: normal;
	 color: #fff;
	 text-align: center;
	 padding: 22px 30px;
	 display: inline-block;
	 border-radius: 50px;
	 background: #0063ff;
	 border: solid 1px #0063ff;
}
 @media (max-width: 991px) {
	 .eight-reasons-block .light_gray_section .inner_section a.btn.shop_btn {
		 font-size: 14px;
		 padding: 18px;
		 min-width: 220px;
		 margin: 1rem auto;
	}
}
 .eight-reasons-block .light_gray_section .inner_section a.btn.shop_btn:hover {
	 background: none;
	 color: #0063ff;
}
 #shopify-section-eight-reasons-top {
	 background-color: #e9dbcd;
}
 .main-article h1 {
	 font-family: "Domaine Regular", serif;
	 font-size: 48px;
	 font-weight: 500;
}
 .main-article h1 p {
	 font-family: "Domaine Regular", serif;
	 font-weight: 500;
}
 @media (max-width: 1100px) {
	 .main-article h1 {
		 font-size: 36px;
	}
}
 @media (max-width: 1199px) {
	 .main-article h1 {
		 margin-top: 0;
	}
}
 @media (max-width: 375px) {
	 .main-article h1 {
		 font-size: 24px;
		 line-height: 1.21;
	}
}
 @media (max-width: 1100px) {
	 .main-article .eight-reasons-top-body p {
		 line-height: 1.25;
		 font-size: 16px;
	}
}
</style>
<section class="eightReasonsTopWrapper">

  <div class="innerWrapper">
      <div class="col halfWidth">
        {% if page.metafields.accentuate.eight_reasons_top_image != blank %}
          <div class="eight-reasons-top-img"><img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0313/4062/5964/files/eight-reasons---key-image---1.png?v=1625633802" alt=""/></div>
          {% endif %}
      </div>

      <div class="col halfWidth">
        <div class="col halfwidth article main-article">
          <header>
            <h1>
                {% if page.metafields.accentuate.eight_reasons_top_content != blank %}
                <div class="eight-reasons-top-header"> 
                  {{ page.metafields.accentuate.eight_reasons_top_content }} 
                  </div>          
                {% endif %}
            </h1>
            <p1>
                {% if page.metafields.accentuate.eight_reasons_top_body != blank %}
                <div class="eight-reasons-top-body"> 
                  {{ page.metafields.accentuate.eight_reasons_top_body }} 
                  </div>        
                {% endif %}
            </p1>
          </header>
          <footer>
                {% if page.metafields.accentuate.eight_reasons_top_cta != blank %}
           		 <a class="btn shop_btn" href="{{ page.metafields.accentuate.eight_reasons_top_cta }}">
                   {{ page.metafields.accentuate.eight_reasons_top_cta_field }}
            		</a>
        		{% endif %}
          </footer>
 		</div>
      </div>
	</div>
</section>


  
{% schema %}
  {
    "name": "Eight Reasons Top",
    "class": "eight-reasons-top",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Eight Reasons"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
	  {
        "type": "header",
        "content": "Our Choice of Undies"
      },
      {
        "type": "richtext",
        "id": "richtext",
        "label": "Text",
        "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
      },
	  {
        "type": "text",
        "id": "our_choice_t",
        "label": "Heading",
        "default": "Our Choice of Undies"
      },
      {
        "type": "text",
        "id": "link_btn",
        "label": "Shop"
      },
      {
        "type": "url",
        "id": "link",
        "label": "Link",
        "info": "Optional"
      }      
      
    ],
    "presets": [
      {
        "name": "Eight Reasons Top",
        "category": "Eight Reasons"
      }
    ]
  }
{% endschema %}
