<div class="faq_page">
  <div id="shopify-section-faq_banner-section" class="shopify-section faq_Main"><div class="faq_banner_block pageTop">
  <div class="ebyacfWrapper">
    <div class="pageHeading"><h1 style="text-align: center;">FAQ</h1></div>
  </div>
</div>



</div>
  <div id="shopify-section-faq_accordian-section" class="shopify-section faq_Main"><div class="faq_tab_main">
  <div class="borderfreeFaqLinkWrapper">
    <a class="borderfreeLink" href="https://www.borderfree.com/faq" target="_blank">International Shipping FAQ</a>
  </div>
  <ul class="collapsible cmsAccordion">
    <li>
        <h3 class="collapsible-header" tabindex="0">
          <span class="ebyicon-accordionToggle">&nbsp;</span>
          Brand And Product
        </h3>
        <ul class="collapsible-body active">
            <li>
                <ul class="collapsible cmsAccordion">
                    <li>
                        <h3 class="collapsible-header" tabindex="0">
                          <span class="ebyicon-accordionToggle">&nbsp;</span>
                          What is EBY?
                        </h3>
                        <ul class="collapsible-body">
                            <li>
                                <div class="acc_content">
                                    <div class="cont_text bfx-remove-element">
                                        <p>You tell us your panty size, style, and color preferences (check, check, check), and then we curate a beautiful box of seamless undies based on your picks! You can also customize your box each subscription period by selecting the “Custom Box” option. No worries! If you forget to choose your “Custom Box” selections, we will send you a mixed selection.</p>
                                        <p>We’ll send you your EBY box Quarterly ($39/3 months), or Semi-Annually ($65/6 months) – whichever you choose. Never worry about running out of clean undies again!</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <h3 class="collapsible-header" tabindex="0">
                          <span class="ebyicon-accordionToggle">&nbsp;</span>
                          What is your mission?
                        </h3>
                        <ul class="collapsible-body">
                            <li>
                                <div class="acc_content">
                                    <div class="cont_text">
                                        <p>We’re here to empower women, on repeat.</p>
                                        <ol>
                                            <li>Creating seamless intimates that fit your body perfectly and leave you feeling ready to take on the world, sans panty line. Stepping into your EBY’s = stepping into your power.</li>
                                            <li>Funding microfinance loans for women all over the world. Ten percent of every EBY purchase funds loans for women through the Seven Bar Foundation. These women start businesses, lift up their communities, and break the cycle of poverty. <a href="https://shop.join-eby.com/pages/microfinance">Watch Their Stories</a></li>
                                            <li>The relentless pursuit of empowerment. Members will receive weekly power tips on topics like confidence, getting sh*t done, and living the life of your dreams, and that’s just the beginning.</li>
                                        </ol>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <h3 class="collapsible-header" tabindex="0">
                          <span class="ebyicon-accordionToggle">&nbsp;</span>
                          Where are EBY’s made?
                        </h3>
                        <ul class="collapsible-body">
                            <li>
                                <div class="acc_content">
                                    <div class="cont_text bfx-remove-element">
                                        <p>EBYs are made in our factory in Sri Lanka, which upholds all UN Women’s Empowerment Principles and prides itself on a multifaceted Women Go Beyond Program. We have a personal relationship with our factory - after all, we make intimate apparel. Mutual respect and a commitment to collective wellbeing are sewn into every EBY garment.</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <h3 class="collapsible-header" tabindex="0">
                          <span class="ebyicon-accordionToggle">&nbsp;</span>
                          What’s the material?
                        </h3>
                        <ul class="collapsible-body">
                            <li>
                                <div class="acc_content">
                                    <div class="cont_text bfx-remove-element">
                                        <p>EBYs are 85% nylon and 15% spandex, with a cotton-lining to keep your lady parts healthy. Think equal parts soft and stretch, for a seamless fit that moves with you. Our performance based fabric is made for comfort first, and perfect for everyday wear.</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <h3 class="collapsible-header" tabindex="0">
                          <span class="ebyicon-accordionToggle">&nbsp;</span>
                          What sizes do you carry?
                        </h3>
                        <ul class="collapsible-body">
                            <li>
                                <div class="acc_content">
                                    <div class="cont_text bfx-remove-element">
                                        <p>EBYs come in sizes XS - 4X because we want ALL the ladies in our crew. We want you to be completely obsessed with your EBYs, so we also offer a 100% Fit Guarantee.</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <h3 class="collapsible-header" tabindex="0">
                          <span class="ebyicon-accordionToggle">&nbsp;</span>
                          What’s so special about EBY?
                        </h3>
                        <ul class="collapsible-body">
                            <li>
                                <div class="acc_content">
                                    <div class="cont_text bfx-remove-element">
                                        <p>EBYs are the best seamless undies you’ve ever worn. Our secret weapon is a no-slip grip. This innovative technology lines the inside of every panty, so it stays in place and moves with you. You can also expect a buttery-smooth feel, no visible panty lines ever, and a collection of styles &amp; designs to suit your every mood.</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <h3 class="collapsible-header" tabindex="0">
                          <span class="ebyicon-accordionToggle">&nbsp;</span>
                          What underwear styles do you carry, and what’s the difference?
                        </h3>
                        <ul class="collapsible-body">
                            <li>
                                <div class="acc_content">
                                    <div class="cont_text">
                                        <div class="cont_text_block">
                                            <div class="cont_text_block_img"><img src="https://cdn.shopify.com/s/files/1/0313/4062/5964/files/thong_01.jpg?v=1598364964" alt="" class="fr-fic fr-dii"></div>
                                            <div class="cont_text_block_content">
                                                <p><strong>Thong</strong> With a flattering curve, this perfect piece contours your body leaving absolutely no visible panty lines.</p>
                                            </div>
                                        </div>
                                        <div class="cont_text_block">
                                            <div class="cont_text_block_img"><img src="https://cdn.shopify.com/s/files/1/0313/4062/5964/files/bikini_01.jpg?v=1598364987" alt="" class="fr-fic fr-dii"></div>
                                            <div class="cont_text_block_content">
                                                <p><strong>Bikini</strong> Full coverage support with a high cut leg opening, to show off those fab legs of yours.</p>
                                            </div>
                                        </div>
                                        <div class="cont_text_block">
                                            <div class="cont_text_block_img"><img src="https://cdn.shopify.com/s/files/1/0313/4062/5964/files/brief_01.jpg?v=1598365003" alt="" class="fr-fic fr-dii"></div>
                                            <div class="cont_text_block_content">
                                                <p><strong>Brief</strong> Full coverage and serious comfort with this ultra-smooth, modest rise brief. Sizes XS-XL.</p>
                                            </div>
                                        </div>
                                        <div class="cont_text_block">
                                            <div class="cont_text_block_img"><img src="https://cdn.shopify.com/s/files/1/0313/4062/5964/files/full_brief_01.jpg?v=1598365026" alt="" class="fr-fic fr-dii"></div>
                                            <div class="cont_text_block_content">
                                                <p><strong>Full Coverage Brief</strong> Ultra-smooth, medium rise, and super-flattering. Hugs in all the right places with no pinch. Sizes 1X-4X.</p>
                                            </div>
                                        </div>
                                        <div class="cont_text_block">
                                            <div class="cont_text_block_img"><img src="https://cdn.shopify.com/s/files/1/0313/4062/5964/files/high_waisted_01.jpg?v=1598365042" alt="" class="fr-fic fr-dii"></div>
                                            <div class="cont_text_block_content">
                                                <p><strong>High Waisted</strong> The perfect high rise panty. Extra support to smooth out any unevenness and accentuate your curves for a flawless silhouette.</p>
                                            </div>
                                        </div>
                                        <div class="cont_text_block">
                                            <div class="cont_text_block_img"><img src="https://cdn.shopify.com/s/files/1/0313/4062/5964/files/black-Cheeky_01.jpg?v=1598365093" alt="" class="fr-fic fr-dii"></div>
                                            <div class="cont_text_block_content">
                                                <p><strong>Cheeky</strong> With a low-rise front and slim bum coverage, this style gives you just the right amount of sass.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <h3 class="collapsible-header" tabindex="0">
                          <span class="ebyicon-accordionToggle">&nbsp;</span>
                          You also have a seamless bralette? Tell me more!
                        </h3>
                        <ul class="collapsible-body">
                            <li>
                                <div class="acc_content">
                                    <div class="cont_text">
                                        <p>Yes! The Bralette is completely seamless, supportive for everyday wear, ultra-soft, and crafted for comfort. <a href="https://shop.join-eby.com/products/black-bralette">Shop The Bralette</a></p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <h3 class="collapsible-header" tabindex="0">
                          <span class="ebyicon-accordionToggle">&nbsp;</span>
                          How do I care for my EBYs?
                        </h3>
                        <ul class="collapsible-body">
                            <li>
                                <div class="acc_content">
                                    <div class="cont_text">
                                        <p>Treat them how we’d all like to be treated - with tenderness and care. Machine wash on delicate. Lay flat to dry.</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <h3 class="collapsible-header" tabindex="0">
                          <span class="ebyicon-accordionToggle">&nbsp;</span>
                          You have a Fit Guarantee, what’s that?
                        </h3>
                        <ul class="collapsible-body">
                            <li>
                                <div class="acc_content">
                                    <div class="cont_text">
                                        <p>We want you to be completely obsessed with your EBY If your first order doesn’t fit right or sit right, you can contact our team of bonafide Fit Experts within 30 days of receipt, who will match you with exactly the right size and style for your body. We’ll send you a sample to try in a new size within a week.</p>
                                        <p>Please note: Final sale items are not eligible for Fit Guarantee.</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <h3 class="collapsible-header" tabindex="0">
                          <span class="ebyicon-accordionToggle">&nbsp;</span>
                          Why should I switch to EBY?
                        </h3>
                        <ul class="collapsible-body">
                            <li>
                                <div class="acc_content">
                                    <div class="cont_text">
                                        <p>Pull up a seat! There are so many stand-out reasons, we thought this Q deserved its own page. <a href="https://shop.join-eby.com/pages/our-product">See why we stand out from the rest</a></p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <h3 class="collapsible-header" tabindex="0">
                          <span class="ebyicon-accordionToggle">&nbsp;</span>
                          Why does your website look different?
                        </h3>
                        <ul class="collapsible-body">
                            <li>
                                <div class="acc_content">
                                    <div class="cont_text">
                                        <p>We did a little inner-work of our own, and we’re coming back as fierce as ever. Welcome to the refresh. What’s new? The look, the feel, the expanded membership options, the à la carte shopping, and more. What hasn’t changed? Our commitment to perfect, seamless undies, and our mission to empower women all over the world.</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <h3 class="collapsible-header" tabindex="0">
                          <span class="ebyicon-accordionToggle">&nbsp;</span>
                          Do you sell gift cards?
                        </h3>
                        <ul class="collapsible-body">
                            <li>
                                <div class="acc_content">
                                    <div class="cont_text">
                                        <p>We do not sell gift cards, but we hope to someday soon.</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
    <li class="ebymembershipHide bfx-remove-element">
        <h3 class="collapsible-header" tabindex="0">
          <span class="ebyicon-accordionToggle">&nbsp;</span>
          Membership
        </h3>
        <ul class="collapsible-body">
            <li>
                <ul class="collapsible cmsAccordion">
                    <li>
                        <h3 class="collapsible-header" tabindex="0">
                          <span class="ebyicon-accordionToggle">&nbsp;</span>
                          What is the difference between an account and a membership?
                        </h3>
                        <ul class="collapsible-body">
                            <li>
                                <div class="acc_content">
                                    <div class="cont_text">
                                        <p>An account allows you to see your orders in one place. You can also earn Power Points for orders placed and easily check out with your saved profile information.</p>
                                        <p>Membership is meant to provide all you busy, hardworking babes with ease. Why get your panties in a bunch when you could get new panties shipped to your door? You’ll receive your new favorite EBYs regularly, without any additional thought or effort on your part.</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <h3 class="collapsible-header" tabindex="0">
                          <span class="ebyicon-accordionToggle">&nbsp;</span>
                          How Does The Membership Work?
                        </h3>
                        <ul class="collapsible-body">
                            <li>
                                <div class="acc_content">
                                    <div class="cont_text">
                                        <p>To get started, click <a href="/pages/get-your-box">to take our styles quiz</a>. Choose your must-have fit, favorite colors, and how often you’d like delivery, and we’ll curate a collection just for you. With our quarterly membership, you will receive 3 pairs of EBYs for $39 every 3 months. With our semi-annual membership, you’ll receive 5 pairs of EBYs for $65 every 6 months. Your subscription is automatically renewed each cycle, so you never have to worry about shopping for undies again.</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <h3 class="collapsible-header" tabindex="0">
                          <span class="ebyicon-accordionToggle">&nbsp;</span>
                          What Are The Perks of Membership?
                        </h3>
                        <ul class="collapsible-body">
                            <li>
                                <div class="acc_content">
                                    <div class="cont_text">
                                        <p>When you subscribe, you pay 25% less for your box of seamless undies. Also, you’ll enjoy full access to ALL products in VIP Shopping, at a special members-only discount. We’ve got you covered on shipping - it’s always free with your subscription box. You can skip a month or cancel any time. Members also get weekly power tips on how to embody your fiercest self. Plus, when you subscribe, you put your positive impact on repeat. 10% of proceeds for every panty sold goes to empower a woman into business and out of poverty. More EBYs for you = more loans for her.</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <h3 class="collapsible-header" tabindex="0">
                          <span class="ebyicon-accordionToggle">&nbsp;</span>
                          How do I become a member?
                        </h3>
                        <ul class="collapsible-body">
                            <li>
                                <div class="acc_content">
                                    <div class="cont_text">
                                        <p>To become a member, simply sign up for an EBY subscription. You have multiple choices of the type of box you will receive every 3 or 6 months. You will enjoy Free Shipping and discounts on our website, Always!</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <h3 class="collapsible-header" tabindex="0">
                          <span class="ebyicon-accordionToggle">&nbsp;</span>
                          What Is VIP Shopping?
                        </h3>
                        <ul class="collapsible-body">
                            <li>
                                <div class="acc_content">
                                    <div class="cont_text">
                                        <p>VIP shopping is an experience we provide that allows our members to purchase our products on demand at a special discount, any time in between their subscription boxes. VIP will include member-only styles and prints, and give early access for all new releases!</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <h3 class="collapsible-header" tabindex="0">
                          <span class="ebyicon-accordionToggle">&nbsp;</span>
                          Can I modify my Subscription?
                        </h3>
                        <ul class="collapsible-body">
                            <li>
                                <div class="acc_content">
                                    <div class="cont_text">
                                        <p>Absolutely. You can always change your subscription preferences when you make an account with us. Please note that any modifications must be made between the 1st and the 28th day of the month to reflect your next shipment. If you have questions, give us a call at 888.848.1454 or email us at <a href="mailto:seamlesssupport@join-eby.com">seamlesssupport@join-eby.com</a>. We’re always happy to talk you through it!</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <h3 class="collapsible-header" tabindex="0">
                          <span class="ebyicon-accordionToggle">&nbsp;</span>
                          What's the Difference between Joining as a Member and One Time Purchasing?
                        </h3>
                        <ul class="collapsible-body">
                            <li>
                                <div class="acc_content">
                                    <div class="cont_text">
                                        <p>Membership is meant to provide all you busy, hardworking babes with ease. Why get your panties in a bunch when you could get new panties shipped to your door? You’ll receive your new favorite EBYs regularly, without any additional thought or effort on your part.</p>
                                        <p>Nervous about commitment? We’ve been there. EBYs are also available à la carte. You can purchase whatever you want, whenever you want. Please note that members receive discounts and special perks like free shipping and early access on new styles and prints. You can always try us now, and join us later.</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <h3 class="collapsible-header" tabindex="0">
                          <span class="ebyicon-accordionToggle">&nbsp;</span>
                          How Do I know What Size and Style Will Fit me Perfectly?
                        </h3>
                        <ul class="collapsible-body">
                            <li>
                                <div class="acc_content">
                                    <div class="cont_text">
                                        <p>EBY offers a variety of different cuts, fits, styles and sizes - something for everybody. Refer to our <span class="siz_guid">Size Chart</span> to find your perfect fit. As a general rule, if you tend to fall between sizes, size up. Check our <span class="styl_guid">Styles Guide</span> for complete descriptions of each style. If you’d like some assistance, please contact our Fit Experts, that’s what they’re here for. You can call us at 888.848.1454, or email us at <a href="mailto:seamlesssupport@join-eby.com">seamlesssupport@join-eby.com</a>.</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <h3 class="collapsible-header" tabindex="0">
                          <span class="ebyicon-accordionToggle">&nbsp;</span>
                          Will I ever receive Repeat Prints or Colors?
                        </h3>
                        <ul class="collapsible-body">
                            <li>
                                <div class="acc_content">
                                    <div class="cont_text">
                                        <p>We strive to consistently offer our members new prints and colors to look forward to, but depending on the color preferences you selected, you may receive duplicates from time to time. If you are receiving repeat prints and aren’t a fan, please contact us directly.</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <h3 class="collapsible-header" tabindex="0">
                          <span class="ebyicon-accordionToggle">&nbsp;</span>
                          How Do You Choose What Goes in the Subscription Box?
                        </h3>
                        <ul class="collapsible-body">
                            <li>
                                <div class="acc_content">
                                    <div class="cont_text">
                                        <p>You tell us - and we listen! Our professional panty-curators put together a selection based on your answers to your Styles Quiz. Or if you choose our Custom Box option, you pick each panty style and color on your own.</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <h3 class="collapsible-header" tabindex="0">
                          <span class="ebyicon-accordionToggle">&nbsp;</span>
                          How do I change My Account Information?
                        </h3>
                        <ul class="collapsible-body">
                            <li>
                                <div class="acc_content">
                                    <div class="cont_text">
                                        <p>Sign into your account. The Account Settings are listed on the left side of the page. You can edit your Profile Info, Credit Card, and Billing and Shipping address’ as well as change your password from there.</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <h3 class="collapsible-header" tabindex="0">
                          <span class="ebyicon-accordionToggle">&nbsp;</span>
                          What if I forget my Password?
                        </h3>
                        <ul class="collapsible-body">
                            <li>
                                <div class="acc_content">
                                    <div class="cont_text">
                                        <p>No problem. Just below the Sign In prompt is a link called “Forgot Password”. Click on it and an email to reset your password will be sent to the email you created the account under.</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <h3 class="collapsible-header" tabindex="0">
                          <span class="ebyicon-accordionToggle">&nbsp;</span>
                          I still have trouble signing in, what should I do?
                        </h3>
                        <ul class="collapsible-body">
                            <li>
                                <div class="acc_content">
                                    <div class="cont_text">
                                        <p>No problem. Just below the Sign In prompt is a link called “Having Trouble Signing In?””. Click on it and enter the email associated with your account and a temporary password. An email invitation to reactivate your account on our new site will be sent to you.</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
    <li>
        <h3 class="collapsible-header" tabindex="0">
          <span class="ebyicon-accordionToggle">&nbsp;</span>
          Billing &amp; Shipping
        </h3>
        <ul class="collapsible-body">
            <li>
                <ul class="collapsible cmsAccordion">
                    <li>
                        <h3 class="collapsible-header" tabindex="0">
                          <span class="ebyicon-accordionToggle">&nbsp;</span>
                          What Forms of Payment Do you Accept?
                        </h3>
                        <ul class="collapsible-body">
                            <li>
                                <div class="acc_content">
                                    <div class="cont_text">
                                        <p>
                                            We accept Visa, MasterCard, American Express, and Discover. <!--, Apple Pay, Android Pay and Amazon Pay.-->We do not accept PayPal or pre‑paid cards at this time, but we’re working on it!
                                        </p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <h3 class="collapsible-header" tabindex="0">
                          <span class="ebyicon-accordionToggle">&nbsp;</span>
                          I See 'Stripe' on My Bank Statement?
                        </h3>
                        <ul class="collapsible-body">
                            <li>
                                <div class="acc_content">
                                    <div class="cont_text">
                                        <p>Stripe is one of our payment partners. In some cases, you may see “Stripe,” on your credit card statement within the first 24 hours of placing your order. Within a day, EBY should appear on your statement in its place. If you have any questions or concerns about this, just send us an email and we’ll chat it through.</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <h3 class="collapsible-header" tabindex="0">
                          <span class="ebyicon-accordionToggle">&nbsp;</span>
                          Where Do You Ship?
                        </h3>
                        <ul class="collapsible-body">
                            <li>
                                <div class="acc_content">
                                    <div class="cont_text">
                                        <p>We currently ship to all states and territories In the United States, including Puerto Rico. Shipping to locations outside of the continental US may take up to 4 weeks from shipping date.</p>
                                        <p>We now also offer international shipping to Canada! We have plans to send these amazing undies all over the world. Send us an email at <a href="mailto:seamlesssupport@join-eby.com">seamlesssupport@join-eby.com</a> and let us know where you’re from and we’ll make sure we add your hometown to our list.</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <h3 class="collapsible-header bfx-remove-element" tabindex="0">
                          <span class="ebyicon-accordionToggle">&nbsp;</span>
                          Do You Offer Free Shipping?
                        </h3>
                        <ul class="collapsible-body">
                            <li>
                                <div class="acc_content">
                                    <div class="cont_text">
                                        <p>On Orders over $100, your EBYs will ship free.</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <h3 class="collapsible-header bfx-remove-element" tabindex="0">
                          <span class="ebyicon-accordionToggle">&nbsp;</span>
                          Shipping Rates and Times
                        </h3>
                        <ul class="collapsible-body">
                            <li>
                                <div class="acc_content">
                                    <div class="cont_text">
                                        <p>Orders under $100 are charged a $5 shipping fee. Once your order ships it will take approx. 5 – 10 business days to reach you. Orders are transferred from the shipping carrier to the post office for final delivery. Please note: Orders outside of the continental US may take up to 4 weeks to arrive.</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <h3 class="collapsible-header" tabindex="0">
                          <span class="ebyicon-accordionToggle">&nbsp;</span>
                          My Package hasn’t arrived. What should I do?
                        </h3>
                        <ul class="collapsible-body">
                            <li>
                                <div class="acc_content">
                                    <div class="cont_text">
                                        <p>Use our <a href="https://egain.hsn.com/system/templates/selfservice/hsn/help/customer/locale/en-US/portal/250700000001003/content/PROD-2324/How-can-I-track-my-order-on-HSNcom" target="_blank">order tracking service</a> to stay on top of your orders and follow your package from our place to yours. Most of our packages arrive in 5-10 business days from the date the order was shipped, however, some orders may take longer to arrive due to, location, weather conditions, shipping volume etc. Please allow up to 15 days from the ship date for your order to arrive. Your order will be delivered by your local Post office in most instances. If you have not received it by then, contact Customer Service at <a href="tel:1-888-848-1454">1-888-848-1454</a> (9am – 5pm ET Mon - Fri) or email us at <a href="mailto:seamlesssupport@join-eby.com">seamlesssupport@join-eby.com</a> for assistance.</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <h3 class="collapsible-header" tabindex="0">
                          <span class="ebyicon-accordionToggle">&nbsp;</span>
                          Why is There No Packing Slip in My Shipment
                        </h3>
                        <ul class="collapsible-body">
                            <li>
                                <div class="acc_content">
                                    <div class="cont_text">
                                        <p>Not only do we strive to empower women, but we’re also trying to minimize our carbon footprint. In an effort to do our part by Mother Nature, we like to reduce paper whenever possible.</p>
                                        <p>You should have received a copy of your order info in your email confirmation after you placed the order.</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
    <li class="ebyReturnsFaqWrapper">
        <h3 class="collapsible-header" tabindex="0">
          <span class="ebyicon-accordionToggle">&nbsp;</span>
          Returns, Cancellations, Skipping
        </h3>
        <ul class="collapsible-body">
            <li>
                <ul class="collapsible cmsAccordion">
                    <li class="autoOpen">
                        <h3 class="collapsible-header" tabindex="0">
                          <span class="ebyicon-accordionToggle">&nbsp;</span>
                          Can I Return an Item?
                        </h3>
                        <ul class="collapsible-body">
                            <li>
                                <div class="acc_content">
                                    <div class="cont_text">
                                        <p>If you’re not 100% happy with your purchase, we're here to help. All unopened, full-priced items are eligible for return, postmarked within 30 days of receiving your order. Items must be unworn, unwashed, and undamaged. Returns must be authorized through our Return Portal or you can reach out to us at <a href="tel:888.848.1454">888.848.1454</a> or <a href="mailto:seamlesssupport@join-eby.com">seamlesssupport@join-eby.com</a> and we’ll be happy to assist you with your return and find you the perfect fit.</p>
                                        <p>Items purchased during site-wide sale are not eligible for a refund or exchange.</p>
                                        <p>Unauthorized returns/exchanges or worn items will not be processed nor will unauthorized returns/exchanges or worn items be forwarded back to you.</p>
                                        <p>Outbound shipping costs are not refundable.</p>
                                        <p><strong>About our Fit Guarantee</strong></p>
                                        <p>We believe so strongly in our product that if you're not 100% happy with the fit, we're here to help. Our team of bonafide Fit Experts will match you with exactly the right size and style for your body and will send you the perfect fit!</p>
                                        <p>Your first return/exchange on an order is on us! Any subsequent returns on the same order will be charged a $5 Return Label/Restock Fee which will be deducted directly from your refund.</p>
                                        <p>Please inspect your order upon arrival and contact us no later than 30 days from receipt if there are any defects of damage noted, or an incorrect item was sent. We will make it right!</p>
                                        <p>Any item received postmarked after 30 days of receiving your order are eligible for Store Credit only.</p>
                                        <p>Any returns for subscription box or packs must include all original order items.</p>
                                        <p>If you received an item in your Member Subscription that doesn’t work for you, please contact customer service at <a href="tel:888.848.1454">888.848.1454</a>. We will be happy to work with you to make sure your current Box type is the best choice for you going forward.</p>
                                        <p>Please Note: Subscription box exchanges are limited exchange for sizing only.</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <h3 class="collapsible-header" tabindex="0">
                          <span class="ebyicon-accordionToggle">&nbsp;</span>
                          How Long Does It Take a Refund to Process?
                        </h3>
                        <ul class="collapsible-body">
                            <li>
                                <div class="acc_content">
                                    <div class="cont_text">
                                        <p>Once a refund is issued, you should see the amount returned to your account in 5-10 days. We can offer a store credit as well if you would like to shop immediately.</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <h3 class="collapsible-header" tabindex="0">
                          <span class="ebyicon-accordionToggle">&nbsp;</span>
                          Can I cancel an order?
                        </h3>
                        <ul class="collapsible-body">
                            <li>
                                <div class="acc_content">
                                    <div class="cont_text">
                                        <p>In some instances, yes you can. Please contact us at 888.848.1454 or <a href="mailto:seamlesssupport@join-eby.com">seamlesssupport@join-eby.com</a> as soon as possible to cancel your order. If an order has already reached the processing stage, we are unable to cancel it, and it will ship. But we will assist you in returning it once you receive it.</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <h3 class="collapsible-header bfx-remove-element" tabindex="0">
                          <span class="ebyicon-accordionToggle">&nbsp;</span>
                          How do I cancel My Subscription?
                        </h3>
                        <ul class="collapsible-body">
                            <li>
                                <div class="acc_content">
                                    <div class="cont_text">
                                        <p>We hate to see you go, but circumstances change, we get it! Please contact us at 888.848.1454 or <a href="mailto:seamlesssupport@join-eby.com">seamlesssupport@join-eby.com</a> to cancel your subscription. Please include your name, email and your reasoning for cancelling. At the time of cancellation, you may have an order already processing and once shipped, you will be billed. Our customer service team will ask if you would like to continue with your last shipment or cancel it - if it is not already processing.</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li>
                          <span class="ebyicon-accordionToggle">&nbsp;</span>
                        <h3 class="collapsible-header bfx-remove-element" tabindex="0">How Do I Skip a Shipment?
                        </h3>
                        <ul class="collapsible-body">
                            <li>
                                <div class="acc_content">
                                    <div class="cont_text">
                                        <p>You are in control! If you would like to skip a shipment and retain your VIP perks, simply log in to your account, and select “Skip” found under My Membership to skip one full cycle (3 or 6 months). You can use this feature up to the last day of the month before your subscription is due to renew for the skip to take effect in your current cycle. Hint: check your "Next Box" date in your dashboard. If this says August, you have until July 31st to skip and not receive your August shipment.</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
    <li id="contact-us">
        <h3 class="collapsible-header" tabindex="0">
          <span class="ebyicon-accordionToggle">&nbsp;</span>
          EBY Emissaries
        </h3>
        <ul class="collapsible-body">
            <li>
                <ul class="collapsible cmsAccordion">
                    <li>
                        <h3 class="collapsible-header" tabindex="0">
                          <span class="ebyicon-accordionToggle">&nbsp;</span>
                          What's The Ambassador Program?
                        </h3>
                        <ul class="collapsible-body">
                            <li>
                                <div class="acc_content">
                                    <div class="cont_text">
                                        <!--<p>We are so excited about our new ambassador program! Around here, we call our ambassadors EBY Emissaries. An Emissary is a person on a mission. Our Emissaries help spread the word about EBY&rsquo;s undies and initiatives. In return, they get free undies, swag, and the opportunity to attend exclusive events. Most importantly, though, they see how their actions empower others and get to witness real results for real women &mdash; women just like you! To learn more about joining our community, <a href="/emissary">click here</a>.</p>-->
                                        <p>We are so excited about our new ambassador program! Around here, we call our ambassadors EBY Emissaries. An Emissary is a person on a mission. Our Emissaries help spread the word about EBY’s undies and initiatives. In return, they get free undies, swag, and the opportunity to attend exclusive events. Most importantly, though, they see how their actions empower others and get to witness real results for real women — women just like you!</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <h3 class="collapsible-header" tabindex="0">
                          <span class="ebyicon-accordionToggle">&nbsp;</span>
                          What Is The Confidence Project?
                        </h3>
                        <ul class="collapsible-body">
                            <li>
                                <div class="acc_content">
                                    <div class="cont_text">
                                        <p>As a women’s empowerment brand, EBY is in the business of being an access to power to our members. Our brand promise is, 'The longer she is with us, the more powerful she becomes.'</p>
                                        <p>We’ve learned firsthand, in order to have real transformation, we have to commit to accessing our power daily, on repeat. It’s an everyday practice. The Confidence Project, TCP, is an intimate, provocative and deeply moving exploration of how we have all fallen victim of uncertain circumstances. TCP provides women with the access to step into their power through moving content that connects our community and sparks conversation about the topics we care about most.</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
    <li class="ebyContactFaqWrapper">
        <h3 class="collapsible-header" tabindex="0">
          <span class="ebyicon-accordionToggle">&nbsp;</span>
          Contact Us
        </h3>
        <ul class="collapsible-body">
            <li>
                <ul class="collapsible cmsAccordion">
                    <li class="ebyContactFaqWrapperTwo">
                        <h3 class="collapsible-header" tabindex="0">
                          <span class="ebyicon-accordionToggle">&nbsp;</span>
                          How Do I Talk To A Real Person?
                        </h3>
                        <ul class="collapsible-body">
                            <li>
                                <div class="acc_content">
                                    <div class="cont_text">
                                        <p>You can contact one of our Undie Experts several ways:</p>
                                        <ul>
                                            <li>Email <a href="mailto:seamlesssupport@join-eby.com">seamlesssupport@join-eby.com</a></li>
                                            <li><a class="c_link ebyChatLink" href="#">Chat</a></li>
                                        </ul>
                                        <p>Our customer service team is available Monday through Friday between 9-5pm est. We are closed on major holidays and weekends, but rest assured we will contact you when we return. Send us a message!</p>
                                        <!--<p>Please be advised that response times are currently taking longer than usual due to the Holidays and we will respond as soon as possible. Thank you for understanding!</p>-->
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
</ul>
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "FAQPage",
  "mainEntity": [{
    "@type": "Question",
    "name": "Promotions & Policies",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "International orders are not eligible for:

Free Shipping
Free Returns
Merchandise Exchanges
Promotional Codes
Fit Guarantee
Other promotional restrictions may apply. Please contact customer service with any questions."
    }
  },{
    "@type": "Question",
    "name": "How to Order",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Confirm or change your country by clicking the country flag or name at the top/bottom? of any page.

Start shopping! When you check out, your financial transaction and shipment will be processed by BorderFree. You'll see a guaranteed order total, including all shipping costs and any applicable duties and taxes.

If you are shipping to a U.S. or an APO/FPO address, simply proceed through the regular United States Checkout process."
    }
  },{
    "@type": "Question",
    "name": "Check Order Status",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "To check the status of an international order, please call 1.888-848-1454 or look it up online through Borderfree."
    }
  },{
    "@type": "Question",
    "name": "Exchange Rates",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Your order total is guaranteed at the exchange rate set when your order is placed. Foreign exchange rates are determined by Borderfree and are based on interbank rates of exchange. These rates correspond with the average aggregate exchange rates that would otherwise be applied in an e-commerce transaction.

Exchange rates are updated by Borderfree every day. You'll receive a message if exchange rates have been updated while you're shopping."
    }
  },{
    "@type": "Question",
    "name": "Duties & Taxes",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "International taxes, tariffs and value-added tax (VAT) will be calculated into your final order total during Checkout. They are based on the purchased merchandise's country of origin or manufacturing and the classification of that merchandise in accordance with a harmonized system used by the countries that Borderfree supports. You have the option to pay these required charges during Checkout. If the charges are paid at Checkout, the order total (merchandise landed cost) is guaranteed by Borderfree and you are not required to pay any additional fees (no COD) at the time of order delivery."
    }
  },{
    "@type": "Question",
    "name": "Payment Methods",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Currently, Borderfree supports Visa, MasterCard®, American Express®, and more with additional payment options coming soon. Payment methods vary by destination; you'll see all your options during Checkout."
    }
  },{
    "@type": "Question",
    "name": "Shipping Options & Charges",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "International shipping costs will be calculated and guaranteed by Borderfree based on the items you are purchasing, your chosen shipping method and your shipping destination.

Unfortunately, Borderfree can't offer free shipping to international destinations.

International customers may ship to multiple addresses by placing a separate order for each shipping address. Borderfree can't ship single international orders to multiple addresses at this time."
    }
  },{
    "@type": "Question",
    "name": "Shipping Timeline",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Once your transaction is complete, EBY will ship your item to the Borderfree shipping hub in the United States. Borderfree then ships your order to its final international destination.

Most in-stock items will arrive 5-13 business days after receipt of your order. You'll see a shipping range specific to your destination in Checkout.

Please note that shipping windows are estimates and delivery dates cannot be guaranteed.

Once your order ships from the Borderfree Hub you will receive your package tracking information directly from Borderfree."
    }
  },{
    "@type": "Question",
    "name": "Returns & Exchanges",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Orders shipped internationally aren't eligible for free returns or merchandise exchanges; return shipping and handling fees will be deducted from your refund. Original shipping fees are nonrefundable.

For a refund that includes duties, taxes and tariffs, EBY can help with your Borderfree return. Please contact EBY Customer Service ask them to send you a Return Merchandise Authorization form. Mail the completed form with your item(s) to Borderfree. Your account will be credited when the return is received at Borderfree. You will also receive an email to confirm that the return has been completed. If you selected to pay duties and taxes at time of delivery (COD), you will not be credited for original duties and taxes paid.

If you choose to return international orders directly to EBY, you will receive a refund for the merchandise from Borderfree but not duties, taxes or tariffs. If you have any problems with your order, please contact Borderfree or us within 45 days to resolve the issue."
    }
  },{
    "@type": "Question",
    "name": "What is EBY?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "You tell us your panty size, style, and color preferences (check, check, check), and then we curate a beautiful box of seamless undies based on your picks! You can also customize your box each subscription period by selecting the “Custom Box” option. No worries! If you forget to choose your “Custom Box” selections, we will send you a mixed selection.

We’ll send you your EBY box Quarterly ($39/3 months), or Semi-Annually ($65/6 months) – whichever you choose. Never worry about running out of clean undies again!

We’re here to empower women.

1. Creating seamless intimates that fit your body perfectly and leave you feeling ready to take on the world, sans panty line. Stepping into your EBY’s = stepping into your power.
2. Funding microfinance loans for women all over the world. Ten percent of every EBY purchase funds loans for women through the Seven Bar Foundation. These women start businesses, lift up their communities, and break the cycle of poverty. Watch Their Stories
3. The relentless pursuit of empowerment. Members will receive weekly power tips on topics like confidence, getting sh*t done, and living the life of your dreams, and that’s just the beginning."
    }
  },{
    "@type": "Question",
    "name": "What is your mission?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "We’re here to empower women, on repeat.

1. Creating seamless intimates that fit your body perfectly and leave you feeling ready to take on the world, sans panty line. Stepping into your EBY’s = stepping into your power.
2. Funding microfinance loans for women all over the world. Ten percent of every EBY purchase funds loans for women through the Seven Bar Foundation. These women start businesses, lift up their communities, and break the cycle of poverty. Watch Their Stories
3. The relentless pursuit of empowerment. Members will receive weekly power tips on topics like confidence, getting sh*t done, and living the life of your dreams, and that’s just the beginning."
    }
  },{
    "@type": "Question",
    "name": "Where are EBY’s made?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "EBYs are made in our factory in Sri Lanka, which upholds all UN Women’s Empowerment Principles and prides itself on a multifaceted Women Go Beyond Program. We have a personal relationship with our factory - after all, we make intimate apparel. Mutual respect and a commitment to collective wellbeing are sewn into every EBY garment.

EBYs are made in our factory in Sri Lanka, which upholds all UN Women’s Empowerment Principles and prides itself on a multifaceted Women Go Beyond Program. We have a personal relationship with our factory - after all, we make intimate apparel. Mutual respect and a commitment to collective wellbeing are sewn into every EBY garment."
    }
  },{
    "@type": "Question",
    "name": "What’s the material?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "EBYs are 85% nylon and 15% spandex, with a cotton-lining to keep your lady parts healthy. Think equal parts soft and stretch, for a seamless fit that moves with you. Our performance based fabric is made for comfort first, and perfect for everyday wear.

EBYs are 85% nylon and 15% spandex, with a cotton-lining to keep your lady parts healthy. Think equal parts soft and stretch, for a seamless fit that moves with you. Our performance based fabric is made for comfort first, and perfect for everyday wear."
    }
  },{
    "@type": "Question",
    "name": "What sizes do you carry?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "EBYs come in sizes XS - 4X because we want ALL the ladies in our crew. We want you to be completely obsessed with your EBYs, so we also offer a 100% Fit Guarantee."
    }
  },{
    "@type": "Question",
    "name": "What’s so special about EBY?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "EBYs are the best seamless undies you’ve ever worn. Our secret weapon is a no-slip grip. This innovative technology lines the inside of every panty, so it stays in place and moves with you. You can also expect a buttery-smooth feel, no visible panty lines ever, and a collection of styles & designs to suit your every mood.

EBYs are the best seamless undies you’ve ever worn. Our secret weapon is a no-slip grip. This innovative technology lines the inside of every panty, so it stays in place and moves with you. You can also expect a buttery-smooth feel, no visible panty lines ever, and a collection of styles & designs to suit your every mood."
    }
  },{
    "@type": "Question",
    "name": "What underwear styles do you carry, and what’s the difference?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Thong
With a flattering curve, this perfect piece contours your body leaving absolutely no visible panty lines.

Bikini
Full coverage support with a high cut leg opening, to show off those fab legs of yours.

Brief
Full coverage and serious comfort with this ultra-smooth, modest rise brief. Sizes XS-XL.

Full Coverage Brief
Ultra-smooth, medium rise, and super-flattering. Hugs in all the right places with no pinch. Sizes 1X-4X.

High Waisted
The perfect high rise panty. Extra support to smooth out any unevenness and accentuate your curves for a flawless silhouette.

Cheeky
With a low-rise front and slim bum coverage, this style gives you just the right amount of sass."
    }
  },{
    "@type": "Question",
    "name": "You also have a seamless bralette? Tell me more!",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Yes! The Bralette is completely seamless, supportive for everyday wear, ultra-soft, and crafted for comfort. Shop The Bralette"
    }
  },{
    "@type": "Question",
    "name": "How do I care for my EBYs?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Treat them how we’d all like to be treated - with tenderness and care. Machine wash on delicate. Lay flat to dry."
    }
  },{
    "@type": "Question",
    "name": "You have a Fit Guarantee, what’s that?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "We want you to be completely obsessed with your EBY If your first order doesn’t fit right or sit right, you can contact our team of bonafide Fit Experts within 30 days of receipt, who will match you with exactly the right size and style for your body. We’ll send you a sample to try in a new size within a week.

Please note: Final sale items are not eligible for Fit Guarantee."
    }
  },{
    "@type": "Question",
    "name": "Why should I switch to EBY?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Pull up a seat! There are so many stand-out reasons, we thought this Q deserved its own page. See why we stand out from the rest"
    }
  },{
    "@type": "Question",
    "name": "Why does your website look different?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "We did a little inner-work of our own, and we’re coming back as fierce as ever. Welcome to the refresh. What’s new? The look, the feel, the expanded membership options, the à la carte shopping, and more. What hasn’t changed? Our commitment to perfect, seamless undies, and our mission to empower women all over the world."
    }
  },{
    "@type": "Question",
    "name": "Do you sell gift cards?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "We do not sell gift cards, but we hope to someday soon."
    }
  },{
    "@type": "Question",
    "name": "What is the difference between an account and a membership?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "An account allows you to see your orders in one place. You can also earn Power Points for orders placed and easily check out with your saved profile information.

Membership is meant to provide all you busy, hardworking babes with ease. Why get your panties in a bunch when you could get new panties shipped to your door? You’ll receive your new favorite EBYs regularly, without any additional thought or effort on your part."
    }
  },{
    "@type": "Question",
    "name": "How Does The Membership Work?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "To get started, click here to take our styles quiz. Choose your must-have fit, favorite colors, and how often you’d like delivery, and we’ll curate a collection just for you. With our quarterly membership, you will receive 3 pairs of EBYs for $39 every 3 months. With our semi-annual membership, you’ll receive 5 pairs of EBYs for $65 every 6 months. Your subscription is automatically renewed each cycle, so you never have to worry about shopping for undies again."
    }
  },{
    "@type": "Question",
    "name": "What Are The Perks of Membership?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "When you subscribe, you pay 25% less for your box of seamless undies. Also, you’ll enjoy full access to ALL products in VIP Shopping, at a special members-only discount. We’ve got you covered on shipping - it’s always free with your subscription box. You can skip a month or cancel any time. Members also get weekly power tips on how to embody your fiercest self. Plus, when you subscribe, you put your positive impact on repeat. 10% of proceeds for every panty sold goes to empower a woman into business and out of poverty. More EBYs for you = more loans for her."
    }
  },{
    "@type": "Question",
    "name": "How do I become a member?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "To become a member, simply sign up for an EBY subscription. You have multiple choices of the type of box you will receive every 3 or 6 months. You will enjoy Free Shipping and discounts on our website, Always!"
    }
  },{
    "@type": "Question",
    "name": "What Is VIP Shopping?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "VIP shopping is an experience we provide that allows our members to purchase our products on demand at a special discount, any time in between their subscription boxes. VIP will include member-only styles and prints, and give early access for all new releases!"
    }
  },{
    "@type": "Question",
    "name": "Can I modify my Subscription?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Absolutely. You can always change your subscription preferences when you make an account with us. Please note that any modifications must be made between the 1st and the 28th day of the month to reflect your next shipment. If you have questions, give us a call at 888.848.1454 or email us at seamlesssupport@join-eby.com. We’re always happy to talk you through it!"
    }
  },{
    "@type": "Question",
    "name": "What's the Difference between Joining as a Member and One Time Purchasing?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Membership is meant to provide all you busy, hardworking babes with ease. Why get your panties in a bunch when you could get new panties shipped to your door? You’ll receive your new favorite EBYs regularly, without any additional thought or effort on your part.

Nervous about commitment? We’ve been there. EBYs are also available à la carte. You can purchase whatever you want, whenever you want. Please note that members receive discounts and special perks like free shipping and early access on new styles and prints. You can always try us now, and join us later."
    }
  },{
    "@type": "Question",
    "name": "How Do I know What Size and Style Will Fit me Perfectly?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "EBY offers a variety of different cuts, fits, styles and sizes - something for everybody. Refer to our Size Chart to find your perfect fit. As a general rule, if you tend to fall between sizes, size up. Check our Styles Guide for complete descriptions of each style. If you’d like some assistance, please contact our Fit Experts, that’s what they’re here for. You can call us at 888.848.1454, or email us at seamlesssupport@join-eby.com."
    }
  },{
    "@type": "Question",
    "name": "Will I ever receive Repeat Prints or Colors?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "We strive to consistently offer our members new prints and colors to look forward to, but depending on the color preferences you selected, you may receive duplicates from time to time. If you are receiving repeat prints and aren’t a fan, please contact us directly."
    }
  },{
    "@type": "Question",
    "name": "How Do You Choose What Goes in the Subscription Box?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "You tell us - and we listen! Our professional panty-curators put together a selection based on your answers to your Styles Quiz. Or if you choose our Custom Box option, you pick each panty style and color on your own."
    }
  },{
    "@type": "Question",
    "name": "How do I change My Account Information?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Sign into your account. The Account Settings are listed on the left side of the page. You can edit your Profile Info, Credit Card, and Billing and Shipping address’ as well as change your password from there."
    }
  },{
    "@type": "Question",
    "name": "What if I forget my Password?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "No problem. Just below the Sign In prompt is a link called “Forgot Password”. Click on it and an email to reset your password will be sent to the email you created the account under."
    }
  },{
    "@type": "Question",
    "name": "I still have trouble signing in, what should I do?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "No problem. Just below the Sign In prompt is a link called “Having Trouble Signing In?””. Click on it and enter the email associated with your account and a temporary password. An email invitation to reactivate your account on our new site will be sent to you."
    }
  },{
    "@type": "Question",
    "name": "What Forms of Payment Do you Accept?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "We accept Visa, MasterCard, American Express, and Discover. We do not accept PayPal or pre‑paid cards at this time, but we’re working on it!"
    }
  },{
    "@type": "Question",
    "name": "I See 'Stripe' on My Bank Statement?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Stripe is one of our payment partners. In some cases, you may see “Stripe,” on your credit card statement within the first 24 hours of placing your order. Within a day, EBY should appear on your statement in its place. If you have any questions or concerns about this, just send us an email and we’ll chat it through."
    }
  },{
    "@type": "Question",
    "name": "Where Do You Ship?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "We currently ship to all states and territories In the United States, including Puerto Rico. Shipping to locations outside of the continental US may take up to 4 weeks from shipping date.

We now also offer international shipping to Canada! We have plans to send these amazing undies all over the world. Send us an email at seamlesssupport@join-eby.com and let us know where you’re from and we’ll make sure we add your hometown to our list."
    }
  },{
    "@type": "Question",
    "name": "Do You Offer Free Shipping?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "On Orders over $100, your EBYs will ship free."
    }
  },{
    "@type": "Question",
    "name": "Shipping Rates and Times",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Orders under $100 are charged a $5 shipping fee. Once your order ships it will take approx. 5 – 10 business days to reach you. Orders are transferred from the shipping carrier to the post office for final delivery. Please note: Orders outside of the continental US may take up to 4 weeks to arrive."
    }
  },{
    "@type": "Question",
    "name": "My Package hasn’t arrived. What should I do?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Use our order tracking service to stay on top of your orders and follow your package from our place to yours. Most of our packages arrive in 5-10 business days from the date the order was shipped, however, some orders may take longer to arrive due to, location, weather conditions, shipping volume etc. Please allow up to 15 days from the ship date for your order to arrive. Your order will be delivered by your local Post office in most instances. If you have not received it by then, contact Customer Service at 1-888-848-1454 (9am – 5pm ET Mon - Fri) or email us at seamlesssupport@join-eby.com for assistance."
    }
  },{
    "@type": "Question",
    "name": "Why is There No Packing Slip in My Shipment",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Not only do we strive to empower women, but we’re also trying to minimize our carbon footprint. In an effort to do our part by Mother Nature, we like to reduce paper whenever possible.

You should have received a copy of your order info in your email confirmation after you placed the order."
    }
  },{
    "@type": "Question",
    "name": "Can I Return an Item?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "If you’re not 100% happy with your purchase, we're here to help. All unopened, full-priced items are eligible for return, postmarked within 30 days of receiving your order. Items must be unworn, unwashed, and undamaged. Returns must be authorized through our Return Portal or you can reach out to us at 888.848.1454 or seamlesssupport@join-eby.com and we’ll be happy to assist you with your return and find you the perfect fit.

Items purchased during site-wide sale are not eligible for a refund or exchange.

Unauthorized returns/exchanges or worn items will not be processed nor will unauthorized returns/exchanges or worn items be forwarded back to you.

Outbound shipping costs are not refundable.

About our Fit Guarantee

We believe so strongly in our product that if you're not 100% happy with the fit, we're here to help. Our team of bonafide Fit Experts will match you with exactly the right size and style for your body and will send you the perfect fit!

Your first return/exchange on an order is on us! Any subsequent returns on the same order will be charged a $5 Return Label/Restock Fee which will be deducted directly from your refund.

Please inspect your order upon arrival and contact us no later than 30 days from receipt if there are any defects of damage noted, or an incorrect item was sent. We will make it right!

Any item received postmarked after 30 days of receiving your order are eligible for Store Credit only.

Any returns for subscription box or packs must include all original order items.

If you received an item in your Member Subscription that doesn’t work for you, please contact customer service at 888.848.1454. We will be happy to work with you to make sure your current Box type is the best choice for you going forward.

Please Note: Subscription box exchanges are limited exchange for sizing only."
    }
  },{
    "@type": "Question",
    "name": "How Long Does It Take a Refund to Process?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Once a refund is issued, you should see the amount returned to your account in 5-10 days. We can offer a store credit as well if you would like to shop immediately."
    }
  },{
    "@type": "Question",
    "name": "Can I cancel an order?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "In some instances, yes you can. Please contact us at 888.848.1454 or seamlesssupport@join-eby.com as soon as possible to cancel your order. If an order has already reached the processing stage, we are unable to cancel it, and it will ship. But we will assist you in returning it once you receive it."
    }
  },{
    "@type": "Question",
    "name": "How do I cancel My Subscription?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "We hate to see you go, but circumstances change, we get it! Please contact us at 888.848.1454 or seamlesssupport@join-eby.com to cancel your subscription. Please include your name, email and your reasoning for cancelling. At the time of cancellation, you may have an order already processing and once shipped, you will be billed. Our customer service team will ask if you would like to continue with your last shipment or cancel it - if it is not already processing."
    }
  },{
    "@type": "Question",
    "name": "How Do I Skip a Shipment?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "You are in control! If you would like to skip a shipment and retain your VIP perks, simply log in to your account, and select “Skip” found under My Membership to skip one full cycle (3 or 6 months). You can use this feature up to the last day of the month before your subscription is due to renew for the skip to take effect in your current cycle. Hint: check your \"Next Box\" date in your dashboard. If this says August, you have until July 31st to skip and not receive your August shipment."
    }
  },{
    "@type": "Question",
    "name": "What's The Ambassador Program?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "We are so excited about our new ambassador program! Around here, we call our ambassadors EBY Emissaries. An Emissary is a person on a mission. Our Emissaries help spread the word about EBY’s undies and initiatives. In return, they get free undies, swag, and the opportunity to attend exclusive events. Most importantly, though, they see how their actions empower others and get to witness real results for real women — women just like you!"
    }
  },{
    "@type": "Question",
    "name": "What Is The Confidence Project?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "As a women’s empowerment brand, EBY is in the business of being an access to power to our members. Our brand promise is, 'The longer she is with us, the more powerful she becomes.'

We’ve learned firsthand, in order to have real transformation, we have to commit to accessing our power daily, on repeat. It’s an everyday practice. The Confidence Project, TCP, is an intimate, provocative and deeply moving exploration of how we have all fallen victim of uncertain circumstances. TCP provides women with the access to step into their power through moving content that connects our community and sparks conversation about the topics we care about most."
    }
  },{
    "@type": "Question",
    "name": "How Do I Talk To A Real Person?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "You can contact one of our Undie Experts several ways:

Email seamlesssupport@join-eby.com
Chat
Our customer service team is available Monday through Friday between 9-5pm est. We are closed on major holidays and weekends, but rest assured we will contact you when we return. Send us a message!"
    }
  }]
}
</script>
</div>


</div>
</div>





<style>
  .ebyacfWrapper .ebycopyLtWeight,
.ebyacfWrapper .ebycopyLtWeight,
.ebyacfWrapper .ebycopyLtWeight{
  font-family: "Domaine Regular", serif;
}
.pageTop,
.ebyacfWrapper.pageTop {
    padding-top: 43px;
}

.ebycopyMdWrap {
  max-width: 825px;
  margin: 0 auto;
}
.ebycopySmWrap {
  max-width: 550px;
  margin: 0 auto;
}
.ebycopyLgWrap {
  max-width: 1000px;
  margin: 0 auto;
}
.ebyacfContent {
    /*background: #fff;*/
    /*padding-top: 4rem;*/
}
.ebycmsButtonWrapper {
    max-width: 1460px;
    width: 100%;
    margin: 5rem auto;
    padding: 0 2rem;
    text-align: center;
}
.vertCent {
    align-items: center;
    display: flex;
    width: 100%;
}
.item.item2.oneTileBlock {
    margin-bottom: 5rem;
}
@media(max-width: 769px) {
    .item.item2.oneTileBlock {
      margin-bottom: 0;
    }
}
  .ebyacfWrapper {width: 100%;max-width: 100%;}.ebyacfWrapper.centerPadding .ebycmsContentBlock {max-width: 1000px;width: 100%;}.ebyacfWrapper.centerPadding .ebycmsContentBlock h2 {line-height: 5rem;}.ebyacfWrapper > header, .ebyacfWrapper > article {max-width: 1460px;width: 100%;margin: 0 auto;padding: 35px 45px 35px 45px;}@media (max-width: 480px) {.ebyacfWrapper > header, .ebyacfWrapper > article {padding: 40px;}}@media (max-width: 480px) {.ebyacfWrapper > header, .ebyacfWrapper > article {padding: 20px;}}

  .ebyacfWrapper h1 {
    /*font-family: "Domaine Regular", serif;*/
    font-size: 48px;margin: 0 auto;
    font-weight: bold;
  }.ebyacfWrapper h2 {font-family: "Domaine Regular", serif;font-size: 36px;font-weight: 500;line-height: 1.4;margin: 0 auto;}.ebyacfWrapper h3 {font-family: "Domaine Regular", serif;font-size: 25px;margin: 0 auto;}.ebyacfWrapper p {font-family: "Domaine Regular", serif;font-size: 25px;line-height: 1.7;margin: 0 auto;}.ebyacfWrapper h4 {font-family: "activ-grotesk", sans-serif;}.ebyacfWrapper p, .ebyacfWrapper h4 {font-size: 2.25rem;}.ebyacfWrapper img {display: block;width: 100%;margin: 0 auto;max-width: 1440px;}.ebyacfWrapper .ebycmsTwoColWrapper {display: flex;padding: 2rem;justify-content: space-between;}.ebyacfWrapper .ebycmsTwoColWrapper .ebycmsCol {width: 100%;max-width: 48%;}@media (max-width: 769px) {.ebyacfWrapper .ebycmsTwoColWrapper {flex-direction: column;padding: 0;}.ebyacfWrapper .ebycmsTwoColWrapper .ebycmsCol {max-width: 100%;margin-bottom: 3rem;}}@media (max-width: 769px) {.ebyacfWrapper h1 {font-size: 3.75rem;}.ebyacfWrapper h2 {font-size: 2.5rem;line-height: 3rem;}.ebyacfWrapper h3, .ebyacfWrapper h4, .ebyacfWrapper p {font-size: 1.75rem;}.ebyacfWrapper.centerPadding .ebycmsContentBlock {max-width: 100%;padding: 4rem 2rem;}.ebyacfWrapper.centerPadding .ebycmsContentBlock h2 {font-size: 2rem;line-height: 3.5rem;}}
  .ebyacfWrapper .ebycmsTwoColWrapper .ebycmsCol h2 {margin-bottom: 20px;font-weight: 700;}
.ebyacfWrapper .ebycmsTwoColWrapper .ebycmsCol p {font-family: "Domaine Regular";font-size: 25px;line-height: 1.8;}
.ebyacfWrapper .ebycmsTwoColWrapper .ebycmsCol h3 {
  font-family: "Domaine Regular";
  font-size: 36px;
  font-weight: 500;
  line-height: 1.4;
  margin: 0 auto 20px;
}
.ebyacfWrapper .ebycmsTwoColWrapper .ebycmsCol h4 {
  font-family: "Domaine Regular";
  font-size: 36px;
  font-weight: 700;
  line-height: 1.4;
  margin: 0 auto;
}
#about .our-people-section .our-people-info{
 text-align: center; 
}
.our-people-section {padding-bottom: 180px;}
.our-people-section h1 {font-size:50px;font-weight:700;margin:80px 0 120px 0;}
.our-people-section .our-top-head {}
.our-people-section .our-top-head h2 {
  font-family: "Domaine Regular";
  font-size: 48px;
  font-weight: 400;
  line-height: 1.4;
  margin: 0 auto;
  text-align: center;
}
.our-people-section .our-top-head p {
  font-family:aktiv-grotesk,Helvetica,Arial,sans-serif;
  font-size: 24px;
  font-weight: 300;
  line-height: 1.4;
  margin: 20px auto;
}
.our-people-section .our-people-img {padding:80px 30px 80px 30px;}
.our-people-section .our-people-info {max-width:816px;width:100%;margin:0 auto;text-align:center;}
.our-people-section .our-people-info p {
  font-family: "Domaine Regular";
  font-size: 24px;
  font-weight: 400;
  line-height: 1.4;
  margin: 20px auto;
}

.our_product-txt {text-align:center;}
.our_product-txt h2 {font-size:48px;font-weight:400 !important;line-height:1.2;}

.our-product-info {clear:both;padding:80px 0 200px 0;text-align:center;}

.we_wxist_section {}
.we_wxist_section .wxist_img {padding:50px 50px 0 50px;}
.we_wxist_section h1 {margin:120px 0;}

/*.main_top_header {padding-top:30px;}*/
.proHImage:hover .proFeaturedImage span{visibility: visible;@include opacity(1);}
.proHImage:hover .proButton {@include opacity(1);visibility: visible;}
.ebyicon-accordionToggle {
    display: flex;
    width: 28px;
    align-items: center;
    position: relative;
}
span.ebyicon-accordionToggle:before {
    content: "+";
    font-weight: 300;
    font-family: aktiv-grotesk,sans-serif;
    margin: 0;
    display: inline-block;
    position: absolute;
}
.borderfreeFaqLinkWrapper {
    display: none;
}
.faq_page {
    /*background: #e5d3ca;*/
    padding: 35px 45px 35px 45px;
}
.ebyacfWrapper.pageTop, .pageTop {
    padding-top: 43px;
}
.faq_page .ebyacfWrapper h1 {
    margin-bottom: 4rem;
}
li.active>h3 span.ebyicon-accordionToggle:before {
    content: "-";
    font-weight: 300;
    font-family: aktiv-grotesk,sans-serif;
    margin: 0;
    display: inline-block;
    position: absolute;
}
.faq_page {
  /*background: #e5d3ca;*/
  padding: 50px 0 90px;}.faq_page img {max-width: 100%;}.faq_block_in {margin: 0 0 50px;}.faq_block_in::after {clear: both;content: "";display: table;}.faq_block_in .col {float: left;width: 20%;}.accordion ol {margin-bottom: 0.75em;}

  .faq_tab_main {
/*     max-width: 800px; */
    /*margin: 0 auto;*/
    width: 100%;
  }

  .faq_tab_main p, .faq_tab_main li {font-size: 16px;font-weight: 300;font-stretch: normal;font-style: normal;line-height: 1.38;letter-spacing: 0.3px;color: #000;margin: 0;}.faq_tab_main a {color: #008ab4;text-decoration: none;}.faq_tab_main a:hover {color: #0064ff;}.faq_tab_main ul {list-style: none;padding: 0;margin: 0;}.accordion {list-style: none;padding: 0;margin: 0;border-top: solid 1px #4a4a4a;}.accordion h3 {margin: 0;padding: 25px;font-family: aktiv-grotesk, Helvetica, Arial, sans-serif;background: url("https://cdn.shopify.com/s/files/1/0313/4062/5964/files/plus_ic.png?v=1597757431") no-repeat right 25px center;color: #000;text-transform: none;cursor: pointer;font-size: 24px;font-weight: normal;font-stretch: normal;font-style: normal;line-height: 0.83;letter-spacing: normal;border-bottom: solid 1px #4a4a4a;}.accordion ul[style="display: block;"] .accordion1 {display: block !important;}.accordion > li > ul {display: none;padding: 0 25px;}.accordion > li ul li ul.points {display: block !important;padding: 0 !important;}.accordion1 > li > ul {display: none;}.accordion ul {list-style: none;padding: 0;margin: 0;}.accordion > li ul li h3 {border: none;padding: 8px 25px 8px 60px;background-position: center left 25px;font-size: 20px;font-weight: 500;font-stretch: normal;font-style: normal;line-height: 1.1;letter-spacing: 0.3px;font-family: "Domaine Regular", serif;color: #000;}.accordion > li ul li.active h3 {background-position: center left 25px;color: #000;}.accordion > li ul li ul {padding: 50px 0;}.accordion > li ul li ul li ul {padding: 0 60px;}.accordion li.active > h3 {background: url("https://cdn.shopify.com/s/files/1/0313/4062/5964/files/minus_ic.png?v=1597757448") no-repeat right 25px center;border: none;color: #000c48;}.cont_text_block {padding: 10px 0;}.cont_text_block::after {clear: both;content: "";display: table;}.cont_text_block .cont_text_block_img {float: left;width: 20%;}.cont_text_block .cont_text_block_content {float: left;width: 80%;padding-left: 15px;}.cont_text_block .cont_text_block_content strong {display: block;}@media (max-width: 480px) {.faq_block_in .col {width: 100%;}.cont_text_block .cont_text_block_img {width: 100%;}.cont_text_block .cont_text_block_content {width: 100%;padding: 15px 0 0;}}#bralettes .top_categories .top_categories_inner ul li, #briefs .top_categories .top_categories_inner ul li {margin: 10px 0;width: 100%;}html.jsDrawerOpen {padding-bottom: 0 !important;}.mask-product, .eby-product {max-width: 800px;width: 100%;margin: 0 auto;padding: 0 20px;}
  .eby-product .collapsible, .mask-product .collapsible, .faq_tab_main .collapsible {padding: 0;list-style: none;
    /*border-bottom: 1px solid #000;*/
    margin: 0;}

  .eby-product .collapsible h3, .mask-product .collapsible h3, .faq_tab_main .collapsible h3 {
    margin: 0;color: #000c48;
    padding: 46px 0;
    font-family: "aktiv-grotesk", sans-serif;
    text-transform: none;cursor: pointer;font-size: 20px;line-height: 1;
    background: transparent;
    border-top: 1px solid #7f8397;
  }
   .faq_tab_main .collapsible h3.no-border{
    border: none;
  }

  .eby-product .collapsible ul.collapsible-body, .mask-product .collapsible ul.collapsible-body, .faq_tab_main .collapsible ul.collapsible-body {padding: 0;list-style: none;margin-bottom: 4.5rem;}.eby-product .collapsible ul.collapsible-body ul li, .mask-product .collapsible ul.collapsible-body ul li, .faq_tab_main .collapsible ul.collapsible-body ul li {list-style: none;font-weight: 300;}.eby-product .collapsible ul.collapsible-body ul li:before, .mask-product .collapsible ul.collapsible-body ul li:before, .faq_tab_main .collapsible ul.collapsible-body ul li:before {content: "-";margin-right: 1rem;}.faq_tab_main .collapsible > .collapsible-body {padding: 1rem 3rem;}.faq_tab_main .collapsible ul li:before {display: none;}.faq_tab_main .collapsible ul.collapsible {border-bottom: none;padding: 1.5rem 3rem;}.faq_tab_main .collapsible ul.collapsible-body ul ol li {list-style: decimal;}

  .faq_tab_main .collapsible .collapsible .collapsible-header {
 /*   flex-direction: row-reverse;*/
    padding: 3rem 0;border-top: 0;}

.collapsible-header{
  
    justify-content: normal;
}
  .faq_tab_main .collapsible .collapsible .collapsible-header .ebyicon-accordionToggle {margin-right: 0.75rem;}.faq_tab_main .collapsible p {margin-bottom: 1rem;}.mask-product .pro_top_link, .eby-product .pro_top_link {text-align: center;margin: 0;padding: 10px 0 40px 0;visibility: hidden;}.mask-product .pro_top_link a, .eby-product .pro_top_link a, .breadcrumbs ul li a {display: inline-block;font-size: 1.4rem;font-weight: normal;font-stretch: normal;font-style: normal;line-height: normal;letter-spacing: normal;color: #0064ff;}.mask-product .pro_top_link a:hover, .eby-product .pro_top_link a:hover, .breadcrumbs ul li a:hover {color: #2031ba;}.mask-product .accordion > li > ul, .eby-product .collapsible > li > ul {padding: 20px;max-width: 520px;margin: 0 auto;}.mask-product .accordion h4, .eby-product .collapsible h4 {font-family: "Domaine Regular", serif;font-size: 20px;line-height: 1.4;letter-spacing: 0.3px;margin: 0 0 20px 0;color: #000;}.mask-product .accordion p, .eby-product .collapsible p {font-size: 16px;font-weight: 300;font-stretch: normal;font-style: normal;line-height: 1.5;letter-spacing: 0.3px;color: #000;margin: 15px 0;}.accordion > li ul li ul.points li {font-size: 16px;font-weight: 300;font-stretch: normal;font-style: normal;line-height: 1.5;letter-spacing: 0.3px;color: #000;margin: 5px 0;}.pick-style-outerwrapper .pick-style-wrapper .pick-styles {text-align: center;}.pick-style-outerwrapper .pick-style-wrapper .style-list li {display: inline-block;width: 33%;padding: 10px;maring: 0 auto 20px;}.pick-style-outerwrapper .pick-style-wrapper .style-list li img {width: 100%;display: inline-block;margin: 0 auto;object-fit: cover;width: 100%;}.pick-style-outerwrapper .pick-style-products-wrapper {text-align: center;}.pick-style-outerwrapper .pick-style-products-wrapper .single-style {display: none;}.pick-style-outerwrapper .pick-style-products-wrapper .single-style.active {display: block;}.pick-style-outerwrapper .pick-style-products-wrapper .single-style img {width: 100%;display: inline-block;margin: 0 auto;height: 450px;width: 100%;object-fit: cover;}.product-selection-wrapper {margin: 0 auto;padding: 0;}.product-selection-wrapper li {list-style-type: none;border-radius: 5px;margin-bottom: 15px;width: 100%;overflow: hidden;text-align: left;background-color: #d8d8d8;padding: 45px 25px;}.product-selection-wrapper li:before {content: attr(data-index);display: block;width: 100%;text-align: center;color: #fff;font-size: 20px;}.product-selection-wrapper li.selected {background-color: #000c48;}.product-selection-wrapper li.reserved {background-color: #fff;padding: 0;}.product-selection-wrapper li.reserved:before {display: none;}.product-selection-wrapper li .product-line-item {position: relative;display: flex;}.product-selection-wrapper li .product-line-item .product_image {width: 30%;}.product-selection-wrapper li .product-line-item .product_image img {width: 100%;height: 125px;display: block;object-fit: cover;}.product-selection-wrapper li .product-line-item .product_detail {width: 70%;padding: 0 20px 20px;background: #fff;}.product-selection-wrapper li .product-line-item .product_detail h3 {font-size: 16px;}.product-selection-wrapper li .product-line-item .product_detail .cancel-product-btn, .product-selection-wrapper li .product-line-item .product_detail .edit-product-btn {color: #000 !important;bottom: 15px;display: block;font-size: 12px;position: absolute;right: 20px;text-align: right;}.product-selection-wrapper li .product-line-item .product_detail .cancel-product-btn:hover, .product-selection-wrapper li .product-line-item .product_detail .edit-product-btn:hover {color: #000;}
}
}
@media (max-width: 1199px){

  .ebyacfWrapper h1 {font-size: 4.8rem;}
  
  .ebyacfWrapper .ebycmsTwoColWrapper {display: block;padding: 20px;}
  .ebyacfWrapper .ebycmsTwoColWrapper .ebycmsCol {width: 100%;padding: 0 0 40px 0;max-width:100%;}
  .ebyacfWrapper .ebycmsTwoColWrapper .ebycmsCol h3 {font-size: 36px;margin: 40px auto 100px;}
  .we_wxist_section h1 {margin: 70px 0;}
  .ebyacfWrapper .ebycmsTwoColWrapper .ebycmsCol h4 {margin-bottom:40px;}

  .our-people-section h1 {font-size: 36px;margin: 20px 0 50px 0;}
  .our-people-section .our-top-head h2 {font-size: 36px;line-height: 1.2;}
  .our-people-section .our-top-head p {font-size: 18px;line-height: 1.4;margin: 20px auto 0;}
  .our-people-section .our-people-info {text-align: center;}
  .our_product-txt {max-width: 550px;margin: 0 auto;width:100%;}
  
  .our-product-info {padding: 20px 0 100px 0;}
  
}

@media (max-width: 991px){
  
  .we_wxist_section .wxist_img {padding: 30px 20px 0 20px;}
  .our-people-section .our-top-head h2 br {display:none;}
}
@media (max-width: 768px) {
  .faq_tab_main {
      padding: 0;
      margin-bottom: 4rem;
  }  
  .eby-product .collapsible h3, .faq_tab_main .collapsible h3, .mask-product .collapsible h3 {
    font-size: 1.75rem;
    padding: 2rem 0;
  }
}

@media (max-width: 640px){
  
  .ebyacfWrapper h1 {font-size: 3.6rem;}
  .mainContent .faq_page {
    padding: 2rem;
  }
  .faq_tab_main {
    margin-bottom: 5rem;
  }
  #faq .newslsec {
    margin: 0;
  }
  .ebyacfWrapper>header, .ebyacfWrapper>article {padding:20px;}
  .ebyacfWrapper p:empty {display: none;} 
  .we_wxist_section h1 {margin: 40px 0 10px 0;}
  .ebyacfWrapper .ebycmsTwoColWrapper .ebycmsCol h2 {margin-bottom: 10px;font-size: 18px;}
  .ebyacfWrapper .ebycmsTwoColWrapper .ebycmsCol p {font-size: 18px;  line-height: 1.5;}
  .we_wxist_section .wxist_img {padding: 10px 10px 0 10px;}
  .ebyacfWrapper .ebycmsTwoColWrapper .ebycmsCol h3 {font-size: 24px;margin: 0px auto 50px;}
  .ebyacfWrapper .ebycmsTwoColWrapper .ebycmsCol h4 {font-size: 24px;margin-bottom: 0;}
  
  .our-people-section h1 {font-size: 24px;margin: 20px 0 30px 0;}
  .our-people-section .our-top-head h2 {font-size: 28px;}
  .our-people-section .our-top-head p {font-size:16px;}
  
  .our-people-section .our-people-img {padding: 40px 10px 40px 10px;}
  .our-people-section .our-people-info p {font-size:18px;}
  .our-people-section {padding-bottom: 50px;}
  .our-product-info {padding: 0px 0 50px 0;}
  
}
  
@media (max-width: 449px){
  .eby-product .collapsible h3, .faq_tab_main .collapsible h3, .mask-product .collapsible h3 {
    font-size: 1.5rem;
  }
}
</style>