<div class="ebyReviewsContentWrapper">
  <h2>Take Her Word For It –</h2>
  <div id="stamped-main-widget" data-widget-style="profile">

<div class="stamped-container" 
  data-count="10992" 
  data-widget-style="profile" 
  data-widget-language="" 
  data-widget-sort="recent" 
  data-widget-show-upload="true" 
  data-widget-show-graph="true"
  data-widget-show-summary-photo="true" 
  data-widget-show-sort="true"
  data-widget-show-summary-recommend="true"
  data-widget-show-tab-reviews="false"
  data-widget-show-avatar="false"
  data-widget-show-location="true" 
  data-widget-show-verified="true"
  data-widget-show-date="true" 
  data-widget-show-share="true"
  data-widget-show-votes="true"
  data-widget-show-qna="false" 
  data-widget-show-product-variant="true" 
  data-widget-show-filter-custom-forms="true" 
  data-widget-show-filter-search="true" 
  data-widget-type="profile" 
  data-widget-show-filter-keywords="true" 
  data-widget-show-smart-guide="true">

</div>
  </div>
</div>
