<script type="text/javascript" src="https://cdn.shopify.com/s/files/1/0012/8843/7859/files/jquery.js?v=1624379169"></script>
<script type="text/javascript" src="https://cdn.shopify.com/s/files/1/0012/8843/7859/files/slick.js?v=1624379169"></script>

<div class="collections-header">
  <div class="collections-header-logo">
    <a href="{{ shop.url }}"><img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0313/4062/5964/files/logo-clear-space-facfbc.png?v=1624330502" alt="{{ shop.name }}"></a>
  </div>
</div>

<section class="collection-hero-image">
  <div class="section-wrap">
    <div class="img-col left-col">
      <div class="col">
        <div class="col-wrap">
          <img data-src="https://cdn.shopify.com/s/files/1/0313/4062/5964/files/processed_8.jpg?v=1629299099" class="desktop-image" alt="Seamless Cotton Bralette" title="Seamless Cotton Bralette">
          <img data-src="https://cdn.shopify.com/s/files/1/0313/4062/5964/files/processed_8.jpg?v=1629299099" class="tablet-image" alt="Seamless Cotton Bralette" title="Seamless Cotton Bralette">
          <img data-src="https://cdn.shopify.com/s/files/1/0313/4062/5964/files/processed_8.jpg?v=1629299099" class="mobile-image" alt="Seamless Cotton Bralette" title="Seamless Cotton Bralette">
        </div>
      </div>
      <div class="col">
        <div class="col-wrap">
          <img data-src="https://cdn.shopify.com/s/files/1/0313/4062/5964/files/processed_7.jpg?v=1629299099" class="desktop-image" alt="Cotton Comfort" title="Cotton Comfort">
          <img data-src="https://cdn.shopify.com/s/files/1/0313/4062/5964/files/processed_7.jpg?v=1629299099" class="tablet-image" alt="Cotton Comfort" title="Cotton Comfort">
          <img data-src="https://cdn.shopify.com/s/files/1/0313/4062/5964/files/processed_7.jpg?v=1629299099" class="mobile-image" alt="Cotton Comfort" title="Cotton Comfort">
        </div>
      </div>
    </div>
    <div class="col right-col">
      <div class="col-wrap">
        <p>Love the no bra feeling</p>
        <h2>Say Goodbye To Uncomfortable Bras</h2>
        <div class="cta">
          <a class="btn btn1" href="#collection_list">SHOP NOW</a>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="collection-partner-logo">
  <div class="collection-partner-logo-wrap">
    <div class="logo-list">
      <div class="logo-list-wrap">
        <img alt="GMA" title="EBY x GMA" class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0313/4062/5964/files/AUTH_-_GMA_-_0064FF_2x.svg?v=1616369766">
      </div>
    </div>
    <div class="logo-list">
      <div class="logo-list-wrap">
        <img alt="InStyle" title="EBY x InStyle" class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0313/4062/5964/files/AUTH_-_InStyle_-_0064FF_2x.svg?v=1616369766">
      </div>
    </div>
    <div class="logo-list">
      <div class="logo-list-wrap">
        <img alt="Buzzfeed" title="EBY x Buzzfeed" class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0313/4062/5964/files/AUTH_-_BuzzFeed_-_0064FF_2x.svg?v=1616369766">
      </div>
    </div>
    <div class="logo-list">
      <div class="logo-list-wrap">
        <img alt="Ellen" title="EBY x Ellen" class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0313/4062/5964/files/AUTH_-_Ellen_-_0064FF_2x.svg?v=1616369766">
      </div>
    </div>
    <div class="logo-list">
      <div class="logo-list-wrap">
        <img alt="People" title="EBY x People" class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0313/4062/5964/files/AUTH_-_People_-_0064FF_2x.svg?v=1616369766">
      </div>
    </div>
  </div>
</div>

<section class="collection-image-text">
  <div class="section-wrap">
    <div class="col left-col">
      <div class="col-wrap">
        <h2>You will never wear another bra again</h2>
        <div class="tex-box">
          <h4>No-slip Nylon Grip</h4>
          <p>No riding up, no sliping <br>down, no silicone chafing</p>
          <p>Scoop Neck</p>
          <p>No Underwire</p>
          <p>Removable Pads</p>
          <p>Support All Shapes And Sizes</p>
          <p>Breathable & Soft</p>
        </div>
        <div class="tex-box">
          <h4>Fit Guarantee</h4>
          <p> If you don't love your bralette it's <br> on us! Simply contact our <br>fit specialist for a refund or exchange.</p>
        </div>
      </div>
    </div>
    <div class="col right-col">
      <div class="col-wrap">
        <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0313/4062/5964/files/processed_6.jpg?v=1629299099" alt="Bralettes in a variety of colors" title="Bralettes in a variety of colors">
      </div>
    </div>
  </div>
</section>

<div class="collection-image-section">
  <div class="section-wrap">
    <div class="col">
      <div class="col-wrap">
        <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0313/4062/5964/files/processed_3.jpg?v=1629299099" alt="">
      </div>
    </div>
    <div class="col">
      <div class="col-wrap">
        <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0313/4062/5964/files/processed.jpg?v=1629299099" alt="">
      </div>
    </div>
    <div class="col">
      <div class="col-wrap">
        <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0313/4062/5964/files/processed_4.jpg?v=1629299099" alt="">
      </div>
    </div>
  </div>
</div>


<section class="collection-listing-section" id="collection_list">
  <div class="collection-listing-container">
    <div class="section-head">
      <div class="section-icon">
        <span>
          <svg xmlns="http://www.w3.org/2000/svg" width="13" height="42" viewBox="0 0 13 42"><path d="M-7.612 15.141c.19.189.19.495.002.684l-.002.002-4.72 4.696h38.845c.269 0 .487.219.487.488v.002c0 .27-.218.487-.487.487h-38.84l4.69 4.666c.19.19.191.499.001.69l-.005.004c-.19.19-.497.19-.687 0l-5.504-5.477-.013-.013-.012-.012c-.19-.189-.19-.495-.002-.684l.002-.002 5.557-5.53c.19-.19.498-.19.688 0z" transform="translate(-714.000000, -2336.000000) translate(714.000000, 2336.000000) translate(6.500000, 21.000000) scale(-1, 1) rotate(-90.000000) translate(-6.500000, -21.000000)"/></svg>
        </span>
      </div>
      <h2>Listen to Deborah</h2>
      <p>“This bra is hands down the most comfortable one I have ever worn. Highly recommend trying this bra yourself!”</p>
      <span>— Deborah R.</span>
    </div>
    
    <div class="collection-listing">
      {% for product in collection.products  %}
      	{% include 'product-item' %}
      {% endfor %}
    </div>
  </div>
</section>

<section class="collection-review">
  <div class="section-wrap">
    <h2>9,000 Five Star Reviews</h2>

    <div class="section-slider-wrap">
      <div class="collection-review-slider">
        <div class="slide">
          <div class="slide-wrap">
            <div class="review-icon"><svg xmlns="http://www.w3.org/2000/svg" width="207" height="32" viewBox="0 0 207 32" fill="#2031BA"><path d="M633.292 6120l4.32 11.548 11.972.675-9.3 7.812L643.36 6152l-10.07-6.72-10.068 6.72 3.077-11.965-9.3-7.812 11.97-.675 4.322-11.548zm43.604 0l4.32 11.548 11.972.675-9.3 7.812 3.077 11.965-10.07-6.72-10.068 6.72 3.078-11.965-9.3-7.812 11.97-.675 4.32-11.548zm43.604 0l4.32 11.548 11.972.675-9.3 7.812 3.077 11.965-10.069-6.72-10.069 6.72 3.078-11.965-9.3-7.812 11.97-.675L720.5 6120zm43.604 0l4.321 11.548 11.97.675-9.3 7.812 3.078 11.965-10.069-6.72-10.069 6.72 3.078-11.965-9.3-7.812 11.97-.675 4.321-11.548zm43.604 0l4.321 11.548 11.971.675-9.3 7.812 3.077 11.965-10.069-6.72-10.069 6.72 3.078-11.965-9.3-7.812 11.97-.675 4.321-11.548z" transform="translate(-617.000000, -6120.000000)"/></svg></div>
            <div class="review-message">
              <p>“Love EBY so much, I've given up all my bras except for these bralettes!”</p>
            </div>
            <div class="review-auther">
              <p>— Susan B.</p>
            </div>
          </div>
        </div>
        <div class="slide">
          <div class="slide-wrap">
            <div class="review-icon"><svg xmlns="http://www.w3.org/2000/svg" width="207" height="32" viewBox="0 0 207 32" fill="#2031BA"><path d="M633.292 6120l4.32 11.548 11.972.675-9.3 7.812L643.36 6152l-10.07-6.72-10.068 6.72 3.077-11.965-9.3-7.812 11.97-.675 4.322-11.548zm43.604 0l4.32 11.548 11.972.675-9.3 7.812 3.077 11.965-10.07-6.72-10.068 6.72 3.078-11.965-9.3-7.812 11.97-.675 4.32-11.548zm43.604 0l4.32 11.548 11.972.675-9.3 7.812 3.077 11.965-10.069-6.72-10.069 6.72 3.078-11.965-9.3-7.812 11.97-.675L720.5 6120zm43.604 0l4.321 11.548 11.97.675-9.3 7.812 3.078 11.965-10.069-6.72-10.069 6.72 3.078-11.965-9.3-7.812 11.97-.675 4.321-11.548zm43.604 0l4.321 11.548 11.971.675-9.3 7.812 3.077 11.965-10.069-6.72-10.069 6.72 3.078-11.965-9.3-7.812 11.97-.675 4.321-11.548z" transform="translate(-617.000000, -6120.000000)"/></svg></div>
            <div class="review-message">
              <p>“This is the most comfortable bralette I have ever worn!”</p>
            </div>
            <div class="review-auther">
              <p>— Jinny S.</p>
            </div>
          </div>
        </div>
        <div class="slide">
          <div class="slide-wrap">
            <div class="review-icon"><svg xmlns="http://www.w3.org/2000/svg" width="207" height="32" viewBox="0 0 207 32" fill="#2031BA"><path d="M633.292 6120l4.32 11.548 11.972.675-9.3 7.812L643.36 6152l-10.07-6.72-10.068 6.72 3.077-11.965-9.3-7.812 11.97-.675 4.322-11.548zm43.604 0l4.32 11.548 11.972.675-9.3 7.812 3.077 11.965-10.07-6.72-10.068 6.72 3.078-11.965-9.3-7.812 11.97-.675 4.32-11.548zm43.604 0l4.32 11.548 11.972.675-9.3 7.812 3.077 11.965-10.069-6.72-10.069 6.72 3.078-11.965-9.3-7.812 11.97-.675L720.5 6120zm43.604 0l4.321 11.548 11.97.675-9.3 7.812 3.078 11.965-10.069-6.72-10.069 6.72 3.078-11.965-9.3-7.812 11.97-.675 4.321-11.548zm43.604 0l4.321 11.548 11.971.675-9.3 7.812 3.077 11.965-10.069-6.72-10.069 6.72 3.078-11.965-9.3-7.812 11.97-.675 4.321-11.548z" transform="translate(-617.000000, -6120.000000)"/></svg></div>
            <div class="review-message">
              <p>“So comfortable and sleek I cant believe I ever wore anything else”</p>
            </div>
            <div class="review-auther">
              <p>— Sara D.</p>
            </div>
          </div>
        </div>
        <div class="slide">
          <div class="slide-wrap">
            <div class="review-icon"><svg xmlns="http://www.w3.org/2000/svg" width="207" height="32" viewBox="0 0 207 32" fill="#2031BA"><path d="M633.292 6120l4.32 11.548 11.972.675-9.3 7.812L643.36 6152l-10.07-6.72-10.068 6.72 3.077-11.965-9.3-7.812 11.97-.675 4.322-11.548zm43.604 0l4.32 11.548 11.972.675-9.3 7.812 3.077 11.965-10.07-6.72-10.068 6.72 3.078-11.965-9.3-7.812 11.97-.675 4.32-11.548zm43.604 0l4.32 11.548 11.972.675-9.3 7.812 3.077 11.965-10.069-6.72-10.069 6.72 3.078-11.965-9.3-7.812 11.97-.675L720.5 6120zm43.604 0l4.321 11.548 11.97.675-9.3 7.812 3.078 11.965-10.069-6.72-10.069 6.72 3.078-11.965-9.3-7.812 11.97-.675 4.321-11.548zm43.604 0l4.321 11.548 11.971.675-9.3 7.812 3.077 11.965-10.069-6.72-10.069 6.72 3.078-11.965-9.3-7.812 11.97-.675 4.321-11.548z" transform="translate(-617.000000, -6120.000000)"/></svg></div>
            <div class="review-message">
              <p>“Exactly what I was looking for, this bralette is worth every penny.”</p>
            </div>
            <div class="review-auther">
              <p>— Barbara R.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
	
  </div>
</section>


<section class="collection-image-text new_collection">
  <div class="section-wrap">
    <div class="col right-col">
      <div class="col-wrap">
        <img data-src="https://cdn.shopify.com/s/files/1/0313/4062/5964/files/land-home.jpg?v=1624330678" class="lazyload" alt="" title="">
      </div>
    </div>
    <div class="col left-col">
      <div class="col-wrap">
        <h2>Women's Empowerment</h2>
        <div class="tex-box">
          <p>Your purchase empowers women out of poverty by offering them a hand up, not a handout. EBY Funds micro-loans for women worldwide to start their own businesses, enabling them to improve their communities and break the cycle of poverty for their children.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="numbar-collection-section">
  <div class="numbar-collection">
    <div class="section-wrap">
      <div class="section-text-wrap">
        <h2>See how our impact grows your over year over year, on repeat</h2>
        <p class="numbar">24,275</p>
        <h3>womens & children Impacted by the end of 2021</h3>
        <h4>And all you had to do was put on a bralette</h4>
        <div class="mobile-btn">
          <a href="https://shop.join-eby.com/collections/all">Shop Now</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="collection-image-text new_collection">
  <div class="section-wrap">
    <div class="col left-col">
      <div class="col-wrap">
        <h2>No Sweatshops</h2>
        <div class="tex-box">
          <p>Our factory respects the balance between environmental, social, and economic performance and upholds the Women's Empowerment Principles we developed jointly with the Unites Nations. No sweatshops. Not fast fashion.</p>
          <a href="/collections/bralettes-for-women" class="btn btn1">SHOP NOW</a>
        </div>
      </div>
    </div>
    <div class="col right-col">
      <div class="col-wrap">
        <img data-src="https://cdn.shopify.com/s/files/1/0313/4062/5964/files/processed_1.jpg?v=1629299099" alt="">
      </div>
    </div>
  </div>
</section>


<div class="main_footer">
  <div class="left_footer">
    <ul>
      <li><a href="/">EBY</a></li>
      <li><a href="/pages/our-product">Products</a></li>
      <li><a href="/pages/about">About</a></li>
      <li><a href="">Support</a></li>
    </ul>
  </div>
  <div class="right_footer">
    <ul>
      <li><a href="/pages/privacy-policy">Privacy</a></li>
      <li><a href="/pages/terms-of-use">Terms</a></li>
    </ul>
  </div>
</div>





<style>
  #velaFooter,
  .newslsec,
  .collections-header{
    display: none; 
  }
  .template-collection #pageContainer{width:100%;max-width:100%;}
/*   .template-collection .mainContent{padding:0px;} */
  .tablet-image, .mobile-image{display:none;}
  .template-collection .btn1{padding:19px 52px;font-size: 16px;border: 1px solid #ffffff;border-radius: 36px;background: #ffffff;color: #0064ff;text-transform: uppercase;}
  .template-collection .btn1:hover{background: #0064ff;color: #ffffff;border-color:#0064ff;}
  .collections-header .collections-header-logo{display:flex;justify-content:center;align-items:center;padding:8px;background-color:#fff;}
  .collections-header .collections-header-logo img{width:auto;}
  .collection-hero-image .section-wrap{display:flex;flex-wrap:wrap;}
  .collection-hero-image .col{max-width:33.33%;width:100%;}
  .collection-hero-image .img-col{max-width:66.66%;width:100%;display:flex;flex-wrap:wrap;} 
  .collection-hero-image .img-col .col{max-width:50%;}
  .collection-hero-image .right-col{display:flex;align-items:center;justify-content:center;text-align:center;}
  .collection-hero-image .right-col p{color:#000c48;font-size:36px;font-weight:300;margin-bottom:48px;}
  .collection-hero-image h2{font-family:"Domaine Regular",serif;font-size:50px;line-height:1.07;color:#000c48;max-width:375px;margin:0px auto 49px;}
  .collection-hero-image .cta .btn.btn1{line-height:1.5;padding:23px 52px;}
  .collection-partner-logo{background-color:#fff;padding:56px 0px;}
  .collection-partner-logo img{width:auto;max-height:72px;max-width:200px;}
  .collection-partner-logo-wrap{display:flex;flex-wrap:wrap;max-width: 1630px;width: 100%;margin: 0 auto;padding: 0px 15px;}
  .collection-partner-logo-wrap .logo-list{max-width:20%;width:100%;display:flex;justify-content:center;align-items:center;}
  .collection-image-section .section-wrap{display:flex;flex-wrap:wrap;}
  .collection-image-section .section-wrap .col{max-width:33.33%;width:100%;}
  .collection-image-text{padding:120px 0px;}
  .collection-image-text .section-wrap{max-width:1230px;width:100%;display:flex;flex-wrap:wrap;margin:0px auto;align-items:center;}
  .collection-image-text .col.left-col .col-wrap{max-width:450px;}
  .collection-image-text h2{font-family:"Domaine Regular",serif;color:#2031ba;font-size:48px;line-height: 1.22;margin: 0 auto 49px;max-width: 430px;text-align: center;}
  .collection-image-text .tex-box{text-align:center;}
  .collection-image-text .tex-box:not(:last-child){margin-bottom:44px;}
  .collection-image-text .tex-box h4{color:#2031ba;font-size:36px;margin:0px 0px 20px;}
  .collection-image-text .tex-box p{color:#000c48;font-size:24px;line-height:1.3;margin:0px auto;}
  .collection-image-text .col.left-col{padding:0px 15px;max-width:60%;width:100%;}
  .collection-image-text .col.right-col{padding:0px 15px;max-width:40%;width:100%;}
  .collection-listing-section{padding-top:80px;}
  .collection-listing-section .section-icon{text-align:center;padding-bottom:23px;}
  .collection-listing-section .section-icon span{display:flex;align-items:center;justify-content:center;}
  .collection-listing-section .section-icon svg{fill:#2031BA;}
  .collection-listing-section .section-head{text-align:center;padding-bottom:76px;}
  .collection-listing-section .section-head h2{font-size: 48px;font-family:"Domaine Regular",serif;color:#2031ba;line-height:1.21;margin:0px 0px 34px;}
  .collection-listing-section .section-head p{color:#000c48;font-size: 24px;line-height: 1.5;max-width:720px;margin:0px auto 22px;}
  .collection-listing-section .section-head span{color:#000c48;font-size:16px;display:block;text-align:center;font-weight:400;}
  .collection-listing-section .collection-listing-container{max-width:1152px;width:100%;margin:0px auto;}
  .collection-listing-section .collection-listing{display:flex;flex-wrap:wrap;}
  .collection-listing-section .collection-listing .col{max-width:33.33%;width:100%;padding:0px 16px 80px;}
  .collection-listing-section .collection-listing .col .collection-img{position:relative;overflow:hidden;margin-bottom:23px;}
  .collection-listing-section .collection-listing .col .collection-img:after{content:"";padding-bottom:143.205%;width:100%;display:block;}
  .collection-listing-section .collection-listing .col .collection-img img{position:absolute;top:0px;left:0px;height:100%;width:100%;object-fit:cover;}
  .collection-listing-section .collection-listing .col .collection-detail{text-align:center;}
  .collection-listing-section .collection-listing .col .collection-detail h4 a{font-size:24px;color:#000c48;margin:0px 0px 7px;line-height:1.3;text-transform:capitalize;}
  .collection-listing-section .collection-listing .col .collection-detail .pricebox p span{color:#000c48;font-weight:500;font-size:18px;}
  .collection-listing-section .collection-listing .col .collection-detail .pricebox p{color:#000c48;font-size:16px;font-weight:400;margin:0px 0px 15px;}
  .collection-listing-section .collection-listing .col .collection-detail .btn.btn1{color:#0064ff;font-weight:500;background-color:#fff;border-color:#fff;padding: 23px 52px;line-height: 1.5;}
  .collection-listing-section .collection-listing .col .collection-detail .btn.btn1:hover{background-color:#0064ff;color:#fff;border-color:#0064ff;}
  .collection-review{background-color:#fff;padding-top:80px;padding-bottom:80px;}
  .collection-review h2{color:#2031ba;font-size:48px;text-align:center;margin:0px 0 29px;font-family:"Domaine Regular",serif;;line-height:1.21;}
  .collection-review-slider .slide{text-align:center;padding:0px;}
  .collection-review-slider .slide .review-icon{display:flex;justify-content:center;margin-bottom:29px;}
  .collection-review-slider .slide .review-message p{color:#000c48;font-size:24px;line-height: 1.5;max-width:768px;margin:0px auto;}
  .collection-review-slider .slide .review-message{margin-bottom:22px;}
  .collection-review-slider .slide .review-auther p{font-size:16px;color:#000c48;line-height:1.35;margin:0px;}
  .collection-review-slider .slick-arrow:before{display:none;}
  .collection-review-slider .slick-arrow{font-size:0px;border:none;border-radius:0px;width:41px;top:40%;height:12px;background-repeat:no-repeat;background-position:center;background-size:contain;}
  .collection-review-slider .slick-arrow.slick-prev{left:0px;background-image:url(https://cdn.shopify.com/s/files/1/0313/4062/5964/files/collection-slider-left-arrow.svg?v=1624379557)}
  .collection-review-slider .slick-arrow.slick-next{right:0px;background-image:url(https://cdn.shopify.com/s/files/1/0313/4062/5964/files/collection-slider-right-arrow.svg?v=1624379619);}
  .collection-review-slider .slick-slider:hover .slick-arrow.slick-next{right:0px !important}
  .collection-review-slider .slick-slider:hover .slick-arrow.slick-prev{left:0px !important}
  .collection-review-slider .slick-arrow:focus, .collection-review-slider .slick-arrow:hover{background-color:transparent;}
  .collection-review .section-wrap{max-width:1000px;margin:0px auto;}
  .collection-review-slider .slick-dots{position:relative;left:0px;right:0px;bottom:0px;margin-top:36px;}
  body .collection-review-slider .slick-dots li button{width:10px;height:10px;background-color:#d8d8d8;border:none;}
  body .collection-review-slider .slick-dots li{margin:0px 11px;}
  body .collection-review-slider .slick-dots li button:before{display:none;}
  body .collection-review-slider .slick-dots{display:flex;justify-content:center;}
  body .collection-review-slider .slick-dots li.slick-active button{background-color:#0064ff;}
  .section-slider-wrap{padding-bottom:54px;}
  .section-video-wrap{width:100%;margin-bottom:48px;}
  .section-video-wrap .section-video{max-width:512px;margin:0px auto;overflow:hidden;position:relative;}
  .section-video-wrap .section-videos:after{content:"";width:100%;padding-bottom:100%;}
  .section-video-wrap .section-video iframe{position:absolute;top:0px;left:0px;width:100%;height:100%;}
  .collection-review .section-link{text-align:center;}
  .collection-col-section{padding:80px 0px;}
  .collection-col-section .section-wrap{max-width:1440px;width:100%;margin:0px auto;display:flex;flex-wrap:wrap;}
  .collection-col-section .section-wrap .col{max-width:25%;width:100%;padding:0px 32px;}
  .collection-col-section .col-image-wrap{max-width:168px;position:relative;overflow:hidden;margin:0px auto;}
  .collection-col-section .col-image-wrap:after{content:"";width:100%;padding-bottom:100%;display:block;}
  .collection-col-section .col-image-wrap img{width:100%;height:100%;position:absolute;top:0px;left:0px;object-fit:cover;}
  .collection-col-section .col-dec{text-align:center;padding-top:21px;}
  .collection-col-section .col-dec h4{font-size:36px;color:#2031ba;font-family:"Domaine Regular",serif;;line-height:1.2;margin:0px 0px 15px;}
  .collection-col-section .col-dec p{font-size:18px;line-height: 1.35;color:#000c48;margin:0px;font-family:"Domaine Regular",serif;;font-weight:400;}
  
  .main_footer{padding: 40px;background-color: #fff;display: flex;align-items: center;justify-content: space-between;}
  .main_footer ul{list-style: none;display: flex;align-items: center;padding: 0;margin: 0;}
  .main_footer .left_footer li{padding-right: 30px; }
  .main_footer .left_footer li:last-child{padding-right: 0;}
  .main_footer .right_footer li{padding-left: 30px;}
  .main_footer .right_footer li:first-child{padding-left: 0;}
  .main_footer a{font-size: 14px;color: #0064ff;padding-bottom: 2px;border-bottom: 1px solid transparent;display:inline-block;}
  .main_footer a:hover{border-bottom-color: #0064ff;}

  .stamped-badge-caption{
    display: none; 
  }
  .collection-detail .fa-star-half-o:before, 
  .collection-detail .fa-star-o:before, 
  .collection-detail .fa-star:before, 
  .collection-detail .stamped-fa-star-half-o:before, 
  .collection-detail .stamped-fa-star-o:before, 
  .collection-detail .stamped-fa-star:before{
    color: #000c48; 
  }
  .pro_review{
    margin-bottom: 20px; 
  }
  .section-video-wrap .section-video video{
    width: 100%;  
  }
  
  .new_collection h2{
    color: #000c48; 
  }
  .tex-box a{
    margin-top: 20px; 
  }
  .collection-image-text.new_collection .col.left-col .col-wrap{margin:0px auto;}
  .numbar-collection{text-align:center;padding:80px 0px;}
  .numbar-collection h2{margin-bottom:49px;color: #000c48; font-size: 48px; font-family: "Domaine Regular",serif; max-width: 800px; line-height: 1; font-weight: 600;margin-left: auto; margin-right: auto;}
  .numbar-collection .section-text-wrap{max-width:1270px;padding:0px 15px;width:100%;margin:0px auto;}
  .numbar-collection .numbar{font-size:170px;font-family: "Domaine Regular",serif;color: #000c48;line-height:1;position:relative;padding-bottom:40px;margin-bottom:20px;}
  .numbar-collection .numbar:after{content:"";width:100%;max-width:150px;display:block;position:absolute;left:0px;right:0px;margin:0px auto;height:1px;background-color:#000c48;bottom:0px;}
  .numbar-collection h3{font-size: 40px; font-family: "Domaine Regular",serif; font-weight: 100; color: #000c48; max-width: 565px; margin-left: auto; margin-right: auto;margin-bottom:40px;}
  .numbar-collection h4{font-size: 48px; font-family: "Domaine Regular",serif; font-weight: bold; color: #000c48; max-width: 530px; margin-left: auto; margin-right: auto;}
  .numbar-collection .mobile-btn{display:none;text-align:center;}
  .numbar-collection .mobile-btn a{margin-top:20px;display:inline-block;text-transform:uppercase;background-color:#000c48;font-size:16px;border-radius: 20px;color: #fff;padding: 10px 26px;line-height: 1;}
  
  
  
  @media only screen and (min-width: 861px){
    .new_collection.collection-image-text .col.right-col,
    .new_collection.collection-image-text .col.left-col{
      max-width: 50%;
    }
  }

  @media only screen and (max-width: 1440px){
    .collection-partner-logo-wrap{max-width:1230px}
    .collection-image-text{padding:104px 0px;}
    .collection-image-text h2{margin: 0 auto 41px;font-size:36px;max-width:350px;}
    .collection-image-text .tex-box:not(:last-child){margin-bottom:48px;}
    .collection-image-text .col.left-col .col-wrap{max-width:400px;}
    .collection-hero-image .right-col p{font-size:30px;}
    .collection-hero-image h2{font-size:60px;max-width:400px;}
    .collection-hero-image .cta .btn.btn1{padding:19px 52px;}
    .collection-image-text .tex-box h4{font-size:24px;}
    .collection-image-text .tex-box p{font-size:18px;}
    .collections-header .collections-header-logo img{max-height:72px;}
  }
  @media only screen and (max-width: 1080px){
    .collection-hero-image .img-col .col{max-width:100%;}
    .desktop-image, .mobile-image{display:none;}
    .tablet-image{display:block;}
    .collection-hero-image .img-col, .collection-hero-image .col{max-width:50%;background-color: #e3c1b7;}
    .collection-hero-image .right-col p{margin-bottom:40px;}
    .collection-partner-logo-wrap .logo-list{max-width:25%;}
    .collection-partner-logo-wrap .logo-list:nth-child(4), .collection-image-section .section-wrap .col:nth-child(1){display:none;}
    .collection-partner-logo img{max-height:42px;}
    .collection-partner-logo{padding:43px 0px;}
    .collection-image-text h2{line-height:1.13;}
    .collection-image-text{padding:80px 49px 80px 0px;}
    .collection-image-text .tex-box h4{font-size:18px;}
    .collection-image-text .tex-box p{font-size:16px;}
    .collection-image-text .tex-box:not(:last-child){margin-bottom:40px;}
    .collection-image-section .section-wrap .col{max-width:50%;}
    .collection-listing-section{padding-top:64px;}
    .collection-listing-section .collection-listing .col{max-width:50%;}
    .collection-listing-section .collection-listing{max-width: 768px;margin: 0 auto;}
    .collection-col-section .col-image-wrap{max-width:160px;}
    .collection-col-section .section-wrap .col{max-width:50%;padding-bottom:80px;}
    .collection-col-section .col-dec p{max-width:320px;margin:0px auto;}
    .collection-col-section{padding-bottom:0px;}
    .collection-col-section .col-dec{padding-top:29px;}
    .collections-header .collections-header-logo img{max-height:64px;}
    .collection-review-slider .slick-arrow.slick-prev{left:20px;}
    .collection-review-slider .slick-arrow.slick-next{right:20px;}
  }
  @media only screen and (max-width: 860px){
    .collection-hero-image .img-col, .collection-hero-image .col{max-width:100%;}
    .collection-hero-image .col.right-col{order:1;padding-top:55px;padding-bottom:71px;}
    .collection-hero-image .img-col{order:2;}
    .collection-hero-image .right-col p{font-size:24px;line-height:1.3;margin-bottom:27px;}
    .collection-hero-image h2{font-size:48px;max-width:400px;margin-bottom:44px;}
    .collection-hero-image .cta .btn.btn1{padding:15px 52px;}
    .collection-hero-image .img-col .col{max-width:50%;}
    .collection-partner-logo{padding:26px 0px;}
    .collection-image-text{padding:80px 0px;}
    .collection-image-text .col.left-col{max-width:100%;order:2;}
    .collection-image-text .col.right-col{order:1;max-width:100%;padding-bottom:75px;}
    .collection-image-text .col.right-col img{width:auto;margin:0px auto;display:table;}
    .collection-image-text .col.left-col .col-wrap{max-width:100%;}
    .collection-listing-section{padding-top:80px;}
    .collection-listing-section .collection-listing{padding:0px 16px;}
    .collection-review-slider .slide .review-message p{max-width:576px;}
    .collection-review-slider .slick-arrow.slick-prev{left:20px;}
    .collection-review-slider .slick-arrow.slick-next{right:20px;}
    .collections-header .collections-header-logo img{max-height:56px;}
    .numbar-collection h2{font-size:30px;max-width:489px;}
    .numbar-collection .numbar{font-size:120px;}
    .numbar-collection h3{font-size:30px;max-width:420px;}
    .numbar-collection h4{font-size:38px;max-width: 415px;}
  }
  @media only screen and (max-width: 768px){
    .desktop-image, .tablet-image{display:none;}
    .mobile-image{display:block;}
  }
  @media only screen and (max-width: 767px) {
    .main_footer li{padding: 0 10px;}
    .main_footer{display: block;text-align: center;padding:40px 20px; }
    .main_footer .right_footer ul{justify-content:center;}
    .main_footer .right_footer ul li{padding:0px;}
    .main_footer .right_footer ul li:not(:last-child){padding-right:39px;}
    .main_footer .left_footer ul{justify-content: space-between;}
    .main_footer .left_footer li:nth-child(1){padding-left:0px;}
    .main_footer .left_footer li:last-child{padding-right:0px;}
    .main_footer a{padding:7px 0px;}
    .left_footer{border-bottom:1px solid #0064ff;}
    .collection-hero-image .col.right-col{padding-top:50px;padding-bottom:48px;}
    .collection-hero-image .right-col p{font-size:21px;margin-bottom:26px;}
    .collection-hero-image h2{font-size:40px;line-height:44px;max-width:90%;margin-bottom:29px;}
    .collection-hero-image .cta .btn.btn1{padding:15px 40px;}
    .collection-partner-logo-wrap .logo-list{max-width:50%;padding-bottom:9px;}
    .collection-partner-logo{padding:24px 0px;}
    .collection-listing-section .section-head{display:none;}
    .pro_review {margin-bottom: 0px;}
    .numbar-collection .mobile-btn{display:block;}
    .numbar-collection h2{font-size: 26px;max-width: 227px;margin-bottom:30px;}
    .numbar-collection .numbar{font-size:80px;padding-bottom:30px;}
    .numbar-collection h3{font-size: 22px; max-width: 300px; line-height: 1.3;margin-bottom:25px;}
    .numbar-collection h4{font-size:24px;max-width:259px;}
    .numbar-collection{padding:20px 0px 40px;}
    .collection-listing-section .collection-listing .col .collection-img:after{
      padding-bottom: 110%; 
    }
  }
  @media only screen and (max-width: 540px){
  	.collection-listing-section .collection-listing .col .collection-detail .btn.btn1{font-size:12px;padding:10px 17px;}
    .collection-listing-section .collection-listing .col{padding:0px 5.5px 40px;}
    .collection-listing-section .collection-listing{padding:0px 18.5px;}
    .collection-image-text{padding-top:24px;padding-bottom:59px;}
    .collection-col-section .section-wrap .col{max-width:100%;}
    .collection-image-text .col.right-col{padding:0px 20px 42px;}
    .collection-listing-section{padding-top:40px;}
    .collection-listing-section .collection-listing .col .collection-img{margin-bottom:7px;}
    .collection-listing-section .collection-listing .col .collection-detail h4 a{font-size:16px;margin-bottom:5px;}
    .collection-listing-section .collection-listing .col .collection-detail .pricebox p{font-size:10px;line-height:1.1;margin-bottom:9px;}
    .collection-listing-section .collection-listing .col .collection-detail .pricebox p span{font-size:12px;}
    .collection-listing-section{padding-bottom:32px;}
    .collection-review{padding-top:40px;padding-bottom:64px;}
    .collection-review h2{font-size:24px;margin-bottom:19px;}
    .collection-review-slider .slide .review-icon svg{max-height:16px;}
    .collection-review-slider .slide .review-icon{margin-bottom:22px;}
    .collection-review-slider .slide .review-message p{font-size:16px;padding:0px 20px}
    .collection-review-slider .slick-arrow{display:none !important;}
    .collection-review-slider .slide .review-auther p{font-size:14px;}
    .collection-review-slider .slick-dots{margin-top:29px;}
    .section-slider-wrap{padding-bottom:38px;}
    .section-video-wrap .section-video{max-width:calc(100% - 40px);}
    .section-video-wrap{margin-bottom:40px;}
    .template-collection .btn1{padding:16px 40px;line-height:1.4;}
    .collection-col-section .col-dec{padding-top:21px;}
    .collections-header .collections-header-logo img{max-height:41px;}
    .main_footer{padding:40px 41px;}
  }
  @media only screen and (max-width: 360px){
    .collection-image-text h2{font-size:31px;}
  }
</style>
<script>
  $('.collection-review-slider').slick({
    dots: true,
    infinite: true,
    arrows:true,
    speed: 300,
    slidesToShow: 1,
    slidesToScroll: 1,
    responsive: [
      {
        breakpoint: 541,
        settings: {
          arrows:false,
        }
      }
    ]
  });
</script>
