<div class="ebyCollBreadcrumbsWrapper tierTwo">
    <div class="breadcrumbs ebyBreadcrumbs">
          <ul class="tierTwoCrumbs"><li class="ebyicon-back-thin"><a href="/">Home</a></li><li class="ebyicon-back-thin"><a href="/collections/seamless-underwear">Shop All</a></li><li>{{ collection.title }}</li></ul>
    </div>
</div>

<section id="pageContent">
  <div class="container-full">
    <div class="pageCollectionInner mb20 pb-md-30 collectionsGlobalWrapper">
      {% comment %}
      {% section 'top-categories' %}
	  {% endcomment %}
      
      {% section 'vela-template-collections' %}          
    </div>
  </div>
</section>

{% if collection.metafields.ebyacf.collection_description_blurb %}
<section class="ebyCollectionGuaranteeWrapper">
  <div class="ebyContentWrapper">
  	<div class="ebyContentContainer">
    	{{ collection.metafields.ebyacf.collection_description_blurb }}
    </div>
  </div>
</section>
{% endif %}