<style>
  .membership-cols-2022 .membership-text-2022.form_wrapper {
    top: 0;
    height: 100%;
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: flex-start;
    max-width: 812px;
    margin: auto 0;
    padding-left: 2rem;
  }
  input.e_checkbox_input {
    width: 25px;
    height: 25px;
    display: inline-block;
    margin: 0.4rem 1rem 0 0;
    vertical-align: middle;
    min-width: 25px;
  }
  .form_row.checkbox_row {
    flex-direction: row;
    align-items: normal;
    margin-top: 1.4rem;
  }
  .form_row.checkbox_row label{
    line-height: 24px;
  }
  /**/
  @font-face {
    font-family: "Sang Bleu OG";
    src: local("Sang Bleu OG"),
      url("https://cdn.shopify.com/s/files/1/0313/4062/5964/files/SangBleuOGSans-Medium.otf?v=1682931705") format("opentype");
  }
  /**/
  .input_label {
    font-size: 1.4rem;
    line-height: normal;
  }
  .form_row {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    padding-bottom:1.2rem;
  }
  /**/
  .form_outerwrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10rem 2rem;
    background: #fff;
    text-align: center;
    max-height: 696px;
    max-width: 812px;
    width: 100%;
    height: 100%;
  }
  .spotlight_text,
  .form_outerwrapper span.eby-big-text.spotlight_text {
    color: #c7a8ab;
    line-height: normal;
    font-family: 'Sang Bleu OG', sans-serif;
    display: block;
    font-size: 4rem;
    padding: 1rem 0;
  }
  .eby-form_wrapper {
    width: 100%;
    max-width: 330px;
    padding-top:4rem;
  }
  .form_outerwrapper span.eby-big-text,
  .form_outerwrapper span.eby-subtitle-text{
    color: #04081c;
    font-size: 2.4rem;
    font-weight: 400;
    line-height: normal;
  }
  .form_outerwrapper span.eby-subtitle-text{
    font-size: 2rem;
  }
  
  #waitlist-form {
    display: flex;
    margin: 1rem auto;
    width: 100%;
    justify-content: center;
    flex-direction: column;
  }
  #waitlist-form .e_email_input,
  #waitlist-form .e_phone_input {
    border: none;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    font-size: 1.6rem;
    color: #04081c;
    border: 1px solid #bfc1cb;
    width: 100%;
    display: block;
  }
  #waitlist-form button{
    border-radius: 4px;
    margin-top: 1rem;
    border: none;
    font-size: 1.6rem;
    padding: 0.6rem 1.2rem;
    background: #04081c;
    color: #fff;
    width: 100%;
    max-width: 330px;
  }
  /* rest of styles */
  .membership-cols-2022 .eby-big-text, .membership-cols-2022 .eby-subtitle-text {color: #FFFFFF;}.mob_img2 {display: block;}.tablet_img2, .desk_img2 {display: none;}.membership-cols-2022 {position: relative;}.membership-img-2022 {width: 100%;}.membership-text-2022 {top: 22%;}.membership-text-2022, .membership-button-2022 {position: absolute;min-width: calc(368px - 20px);width: calc(100% - 40px);margin: 0 auto;right: 0;left: 0;z-index: 1;}.membership-text-span-2022 {width: 338px; margin: 0 auto; text-align:center;}.eby-big-text {font-size: 32px;display: block;font-weight: bold;line-height: 1.13;}.eby-subtitle-text {font-size: 14px;line-height: 1.75;text-align: center;display: block;}.membership-button-2022 {bottom: 28px;}.eby-membership-button.ebyMicroBtn.joinNow {width: 168px;height: 48px;margin: 0 auto;padding: 0 23px;border-radius: 4px;border: solid 1px #FFF;background-color: #FFF;color: var(--eby-main-dark-color);}.eby-membership-button-text {line-height: 1.38;font-size: 14px; letter-spacing: 0.4px;}.membership-button-2022 span {margin-top: 16px;}.membership-text-medium-2022 {margin-top: 14px;}.eby-title-text-m {font-size: 20px;font-weight: bold;line-height: 1.75;}.eby-subtitle-text-m {display: block;line-height: 1.75;font-size: 16px;}.ebyMembershipBoxOptionsWrapper {padding: 144px 20px 95px;}.ebyMembershipBoxOptionsWrapper .membershipOfferingGrid {flex-direction: column; padding-top:20px;}.ebyMembershipBoxOptionsWrapper .membershipOfferingGrid .membershipBoxTile {width: 100%;max-width: 281px;margin: 41px auto 0;}.pro_inner_new .pro_img {min-width: 140px; width: 144px;margin: 0 auto;}.membership-button-box-2022 {min-width: auto;width: 100%;margin: 54px auto 0;}.promo_copy {font-size: 1.2rem;color: rgba(208, 2, 27, 1);line-height: initial;margin-bottom: 1rem;}h4, h3 {margin: 0;}.eby-list-wrapper-2022 img {width: 60px;height: 60px;float: right;}.eby-laptop {display: none;}.eby-mobile .eby-membership-button-container {text-align: center;}.eby-container-why-2022 {margin: auto 20px;}.membership-subtitle-span-2022 {margin-top: 35px;}.content-block, .membership-subtitle-span-2022 h4 {text-align: center;}.eby-2-col-1-sm-2-xl {display: flex;flex-wrap: wrap;row-gap: 36px;min-width: 335px;margin: 44px auto 0;align-items: center;width: 335px;max-width: 460px;justify-content: space-between; padding-left: 29px}.eby-list-wrapper-2022:nth-child(odd) {width: 18%;}.eby-list-wrapper-2022:nth-child(even) {width: 75%;}.eby-list-wrapper-2022 span {font-size: 16px;line-height: 1.5; display: block;}.member-perks-container .member-perks {margin-top: 64px;}.content-block h3 {font-size: 32px;font-weight: bold;line-height: 1.25;}.membership-subtitle-span-2022 h4 {font-size: 20px;font-weight: bold;line-height: 1.4;letter-spacing: normal;width: 65%;margin: 0 auto;}.eby-big-text.text-center-2022 {margin: 73px auto;text-align: center;max-width: 291px;}
  /* solution base */
  .solution-base-section {margin-bottom: 6rem;}.solution-main {display: flex;flex-direction: column; max-width: 514px; margin: 0 auto;}.eby-text-22 {margin-top: 114px;}.eby-fit-main-title {width: 60%;}.eby-fit-main-title span {font-size: 32px;letter-spacing: 0;line-height: 1.25;font-family: "aktiv-grotesk", Arial, sans-serif;}.eby-fit-main-title span, .eby-tech-main-subtitle span, .eby-tech-main-title span {font-weight: 700;color: var(--eby-main-dark-color);}.eby-fit-subtitle span {font-size: 20px;font-weight: 600;line-height: 2.4;color: inherit;}.eby-fit-text-area {margin-top: 15px;}.eby-fit-text-area span {font-size: 16px;line-height: 1.5;color: inherit;}.eby-fit-block {background-color: var(--eby-block-background);margin-top: 42px;border-radius: 20px;padding: 31px 30px 105px;position: relative;}.eby-fit-block-title {font-size: 20px;font-weight: 700;line-height: 1;font-family: aktiv-grotesk, sans-serif;color: var(--eby-semi-dark-color);}.eby-fit-block-subtitle {font-size: 16px;font-weight: 700;line-height: 1.25;}.eby-fit-block-text {font-size: 13px;line-height: 1.54;color: #7f8397;}.eby-fit-block-img {margin-top: 20px;}.eby-fit-block-des {margin-top: 25px;}.eby-fit-block-des-title {font-size: 14px;line-height: 1.71;color: var(--eby-semi-dark-color);font-weight: 700;}.check-list {margin-top: 13px;}.check-list-container {display: flex;flex-wrap: wrap;gap: 4px;align-items: center;}.eby-checklist-item:nth-child(odd) {width: 24px;height: 24px;margin-right: 4px;align-self: flex-start;}.eby-checklist-item:nth-child(2n) {width: 86%;}.eby-checklist-item span {font-size: 12px;line-height: 1.33;display:block; color: var(--eby-semi-dark-color);}.eby-main-button-solution {bottom: 30px;position: absolute;left: 20px;right: 20px;}.eby-shop-all-button {margin: 42px auto 0;}.eby-button-dark {width: 100%;height: 48px;background-color: var(--eby-main-dark-color);border: 1px solid var(--product-name-color);border-radius: 4px;}.eby-button-href {font-size: 14px;font-weight: 500;font-stretch: normal;font-style: normal;line-height: 1.14;letter-spacing: 0.4px;text-align: right;}.eby-button-blue a, .eby-button-blue i, .eby-button-dark a, .eby-button-transparent a, .eby-button-transparent i {color: #fff;}.most-value {position: absolute;top: -29px;text-align: center;width: 80%;}.most-value span {font-size: 10px;font-weight: 700;color: #7f8397;}.eby-fit-block-title-container {display: flex;justify-content: space-between;align-items: center; height: 32px;}.text-style-1 {color: #7f8397;margin-left: 6px;}.eby-fit-block-text {font-size: 13px;line-height: 1.54;color: #7f8397;}.eby-button-blue {width: 100%;height: 48px;background-color: #4a90e2 !important;border: none;border-radius: 4px;}

  .eby-membership-button-container{
    text-align: center;
  }
  .membership-text-2022{
    text-align: center;
  }
  .subscription-block-container .eby-title-margin-2022{
    text-align: center;
  }
  .subscription-block-container .eby-big-text{
    padding-bottom: 20px;
  }
  .main-padding-eby{
    overflow: hidden;
  }
  .member-perks-container .eby-membership-button.ebyMicroBtn.joinNow,
  .ebyMembershipBoxOptionsWrapper .eby-membership-button.ebyMicroBtn.joinNow{
    border: solid 1px var(--eby-main-dark-color);
    background-color: var(--eby-main-dark-color);
    color: #fff;
  }
  .eby-sub-main-desc23{
    font-size: 16px;
    line-height: 1.75;
  }
  .how-it-works-desc-wrap{
    margin-top: 22px;
  }
  .membership-button-box-2022 .eby-subtitle-text{
    padding-top: 21px;
  }
  .subscription-block-container .only-sub-text23{
    font-size: 16px;
  }
  .eby-fit-block-1st23{
    height: 32px;
  }
  .eby-fit-block .ebyMicroBtn.joinNow{
    margin: 0;
  }
  .eby-flag23{
    color: #d0021b;
    background: rgba(255,255,255,0.75);
    border-radius: 4px;
    padding: 1px 4px;
    margin-left: 2px;
    display: inline-block;
  }
  .membership-button-2022 button.ebyMicroBtn.joinNow{
    width: 190px;
  }
  /*************************** Tablet ****************************/
  @media(min-width: 768px) {
    #waitlist-form {
      justify-content: flex-start;
    }
    .membership-button-box-2022 {min-width: calc(368px - 20px);width: calc(100% - 40px);margin: 54px auto 0;}.mob_img2, .desk_img2 {display: none;}.tablet_img2 {display: block;}.eby-big-text {font-size: 44px; line-height: 1.09;}.membership-button-2022 span {margin-top: 20px;}.membership-button-2022 {bottom: 76px;}.ebyMembershipBoxOptionsWrapper {padding: 104px 84px 76px;}.pro_inner_new .pro_img {min-width: 184px;min-height: 193px;}.ebyMembershipBoxOptionsWrapper .membershipOfferingGrid {flex-direction: row;max-width: 600px;margin: 0 auto;}.ebyMembershipBoxOptionsWrapper .membershipOfferingGrid .membershipBoxTile {width: 48%;column-gap: 16px; margin: 65px auto 0;}.membership-text-medium-2022 {margin-top: 22px;}.eby-title-text-m {font-size: 20px;}.eby-subtitle-text-m {font-size: 14px;padding: 0 6%;}.eby-container-2022 {margin: 0;}.member-perks-container .member-perks {margin-top: 67px;}.eby-container-why-2022 {margin: auto 46px;}.eby-big-text.text-center-2022 {margin: 69px auto;max-width: 465px;}.eby-list-wrapper-2022:nth-child(odd) {width: 13.14%;}.eby-list-wrapper-2022:nth-child(even) {width: 80%;}.membership-subtitle-span-2022 {margin-top: 41px;}.membership-subtitle-span-2022 h4 {width: 100%;font-size: 24px;}.eby-2-col-1-sm-2-xl {column-gap: 28px;row-gap: 12px;margin: 0; margin-top: 79px;width: 100%; max-width: 100%;padding-left:79px;}
    .content-block h3{
      font-size: 44px;
      line-height: 1.09;
    }
    .eby-sub-main-desc23{
      font-size: 20px;
    }
    .membership-text-span-2022 .eby-subtitle-text{
      font-size: 20px;
      line-height: 1.6;
    }
    .membership-text-span-2022{
      width: 467px;
      /* padding-top: 17px; */
      
    }
    /* solution base */
    .eby-fit-main-title span {font-size: 44px;line-height: 1.09;}.eby-fit-main-title{margin: 0 auto;}.eby-text-22{text-align: center;}.eby-fit-subtitle span{font-size: 24px;}.eby-fit-text-area {width: 56%;margin: 0 auto;}.solution-main{flex-direction: row;flex-wrap:wrap;column-gap: 16px; max-width: 100%; margin 0;}.eby-fit-block{width: 48.8%;margin-top: 69px;}.solution-base-section{margin-bottom: 104px;}

  }
  /*************************** Laptop ****************************/
  @media(min-width: 1024px) {
    .mob_img2, .tablet_img2 {display: none;}.desk_img2 {display: block;}.membership-text-2022, .membership-button-2022 { margin: 0 auto; max-width: 1050px;text-align: left;}.eby-subtitle-text {text-align: left;}.eby-membership-button.ebyMicroBtn.joinNow {margin: 0;}.membership-button-2022 {bottom: 44px;}.membership-button-2022 span {margin-top: 16px;}.ebyMembershipBoxOptionsWrapper {padding: 113px 0 116px;}.ebyMembershipBoxOptionsWrapper .membershipOfferingGrid {max-width: 100%;flex-wrap: nowrap;gap: 37px;}.ebyMembershipBoxOptionsWrapper .membershipOfferingGrid .membershipBoxTile {width: 25%;margin-top: 44px;}.ebyMembershipBoxOptionsWrapper {text-align: center;}.membership-text-medium-2022 {margin-top: 14px;}.eby-title-text-m {font-size: 18px;}.membership-button-box-2022 {margin-left: 0;margin-top: 73px;}.membership-button-box-2022 span {margin-top: 28px;}.eby-subtitle-text-m {padding: 0;}.eby-container-2022 {margin: 0 auto; max-width: 1050px; }.eby-mobile {display: none;}.eby-laptop {display: block;}.member-perks-container .member-perks {display: flex;gap: 16px;margin-top: 80px;}.eby-container-why-2022 {margin: 0 auto; max-width: 1050px;}.content-block, .membership-subtitle-span-2022 h4 {text-align: left;}.content-block {width: 38%;}.eby-big-text.text-center-2022 {width: 100%;margin: 87px auto 113px;}.membership-subtitle-span-2022 {margin-top: 0;width: 59%;}.eby-2-col-1-sm-2-xl {row-gap: 26px;margin: 32px 0 auto; padding-left: 0;justify-content: normal;}.eby-laptop {margin-top: 53px;}.solution-main {flex-direction: row;gap: 30px;}
    .eby-list-wrapper-2022:nth-child(odd){
      width: 10%;
    }
    .membership-text-span-2022{
      width: 500px;
      margin-left: 0;
    }
    .eby-membership-button-container{
      text-align: left;
    }
    .eby-text-22{
      margin-top: 0;
      width: 30%;
      text-align: left;
    }
    .eby-fit-block {
      width: 32%;
      margin-top: 0;
    }
    .eby-fit-main-title{
      width: 100%;
    }
    .eby-fit-text-area{
      width: 100%;
    }
    .solution-base-section{
      margin-top: 150px
    }
    .membership-subtitle-span-2022 h4{
      font-size: 24px;
    }
    .new_member_banner,
    .ebyMembershipBoxOptionsWrapper .eby-title-margin-2022,
    .ebyMembershipBoxOptionsWrapper .how-it-works-desc-wrap{
      text-align: left;
    }
  }
  /*************************** Desktop ****************************/
  @media(min-width: 1440px) {
    .eby-big-text {font-size: 3em;}.membership-text-medium-2022 {margin-top: 22px;}.eby-title-text-m {font-size: 20px;}.membership-button-box-2022 {margin-top: 54px;}.membership-button-box-2022 span {margin-top: 28px;}.ebyMembershipBoxOptionsWrapper .membershipOfferingGrid {flex-direction: row;max-width: 1080px;flex-wrap: nowrap;gap: 30px;margin: 0;}.member-perks-container .member-perks {gap: 114px;margin-top: 112px;}.content-block {width: 42%;}.content-block h3 {font-size: 48px;}.eby-big-text.text-center-2022 {margin: 83px auto 109px;max-width: 747px;}.eby-2-col-1-sm-2-xl {column-gap: 29px;row-gap: 24px;}.membership-button-box-2022.eby-laptop {margin-top: 49px;}
  }
  @media(max-width: 768px) {
    .membership-cols-2022 .membership-text-2022.form_wrapper {
      width: 100%;
      padding-right: 2rem;
      align-items: flex-end;
      padding-bottom: 2rem;
    }
    .form_outerwrapper {
      max-height: 560px;
    }
    .form_outerwrapper span.eby-big-text {
      font-size:2rem;
    }
    .form_outerwrapper span.eby-big-text br {
      display: none;
    }
    .form_outerwrapper span.eby-subtitle-text {
      font-size: 1.6rem;
    }
    .spotlight_text, .form_outerwrapper span.eby-big-text.spotlight_text{
      font-size: 3.6rem;
    }
  }
</style>

<div class="new_member_banner">
  <div class="membership-cols-2022">
    <div class="membership-text-2022 form_wrapper">
      <section class="form_outerwrapper left_aligned">
        <h1 class="eby-title-margin-2023" style="margin:0;">
          <span class="eby-big-text">Coming Soon</span>
          <span class="eby-big-text spotlight_text">A Giant Leap <br/> in Bra Innovation</span>
        </h1>
  
        <div class="membership-text-span-2023">
          <span class="eby-subtitle-text">
            Get notified first when it drops
          </span>
        </div>
  
        <article class="eby-form_wrapper">
          <form id="waitlist-form">
            <div class="form_row">
              <label class="input_label" for="email" >Email</label>
              <input type="email" placeholder="" name="email" class="e_email_input e_input" />
            </div>
            <div class="form_row">
              <label class="input_label" for="phone" >Phone <small>(optional)</small></label>
              <input type="tel" placeholder="" name="phone" class="e_phone_input e_input" />
            </div>
            <div class="form_row checkbox_row">
              <input type="checkbox" name="consent" class="e_checkbox_input" />
              <label class="input_label" for="consent" >By signing up, I agree to EBY's <a href="https://shop.join-eby.com/pages/privacy-policy" target="_blank">Privacy</a> and <a href="https://shop.join-eby.com/pages/terms-of-use" target="_blank">Terms of Use</a>. You may unsubscribe later.</label>
            </div>
            <button type="submit" id="waitlist-form-submit-btn" >KEEP ME POSTED</button>
          </form>
        </article>
      </section>
    </div>

<!--     <div class="membership-button-2022">
      <div class="eby-membership-button-container">
        <button
          class="eby-membership-button ebyMicroBtn joinNow"
          data-subscribe="default"
          title="Subscribe"
        >
          <span class="eby-membership-button-text"
            >Subscribe & Save <i class="ebyicon-nicon-arrow-forward  arrow-eby-stly"></i>
          </span>
        </button>
      </div>
      <span class="eby-subtitle-text">Use code: SUB50</span>
    </div> -->

    <div class="membership-img-2022">
      <img
        width="376"
        height="472"
        alt="Panty Subscription Memberships"
        title="Panty Subscription Memberships"
        src="https://cdn.shopify.com/s/files/1/0313/4062/5964/files/LP---376---only-bra---teaser---waiting-list.jpg"
        class="mob_img2 lazyloadPload"
      >
      <img
        width="768"
        height="768"
        alt="Panty Subscription Memberships"
        title="Panty Subscription Memberships"
        data-src="https://cdn.shopify.com/s/files/1/0313/4062/5964/files/LP---1440---only-bra---teaser---waiting-list.jpg"
        class="tablet_img2 lazyload"
      >
      <img
        width="1244"
        height="786"
        alt="Panty Subscription Memberships"
        title="Panty Subscription Memberships"
        data-src="https://cdn.shopify.com/s/files/1/0313/4062/5964/files/LP---1440---only-bra---teaser---waiting-list.jpg"
        class="desk_img2 lazyload"
      >
    </div>
  </div>
  <!-- 5 reason why you should subscribe to eby -- -->
</div>


<script type="text/javascript" defer>
  document.addEventListener("DOMContentLoaded", function() {
    $('.collapsible').collapsible();

    // basic phone validation
    function validDigits(n){
      return n.replace(/[^0-9]+/g, '');
    }
    $(".e_phone_input").keyup(function (ev) {
        ev.target.value = validDigits(ev.target.value);
    });

    jQuery('body').on('submit', '#waitlist-form', function (ev) {
      ev.preventDefault();
      console.log(':: sign up init ::', ev.target);
      let emailSubmitted = jQuery(ev.target).find('.e_email_input').val();
      let phoneSubmitted = jQuery(ev.target).find('.e_phone_input').val();
      let consentSubmitted = jQuery(ev.target).find('.e_checkbox_input');
      let formWrapper = jQuery('#waitlist-form');

      if (emailSubmitted !== '' && !!consentSubmitted[0].checked) {
          var settings = {
          "async": true,
          "crossDomain": true,
          "url": "https://manage.kmail-lists.com/ajax/subscriptions/subscribe",
          "method": "POST",
          "headers": {
            "content-type": "application/x-www-form-urlencoded",
            "cache-control": "no-cache"
          },
          "data": {
            "g": "UySQVJ",
            "email": emailSubmitted,
            "$phone_number" : phoneSubmitted,
            "sms_consent": phoneSubmitted.length > 0,
            "$consent": ['email', 'sms'],
            "$fields": "$source",
            "$source": "Account Creation",
          }
          };
          $.ajax(settings).done(function(response) {
            console.log(":submit done:", response);
            formWrapper.find('.e_email_input').val('');
            formWrapper.find('.e_phone_input').val('');
            consentSubmitted[0].checked = false;
            M.toast({html: 'Success! Look Out For An Email To Confirm.', classes: 'ebyAtcAlert success', displayLength: 3000});

            gtag("event", "lp-sign_up_form", {
              	event_label: "only_bra_teaser",
                event_category: "new_product_waitlist"
            });
          });
      } else {
        // error, please give email
        M.toast({html: 'Please Provide An Email And Accept Terms.', classes: 'ebyAtcAlert error', displayLength: 1250});
      }
    });
  });  
  // window.addEventListener("load", function () {
  //   if (!!localStorage.getItem('homeHeroImage-click')) {
  //     gtag('config', 'UA-103955744-4');
  //     gtag('event', 'ab_test_img', {
  //       'event_category': 'ab_test-sub_img_swap-click--' + localStorage.getItem('homeHeroImage-click'),
  //       'event_label': 'homepage_ab_test-take_one',
  //       'event_value': ''
  //     });
  //     localStorage.removeItem('homeHeroImage-click');
  //   }
  //   gtag('event', 'cpv-membership_page', {
  //     'event_category': location.href,
  //     'event_label': document.title,
  //     'event_value': ''
  //   });
  // });
</script>