<div class="faq_page">
  {% section 'faq_banner-section' %}
  {% section 'faq_accordian-section' %}
</div>

<style>
  
.internationalOnly {
  display: none;
}
.ebyacfWrapper .ebycopyLtWeight,
.ebyacfWrapper .ebycopyLtWeight,
.ebyacfWrapper .ebycopyLtWeight{
  font-family: "Domaine Regular", serif;
}
.pageTop,
.ebyacfWrapper.pageTop {
	padding-top: 43px;
}

.ebycopyMdWrap {
  max-width: 825px;
  margin: 0 auto;
}
.ebycopySmWrap {
  max-width: 550px;
  margin: 0 auto;
}
.ebycopyLgWrap {
  max-width: 1000px;
  margin: 0 auto;
}
.ebyacfContent {
    /*background: #fff;*/
    /*padding-top: 4rem;*/
}
.ebycmsButtonWrapper {
    max-width: 1460px;
    width: 100%;
    margin: 5rem auto;
    padding: 0 2rem;
    text-align: center;
}
.vertCent {
    align-items: center;
    display: flex;
    width: 100%;
}
.item.item2.oneTileBlock {
	margin-bottom: 5rem;
}
@media(max-width: 769px) {
    .item.item2.oneTileBlock {
      margin-bottom: 0;
    }
}
  .ebyacfWrapper {width: 100%;max-width: 100%;}.ebyacfWrapper.centerPadding .ebycmsContentBlock {max-width: 1000px;width: 100%;}.ebyacfWrapper.centerPadding .ebycmsContentBlock h2 {line-height: 5rem;}.ebyacfWrapper > header, .ebyacfWrapper > article {max-width: 1460px;width: 100%;margin: 0 auto;padding: 35px 45px 35px 45px;}@media (max-width: 480px) {.ebyacfWrapper > header, .ebyacfWrapper > article {padding: 40px;}}@media (max-width: 480px) {.ebyacfWrapper > header, .ebyacfWrapper > article {padding: 20px;}}.ebyacfWrapper h1 {font-family: "Domaine Regular", serif;font-size: 48px;margin: 0 auto;}.ebyacfWrapper h2 {font-family: "Domaine Regular", serif;font-size: 36px;font-weight: 500;line-height: 1.4;margin: 0 auto;}.ebyacfWrapper h3 {font-family: "Domaine Regular", serif;font-size: 25px;margin: 0 auto;}.ebyacfWrapper p {font-family: "Domaine Regular", serif;font-size: 25px;line-height: 1.7;margin: 0 auto;}.ebyacfWrapper h4 {font-family: "activ-grotesk", sans-serif;}.ebyacfWrapper p, .ebyacfWrapper h4 {font-size: 2.25rem;}.ebyacfWrapper img {display: block;width: 100%;margin: 0 auto;max-width: 1440px;}.ebyacfWrapper .ebycmsTwoColWrapper {display: flex;padding: 2rem;justify-content: space-between;}.ebyacfWrapper .ebycmsTwoColWrapper .ebycmsCol {width: 100%;max-width: 48%;}@media (max-width: 769px) {.ebyacfWrapper .ebycmsTwoColWrapper {flex-direction: column;padding: 0;}.ebyacfWrapper .ebycmsTwoColWrapper .ebycmsCol {max-width: 100%;margin-bottom: 3rem;}}@media (max-width: 769px) {.ebyacfWrapper h1 {font-size: 3.75rem;}.ebyacfWrapper h2 {font-size: 2.5rem;line-height: 3rem;}.ebyacfWrapper h3, .ebyacfWrapper h4, .ebyacfWrapper p {font-size: 1.75rem;}.ebyacfWrapper.centerPadding .ebycmsContentBlock {max-width: 100%;padding: 4rem 2rem;}.ebyacfWrapper.centerPadding .ebycmsContentBlock h2 {font-size: 2rem;line-height: 3.5rem;}}
  .ebyacfWrapper .ebycmsTwoColWrapper .ebycmsCol h2 {margin-bottom: 20px;font-weight: 700;}
.ebyacfWrapper .ebycmsTwoColWrapper .ebycmsCol p {font-family: "Domaine Regular";font-size: 25px;line-height: 1.8;}
.ebyacfWrapper .ebycmsTwoColWrapper .ebycmsCol h3 {
  font-family: "Domaine Regular";
  font-size: 36px;
  font-weight: 500;
  line-height: 1.4;
  margin: 0 auto 20px;
}
.ebyacfWrapper .ebycmsTwoColWrapper .ebycmsCol h4 {
  font-family: "Domaine Regular";
  font-size: 36px;
  font-weight: 700;
  line-height: 1.4;
  margin: 0 auto;
}
#about .our-people-section .our-people-info{
 text-align: center; 
}
.our-people-section {padding-bottom: 180px;}
.our-people-section h1 {font-size:50px;font-weight:700;margin:80px 0 120px 0;}
.our-people-section .our-top-head {}
.our-people-section .our-top-head h2 {
  font-family: "Domaine Regular";
  font-size: 48px;
  font-weight: 400;
  line-height: 1.4;
  margin: 0 auto;
  text-align: center;
}
.our-people-section .our-top-head p {
  font-family:aktiv-grotesk,Helvetica,Arial,sans-serif;
  font-size: 24px;
  font-weight: 300;
  line-height: 1.4;
  margin: 20px auto;
}
.our-people-section .our-people-img {padding:80px 30px 80px 30px;}
.our-people-section .our-people-info {max-width:816px;width:100%;margin:0 auto;text-align:center;}
.our-people-section .our-people-info p {
  font-family: "Domaine Regular";
  font-size: 24px;
  font-weight: 400;
  line-height: 1.4;
  margin: 20px auto;
}

.our_product-txt {text-align:center;}
.our_product-txt h2 {font-size:48px;font-weight:400 !important;line-height:1.2;}

.our-product-info {clear:both;padding:80px 0 200px 0;text-align:center;}

.we_wxist_section {}
.we_wxist_section .wxist_img {padding:50px 50px 0 50px;}
.we_wxist_section h1 {margin:120px 0;}

/*.main_top_header {padding-top:30px;}*/
.proHImage:hover .proFeaturedImage span{visibility: visible;@include opacity(1);}
.proHImage:hover .proButton {@include opacity(1);visibility: visible;}
.ebyicon-accordionToggle {
    display: flex;
    width: 28px;
    align-items: center;
    position: relative;
}
span.ebyicon-accordionToggle:before {
    content: "+";
    font-weight: 300;
    font-family: aktiv-grotesk,sans-serif;
    margin: 0;
    display: inline-block;
    position: absolute;
}
.borderfreeFaqLinkWrapper {
    display: none;
}
.faq_page {
    background: #e5d3ca;
    padding: 35px 45px 35px 45px;
}
.ebyacfWrapper.pageTop, .pageTop {
    padding-top: 43px;
}
.faq_page .ebyacfWrapper h1 {
    margin-bottom: 4rem;
}
li.active>h3 span.ebyicon-accordionToggle:before {
    content: "-";
    font-weight: 300;
    font-family: aktiv-grotesk,sans-serif;
    margin: 0;
    display: inline-block;
    position: absolute;
}
.faq_page {background: #e5d3ca;padding: 50px 0 90px;}.faq_page img {max-width: 100%;}.faq_block_in {margin: 0 0 50px;}.faq_block_in::after {clear: both;content: "";display: table;}.faq_block_in .col {float: left;width: 20%;}.accordion ol {margin-bottom: 0.75em;}.faq_tab_main {max-width: 800px;margin: 0 auto;width: 100%;}.faq_tab_main p, .faq_tab_main li {font-size: 16px;font-weight: 300;font-stretch: normal;font-style: normal;line-height: 1.38;letter-spacing: 0.3px;color: #000;margin: 0;}.faq_tab_main a {color: #008ab4;text-decoration: none;}.faq_tab_main a:hover {color: #0064ff;}.faq_tab_main ul {list-style: none;padding: 0;margin: 0;display:block;}.accordion {list-style: none;padding: 0;margin: 0;border-top: solid 1px #4a4a4a;}.accordion h3 {margin: 0;padding: 25px;font-family: aktiv-grotesk, Helvetica, Arial, sans-serif;background: url("https://cdn.shopify.com/s/files/1/0313/4062/5964/files/plus_ic.png?v=1597757431") no-repeat right 25px center;color: #000;text-transform: none;cursor: pointer;font-size: 24px;font-weight: normal;font-stretch: normal;font-style: normal;line-height: 0.83;letter-spacing: normal;border-bottom: solid 1px #4a4a4a;}.accordion ul[style="display: block;"] .accordion1 {display: block !important;}.accordion > li > ul {display: none;padding: 0 25px;}.accordion > li ul li ul.points {display: block !important;padding: 0 !important;}.accordion1 > li > ul {display: none;}.accordion ul {list-style: none;padding: 0;margin: 0;}.accordion > li ul li h3 {border: none;padding: 8px 25px 8px 60px;background-position: center left 25px;font-size: 20px;font-weight: 500;font-stretch: normal;font-style: normal;line-height: 1.1;letter-spacing: 0.3px;font-family: "Domaine Regular", serif;color: #000;}.accordion > li ul li.active h3 {background-position: center left 25px;color: #000;}.accordion > li ul li ul {padding: 50px 0;}.accordion > li ul li ul li ul {padding: 0 60px;}.accordion li.active > h3 {background: url("https://cdn.shopify.com/s/files/1/0313/4062/5964/files/minus_ic.png?v=1597757448") no-repeat right 25px center;border: none;color: #000c48;}.cont_text_block {padding: 10px 0;}.cont_text_block::after {clear: both;content: "";display: table;}.cont_text_block .cont_text_block_img {float: left;width: 20%;}.cont_text_block .cont_text_block_content {float: left;width: 80%;padding-left: 15px;}.cont_text_block .cont_text_block_content strong {display: block;}@media (max-width: 480px) {.faq_block_in .col {width: 100%;}.cont_text_block .cont_text_block_img {width: 100%;}.cont_text_block .cont_text_block_content {width: 100%;padding: 15px 0 0;}}#bralettes .top_categories .top_categories_inner ul li, #briefs .top_categories .top_categories_inner ul li {margin: 10px 0;width: 100%;}html.jsDrawerOpen {padding-bottom: 0 !important;}.mask-product, .eby-product {max-width: 800px;width: 100%;margin: 0 auto;padding: 0 20px;}.eby-product .collapsible, .mask-product .collapsible, .faq_tab_main .collapsible {padding: 0;list-style: none;border-bottom: 1px solid #000;margin: 0;}.eby-product .collapsible h3, .mask-product .collapsible h3, .faq_tab_main .collapsible h3 {margin: 0;color: #000c48;padding: 25px;font-family: "aktiv-grotesk", sans-serif;text-transform: none;cursor: pointer;font-size: 24px;line-height: 1;background: transparent;border-top: 1px solid #000;}.eby-product .collapsible ul.collapsible-body, .mask-product .collapsible ul.collapsible-body, .faq_tab_main .collapsible ul.collapsible-body {padding: 0;list-style: none;margin-bottom: 4.5rem;}.eby-product .collapsible ul.collapsible-body ul li, .mask-product .collapsible ul.collapsible-body ul li, .faq_tab_main .collapsible ul.collapsible-body ul li {list-style: none;font-weight: 300;}.eby-product .collapsible ul.collapsible-body ul li:before, .mask-product .collapsible ul.collapsible-body ul li:before, .faq_tab_main .collapsible ul.collapsible-body ul li:before {content: "-";margin-right: 1rem;}.faq_tab_main .collapsible > .collapsible-body {padding: 1rem 3rem;}.faq_tab_main .collapsible ul li:before {display: none;}.faq_tab_main .collapsible ul.collapsible {border-bottom: none;padding: 1.5rem 3rem;}.faq_tab_main .collapsible ul.collapsible-body ul ol li {list-style: decimal;}.faq_tab_main .collapsible .collapsible .collapsible-header {flex-direction: row-reverse;justify-content: flex-end;padding: 3rem 0;border-top: 0;}.faq_tab_main .collapsible .collapsible .collapsible-header .ebyicon-accordionToggle {margin-right: 0.75rem;}.faq_tab_main .collapsible p {margin-bottom: 1rem;}.mask-product .pro_top_link, .eby-product .pro_top_link {text-align: center;margin: 0;padding: 10px 0 40px 0;visibility: hidden;}.mask-product .pro_top_link a, .eby-product .pro_top_link a, .breadcrumbs ul li a {display: inline-block;font-size: 1.4rem;font-weight: normal;font-stretch: normal;font-style: normal;line-height: normal;letter-spacing: normal;color: #0064ff;}.mask-product .pro_top_link a:hover, .eby-product .pro_top_link a:hover, .breadcrumbs ul li a:hover {color: #2031ba;}.mask-product .accordion > li > ul, .eby-product .collapsible > li > ul {padding: 20px;max-width: 520px;margin: 0 auto;}.mask-product .accordion h4, .eby-product .collapsible h4 {font-family: "Domaine Regular", serif;font-size: 20px;line-height: 1.4;letter-spacing: 0.3px;margin: 0 0 20px 0;color: #000;}.mask-product .accordion p, .eby-product .collapsible p {font-size: 16px;font-weight: 300;font-stretch: normal;font-style: normal;line-height: 1.5;letter-spacing: 0.3px;color: #000;margin: 15px 0;}.accordion > li ul li ul.points li {font-size: 16px;font-weight: 300;font-stretch: normal;font-style: normal;line-height: 1.5;letter-spacing: 0.3px;color: #000;margin: 5px 0;}.pick-style-outerwrapper .pick-style-wrapper .pick-styles {text-align: center;}.pick-style-outerwrapper .pick-style-wrapper .style-list li {display: inline-block;width: 33%;padding: 10px;maring: 0 auto 20px;}.pick-style-outerwrapper .pick-style-wrapper .style-list li img {width: 100%;display: inline-block;margin: 0 auto;object-fit: cover;width: 100%;}.pick-style-outerwrapper .pick-style-products-wrapper {text-align: center;}.pick-style-outerwrapper .pick-style-products-wrapper .single-style {display: none;}.pick-style-outerwrapper .pick-style-products-wrapper .single-style.active {display: block;}.pick-style-outerwrapper .pick-style-products-wrapper .single-style img {width: 100%;display: inline-block;margin: 0 auto;height: 450px;width: 100%;object-fit: cover;}.product-selection-wrapper {margin: 0 auto;padding: 0;}.product-selection-wrapper li {list-style-type: none;border-radius: 5px;margin-bottom: 15px;width: 100%;overflow: hidden;text-align: left;background-color: #d8d8d8;padding: 45px 25px;}.product-selection-wrapper li:before {content: attr(data-index);display: block;width: 100%;text-align: center;color: #fff;font-size: 20px;}.product-selection-wrapper li.selected {background-color: #000c48;}.product-selection-wrapper li.reserved {background-color: #fff;padding: 0;}.product-selection-wrapper li.reserved:before {display: none;}.product-selection-wrapper li .product-line-item {position: relative;display: flex;}.product-selection-wrapper li .product-line-item .product_image {width: 30%;}.product-selection-wrapper li .product-line-item .product_image img {width: 100%;height: 125px;display: block;object-fit: cover;}.product-selection-wrapper li .product-line-item .product_detail {width: 70%;padding: 0 20px 20px;background: #fff;}.product-selection-wrapper li .product-line-item .product_detail h3 {font-size: 16px;}.product-selection-wrapper li .product-line-item .product_detail .cancel-product-btn, .product-selection-wrapper li .product-line-item .product_detail .edit-product-btn {color: #000 !important;bottom: 15px;display: block;font-size: 12px;position: absolute;right: 20px;text-align: right;}.product-selection-wrapper li .product-line-item .product_detail .cancel-product-btn:hover, .product-selection-wrapper li .product-line-item .product_detail .edit-product-btn:hover {color: #000;}
.eby-product .collapsible h3, .mask-product .collapsible h3, .faq_tab_main .collapsible h3 {pointer-events: none;}
  @media (max-width: 1199px){
  
  /*
  .ebyacfWrapper>header, .ebyacfWrapper>article {
    max-width: 1460px;
    width: 100%;
    margin: 0 auto;
    padding: 40px 45px 20px 45px;
  }
  */
  /*.main_top_header {padding-top:10px;}*/
  .ebyacfWrapper h1 {font-size: 4.8rem;}
  
  .ebyacfWrapper .ebycmsTwoColWrapper {display: block;padding: 20px;}
  .ebyacfWrapper .ebycmsTwoColWrapper .ebycmsCol {width: 100%;padding: 0 0 40px 0;max-width:100%;}
  .ebyacfWrapper .ebycmsTwoColWrapper .ebycmsCol h3 {font-size: 36px;margin: 40px auto 100px;}
  .we_wxist_section h1 {margin: 70px 0;}
  .ebyacfWrapper .ebycmsTwoColWrapper .ebycmsCol h4 {margin-bottom:40px;}

  .our-people-section h1 {font-size: 36px;margin: 20px 0 50px 0;}
  .our-people-section .our-top-head h2 {font-size: 36px;line-height: 1.2;}
  .our-people-section .our-top-head p {font-size: 18px;line-height: 1.4;margin: 20px auto 0;}
  .our-people-section .our-people-info {text-align: center;}
  .our_product-txt {max-width: 550px;margin: 0 auto;width:100%;}
  
  .our-product-info {padding: 20px 0 100px 0;}
  
}

@media (max-width: 991px){
  
  .we_wxist_section .wxist_img {padding: 30px 20px 0 20px;}
  .our-people-section .our-top-head h2 br {display:none;}
}
@media (max-width: 768px) {
  .faq_tab_main {
      padding: 0;
      margin-bottom: 4rem;
  }  
  .eby-product .collapsible h3, .faq_tab_main .collapsible h3, .mask-product .collapsible h3 {
    font-size: 1.75rem;
    padding: 2rem 0;
  }
}

@media (max-width: 640px){
  
  .ebyacfWrapper h1 {font-size: 3.6rem;}
  .mainContent .faq_page {
    padding: 2rem;
  }
  .faq_tab_main {
  	margin-bottom: 5rem;
  }
  #faq .newslsec {
  	margin: 0;
  }
  .ebyacfWrapper>header, .ebyacfWrapper>article {padding:20px;}
  .ebyacfWrapper p:empty {display: none;} 
  .we_wxist_section h1 {margin: 40px 0 10px 0;}
  .ebyacfWrapper .ebycmsTwoColWrapper .ebycmsCol h2 {margin-bottom: 10px;font-size: 18px;}
  .ebyacfWrapper .ebycmsTwoColWrapper .ebycmsCol p {font-size: 18px;  line-height: 1.5;}
  .we_wxist_section .wxist_img {padding: 10px 10px 0 10px;}
  .ebyacfWrapper .ebycmsTwoColWrapper .ebycmsCol h3 {font-size: 24px;margin: 0px auto 50px;}
  .ebyacfWrapper .ebycmsTwoColWrapper .ebycmsCol h4 {font-size: 24px;margin-bottom: 0;}
  
  .our-people-section h1 {font-size: 24px;margin: 20px 0 30px 0;}
  .our-people-section .our-top-head h2 {font-size: 28px;}
  .our-people-section .our-top-head p {font-size:16px;}
  
  .our-people-section .our-people-img {padding: 40px 10px 40px 10px;}
  .our-people-section .our-people-info p {font-size:18px;}
  .our-people-section {padding-bottom: 50px;}
  .our-product-info {padding: 0px 0 50px 0;}
  
}
  
@media (max-width: 449px){
  .eby-product .collapsible h3, .faq_tab_main .collapsible h3, .mask-product .collapsible h3 {
    font-size: 1.5rem;
  }
}
</style>