<style>
  .ebyacfWrapper .ebycopyLtWeight,
  .ebyacfWrapper .ebycopyLtWeight,
  .ebyacfWrapper .ebycopyLtWeight {
    font-family: "Domaine Regular", serif;
  }
  .pageTop,
  .ebyacfWrapper.pageTop {
    padding-top: 43px;
  }

  .ebycopyMdWrap {
    max-width: 825px;
    margin: 0 auto;
  }
  .ebycopySmWrap {
    max-width: 550px;
    margin: 0 auto;
  }
  .ebycopyLgWrap {
    max-width: 1000px;
    margin: 0 auto;
  }
  .ebycmsButtonWrapper {
    max-width: 1460px;
    width: 100%;
    margin: 5rem auto;
    padding: 0 2rem;
    text-align: center;
  }
  .vertCent {
    align-items: center;
    display: flex;
    width: 100%;
  }
  .item.item2.oneTileBlock {
    margin-bottom: 5rem;
  }
  @media(max-width: 769px) {
    .item.item2.oneTileBlock {
      margin-bottom: 0;
    }
  }
  .ebyacfWrapper {
    width: 100%;
    max-width: 100%;
  }
  .ebyacfWrapper.centerPadding .ebycmsContentBlock {
    max-width: 1000px;
    width: 100%;
  }
  .ebyacfWrapper.centerPadding .ebycmsContentBlock h2 {
    line-height: 5rem;
  }
  .ebyacfWrapper > header,
  .ebyacfWrapper > article {
    max-width: 1460px;
    width: 100%;
    margin: 0 auto;
    padding: 35px 45px;
  }
  @media(max-width: 480px) {
    .ebyacfWrapper > header,
    .ebyacfWrapper > article {
      padding: 40px;
    }
  }
  @media(max-width: 480px) {
    .ebyacfWrapper > header,
    .ebyacfWrapper > article {
      padding: 20px;
    }
  }
  .ebyacfWrapper h1 {
    font-family: "Domaine Regular", serif;
    font-size: 48px;
    margin: 0 auto;
  }
  .ebyacfWrapper h2 {
    font-family: "Domaine Regular", serif;
    font-size: 36px;
    font-weight: 500;
    line-height: 1.4;
    margin: 0 auto;
  }
  .ebyacfWrapper h3 {
    font-family: "Domaine Regular", serif;
    font-size: 25px;
    margin: 0 auto;
  }
  .ebyacfWrapper p {
    font-family: "Domaine Regular", serif;
    font-size: 25px;
    line-height: 1.7;
    margin: 0 auto;
  }
  .ebyacfWrapper h4 {
    font-family: "activ-grotesk", sans-serif;
  }
  .ebyacfWrapper p,
  .ebyacfWrapper h4 {
    font-size: 2.25rem;
  }
  .ebyacfWrapper img {
    display: block;
    width: 100%;
    margin: 0 auto;
    max-width: 1440px;
  }
  .ebyacfWrapper .ebycmsTwoColWrapper {
    display: flex;
    padding: 2rem;
    justify-content: space-between;
  }
  .ebyacfWrapper .ebycmsTwoColWrapper .ebycmsCol {
    width: 100%;
    max-width: 48%;
  }
  @media(max-width: 769px) {
    .ebyacfWrapper .ebycmsTwoColWrapper {
      flex-direction: column;
      padding: 0;
    }
    .ebyacfWrapper .ebycmsTwoColWrapper .ebycmsCol {
      max-width: 100%;
      margin-bottom: 3rem;
    }
  }
  @media(max-width: 769px) {
    .ebyacfWrapper h1 {
      font-size: 3.75rem;
    }
    .ebyacfWrapper h2 {
      font-size: 2.5rem;
      line-height: 3rem;
    }
    .ebyacfWrapper h3,
    .ebyacfWrapper h4,
    .ebyacfWrapper p {
      font-size: 1.75rem;
    }
    .ebyacfWrapper.centerPadding .ebycmsContentBlock {
      max-width: 100%;
      padding: 4rem 2rem;
    }
    .ebyacfWrapper.centerPadding .ebycmsContentBlock h2 {
      font-size: 2rem;
      line-height: 3.5rem;
    }
  }
  .ebyacfWrapper .ebycmsTwoColWrapper .ebycmsCol h2 {
    margin-bottom: 20px;
    font-weight: 700;
  }
  .ebyacfWrapper .ebycmsTwoColWrapper .ebycmsCol p {
    font-family: "Domaine Regular";
    font-size: 25px;
    line-height: 1.8;
  }
  .ebyacfWrapper .ebycmsTwoColWrapper .ebycmsCol h3 {
    font-family: "Domaine Regular";
    font-size: 36px;
    font-weight: 500;
    line-height: 1.4;
    margin: 0 auto 20px;
  }
  .ebyacfWrapper .ebycmsTwoColWrapper .ebycmsCol h4 {
    font-family: "Domaine Regular";
    font-size: 36px;
    font-weight: 700;
    line-height: 1.4;
    margin: 0 auto;
  }
  #about .our-people-section .our-people-info {
    text-align: center;
  }
  .our-people-section {
    padding-bottom: 180px;
  }
  .our-people-section h1 {
    font-size: 50px;
    font-weight: 700;
    margin: 80px 0 120px;
  }
  .our-people-section .our-top-head {}
  .our-people-section .our-top-head h2 {
    font-family: "Domaine Regular";
    font-size: 48px;
    font-weight: 400;
    line-height: 1.4;
    margin: 0 auto;
    text-align: center;
  }
  .our-people-section .our-top-head p {
    font-family: aktiv-grotesk, Helvetica, Arial, sans-serif;
    font-size: 24px;
    font-weight: 300;
    line-height: 1.4;
    margin: 20px auto;
  }
  .our-people-section .our-people-img {
    padding: 80px 30px;
  }
  .our-people-section .our-people-info {
    max-width: 816px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  .our-people-section .our-people-info p {
    font-family: "Domaine Regular";
    font-size: 24px;
    font-weight: 400;
    line-height: 1.4;
    margin: 20px auto;
  }

  .our_product-txt {
    text-align: center;
  }
  .our_product-txt h2 {
    font-size: 48px;
    font-weight: 400 !important;
    line-height: 1.2;
  }

  .our-product-info {
    clear: both;
    padding: 80px 0 200px;
    text-align: center;
  }

  .we_wxist_section {}
  .we_wxist_section .wxist_img {
    padding: 50px 50px 0;
  }
  .we_wxist_section h1 {
    margin: 120px 0;
  }

  .proHImage:hover .proFeaturedImage span {
    visibility: visible;
    @include opacity(1);
  }
  .proHImage:hover .proButton {
    @include opacity(1);
    visibility: visible;
  }

  @media(max-width: 1199px) {
    .ebyacfWrapper h1 {
      font-size: 4.8rem;
    }

    .ebyacfWrapper .ebycmsTwoColWrapper {
      display: block;
      padding: 20px;
    }
    .ebyacfWrapper .ebycmsTwoColWrapper .ebycmsCol {
      width: 100%;
      padding: 0 0 40px;
      max-width: 100%;
    }
    .ebyacfWrapper .ebycmsTwoColWrapper .ebycmsCol h3 {
      font-size: 36px;
      margin: 40px auto 100px;
    }
    .we_wxist_section h1 {
      margin: 70px 0;
    }
    .ebyacfWrapper .ebycmsTwoColWrapper .ebycmsCol h4 {
      margin-bottom: 40px;
    }

    .our-people-section h1 {
      font-size: 36px;
      margin: 20px 0 50px;
    }
    .our-people-section .our-top-head h2 {
      font-size: 36px;
      line-height: 1.2;
    }
    .our-people-section .our-top-head p {
      font-size: 18px;
      line-height: 1.4;
      margin: 20px auto 0;
    }
    .our-people-section .our-people-info {
      text-align: center;
    }
    .our_product-txt {
      max-width: 550px;
      margin: 0 auto;
      width: 100%;
    }

    .our-product-info {
      padding: 20px 0 100px;
    }

  }

  @media(max-width: 991px) {

    .we_wxist_section .wxist_img {
      padding: 30px 20px 0;
    }
    .our-people-section .our-top-head h2 br {
      display: none;
    }
  }

  @media(max-width: 640px) {

    .ebyacfWrapper h1 {
      font-size: 3.6rem;
    }
    .mainContent .faq_page {
      padding: 2rem;
    }
    .faq_tab_main {
      margin-bottom: 5rem;
    }
    #faq .newslsec {
      margin: 0;
    }
    .ebyacfWrapper > header,
    .ebyacfWrapper > article {
      padding: 20px;
    }
    .ebyacfWrapper p:empty {
      display: none;
    }
    .we_wxist_section h1 {
      margin: 40px 0 10px;
    }
    .ebyacfWrapper .ebycmsTwoColWrapper .ebycmsCol h2 {
      margin-bottom: 10px;
      font-size: 18px;
    }
    .ebyacfWrapper .ebycmsTwoColWrapper .ebycmsCol p {
      font-size: 18px;
      line-height: 1.5;
    }
    .we_wxist_section .wxist_img {
      padding: 10px 10px 0;
    }
    .ebyacfWrapper .ebycmsTwoColWrapper .ebycmsCol h3 {
      font-size: 24px;
      margin: 0 auto 50px;
    }
    .ebyacfWrapper .ebycmsTwoColWrapper .ebycmsCol h4 {
      font-size: 24px;
      margin-bottom: 0;
    }

    .our-people-section h1 {
      font-size: 24px;
      margin: 20px 0 30px;
    }
    .our-people-section .our-top-head h2 {
      font-size: 28px;
    }
    .our-people-section .our-top-head p {
      font-size: 16px;
    }

    .our-people-section .our-people-img {
      padding: 40px 10px;
    }
    .our-people-section .our-people-info p {
      font-size: 18px;
    }
    .our-people-section {
      padding-bottom: 50px;
    }
    .our-product-info {
      padding: 0 0 50px;
    }
  }

  .main-padding-eby {
    margin: auto 20px;
    padding-bottom: 40px;
  }
  .eby-lg-title-bld {
    font-size: 20px;
    font-weight: bold;
    color: var(--eby-main-dark-color);
  }
  .eby-normal-main-desc23 {
    font-size: 16px;
    font-weight: normal;
    color: var(--eby-main-dark-color);
  }
  .eby-normal-desc23 {
    font-size: 16px;
    font-weight: normal;
    color: var(--eby-main-dark-color);
  }
  .eby-xl-title-bld {
    font-size: 32px;
    font-weight: bold;
    color: var(--eby-main-dark-color);
    line-height: 1.25;
  }
  .eby-ln-heigh15 {
    line-height: 1.5;
  }
  .pddig-md {
    padding-top: 40px
  }
  .pddig-sm-md {
    padding-top: 32px
  }
  .mbl-tblt_only {
    display: block;
  }

  .link-clor23 {
    color: var(--eby-light-blue);
  }
  .pdding-smlr {
    padding-top: 20px;
    display: block;
  }

  .eby-about-us-section23 video {
    display: block;
    width: 100%;
    margin: 0 auto;
    height: auto;
    max-width: 100%;
    max-height: 696px;
    object-fit: cover;
    min-height: 620px
  }
  .eby-about-us-section23 header {
    padding-bottom: 40px;
  }
  .homepage-video-parent {
    overflow: hidden;
    position: relative
  }
  .eby-fit-main,
  .eby-home-pannel,
  .eby-total-comfort {
    position: relative
  }
  .heroVideoPlaceholder {
    position: absolute
  }

  .eby-about-us-23 {
    margin-top: 34px;
  }


  @media(min-width: 769px) {
    .eby-about-us-section23 {
      display: flex;
      flex-wrap: wrap;
    }
    .eby-about-us-section23 .title-mbld23 {
      width: 100%;
    }
    .abtus-vidlist,
    .abtus-descsec {
      width: 50%;
    }

    .eby-lg-title-bld {
      font-size: 24px;
    }
    .eby-normal-main-desc23 {
      font-size: 20px;
    }
    .eby-xl-title-bld {
      font-size: 44px;
    }
    .eby-normal-desc23 {
      font-size: 16px;
    }
    .eby-about-us-section23 video {
      width: 44%;
      margin: 0 16px 0 0;
    }
    .pddig-sm-md {
      padding-top: 0;
    }
    .pageTop,
    .ebyacfWrapper.pageTop {
      padding-top: 98px;
    }
    .main-padding-eby {
      margin: auto 9%;
    }
  }

  @media(min-width: 1024px) {
    .mbl-tblt_only {
      display: none;
    }
    .title-mbld23 {
      padding-bottom: 22px;
    }
    .eby-about-us-23 {
      margin-top: 30px;
    }
    .abtus-descsec {
      width: 62%;
    }

    .abtus-vidlist,
    .eby-about-us-section23 video {
      margin: 0 30px 0 0;
      width: 34%;
    }
    .pddig-md{
      padding-top: 0;
    }
  }
</style>
<section class="ebyacfContent CmsPageContent eby-main-grid23">
  <div class="eby-about-us-23">
    <p class="eby-lg-title-bld">About</p>
    <span class="eby-normal-main-desc23 eby-ln-heigh15">
      EBY founder Renata Black discusses the inspiration behind the astonishingly comfortable bras & panties that propel
      women out of poverty and into business using microfinance.
    </span>
  </div>
  <!-- Section 1, Header -->
  <div class="ebyacfWrapper ebycmsWrapper pageTop">
    <div class="eby-about-us-section23">
      <header class="eby-xl-title-bld title-mbld23 mbl-tblt_only">The Power of Choice</header>
      <!-- video section -->
        <video class="lazy" controls preload="metadata" width="620" data-src="https://cdn.shopify.com/videos/c/o/v/28d1de612a334a1a84a0067d71f27bf4.mp4" data-poster="https://cdn.shopify.com/s/files/1/0313/4062/5964/files/LP_-_1440_-_about_-_power-of-choice_-_placeholder23.jpg?v=1678975492">
          <source type="video/mp4" data-src="https://cdn.shopify.com/videos/c/o/v/28d1de612a334a1a84a0067d71f27bf4.mp4" />
        </video>

      <div class="pddig-sm-md abtus-descsec">
        <header class="laptop_only eby-xl-title-bld title-mbld23">The Power of Choice</header>
        <span class="eby-normal-desc23 eby-ln-heigh15">
          We are committed to enabling a million women to transition out of poverty and into business. By
          <a class="link-clor23" href="/pages/our-product">choosing EBY</a>, you are making a difference in the lives of
          other women and their families.
        </span>
        <span class="eby-normal-desc23 eby-ln-heigh15 pdding-smlr">
          Our customers understand the power of choice and how every decision has a global impact, from the coffee we
          drink to the underwear we choose. Your power of choice is an amazing force and drives the transformative
          impact we are making in women's lives.
        </span>
      </div>
    </div>
  </div>

  <!-- Section 2, Image Banner -->
  <div class="ebyacfWrapper ebycmsWrapper pageTop">
    <div class="eby-about-us-section23">
      <header class="eby-xl-title-bld title-mbld23 mbl-tblt_only">How It Started</header>
        <!-- video section -->
        <video class="lazy" controls preload="metadata" width="620" data-src="https://cdn.shopify.com/videos/c/o/v/b08014a4af714c05befca9ce7221d0ec.mp4" data-poster="https://cdn.shopify.com/s/files/1/0313/4062/5964/files/LP_-_1440_-_about_-_how-it-started_-_placeholder23.jpg?v=1678975492">
          <source type="video/mp4" data-src="https://cdn.shopify.com/videos/c/o/v/b08014a4af714c05befca9ce7221d0ec.mp4" />
        </video>
      <div class="pddig-sm-md abtus-descsec">
        <header class="laptop_only eby-xl-title-bld title-mbld23">How It Started</header>
        <span class="eby-normal-desc23 eby-ln-heigh15">
          After college, I didn’t get hired for my dream job, so I decided to travel and volunteer in different
          countries instead. In India, I was approached by a woman who wanted me to teach her how to make money.
        </span>
        <span class="eby-normal-desc23 eby-ln-heigh15 pdding-smlr">
          This encounter inspired me to research
          <a class="link-clor23" href="/pages/microfinance">microfinance</a>, a tool for helping women start their own
          businesses. I studied with Nobel Prize winner Dr. Mohamed Yunis, who pioneered poverty alleviation using
          microfinance. I then showed that woman and her friends how to start a business.
        </span>
      </div>
    </div>
  </div>

  <!-- Section 3, Image and copy -->
  <div class="ebyacfWrapper ebycmsWrapper pageTop">
    <div class="eby-about-us-section23">
      <header class="eby-xl-title-bld title-mbld23 mbl-tblt_only">Power of Seduction</header>
      <!-- video section -->
      <video class="lazy" controls preload="metadata" width="620" data-src="https://cdn.shopify.com/videos/c/o/v/c227c0a4fc5d4855a81b7cd97159712b.mp4" data-poster="https://cdn.shopify.com/s/files/1/0313/4062/5964/files/LP_-_1440_-_about_-_redirecting-seduction_-_placeholder23.jpg?v=1678975492">
        <source type="video/mp4" data-src="https://cdn.shopify.com/videos/c/o/v/c227c0a4fc5d4855a81b7cd97159712b.mp4" />
      </video>

      <div class="pddig-sm-md abtus-descsec">
        <header class="laptop_only eby-xl-title-bld title-mbld23">Power of Seduction</header>
        <span class="eby-normal-desc23 eby-ln-heigh15">
          While living in India, women often asked me how it felt to have to dress provocatively in the US to get
          attention from men. They thought this must be a difficult and unpleasant experience. However, I always thought
          that women in the US enjoyed dressing for themselves, and using fashion to express themselves.
        </span>
        <span class="eby-normal-desc23 eby-ln-heigh15 pdding-smlr">
          Two years later I returned to the US. I was watching a lingerie show, and realized those women weren't totally
          wrong. This was for men's pleasure. I was then struck with the idea of using seduction to empower women. I
          wanted to redirect the power of seduction to the empowerment of women using
          <a class="link-clor23" href="/collections/best-sellers">intimates</a>. I wanted to flip the dynamic.
        </span>
      </div>
    </div>
  </div>

  <!-- Section 5, Copy Statement -->
  <div class="ebyacfWrapper ebycmsWrapper pageTop">
    <div class="eby-about-us-section23">
      <header class="eby-xl-title-bld title-mbld23 mbl-tblt_only">Social Impact</header>
      <!-- video section -->
      <video class="lazy" controls preload="metadata" width="620" data-src="https://cdn.shopify.com/videos/c/o/v/c0f0e825e0124236a6c14fd87581772a.mp4" data-poster="https://cdn.shopify.com/s/files/1/0313/4062/5964/files/LP_-_1440_-_about_-_social-impact_-_placeholder23.jpg?v=1678975492">
        <source type="video/mp4" data-src="https://cdn.shopify.com/videos/c/o/v/c0f0e825e0124236a6c14fd87581772a.mp4" />
      </video>
      <div class="pddig-sm-md abtus-descsec">
        <header class="laptop_only eby-xl-title-bld title-mbld23">Social Impact</header>
        <span class="eby-normal-desc23 eby-ln-heigh15">
          We started this company to consistently fuel women's empowerment. As the company grows, we are generating a
          significant impact. EBY uses 10% of every purchase to fund micro-loans in countries such as Colombia,
          Nicaragua, Haiti, and India.
        </span>
        <span class="eby-normal-desc23 eby-ln-heigh15 pdding-smlr">
          These loans support women transitioning out of poverty by starting their own businesses. Customers create a
          meaningful impact with the first decision they make every day; the
          <a class="link-clor23" href="/collections/seamless-panties">underwear</a>
          they wear. As a result, this approach transforms the lives of women around the world.
        </span>
      </div>
    </div>
  </div>

  <!-- Section 4, Video and copy -->
  <div class="ebyacfWrapper ebycmsWrapper pageTop">
    <div class="eby-about-us-section23">
      <header class="eby-xl-title-bld title-mbld23 mbl-tblt_only">For All Women</header>
      <!-- video section -->
      <video class="lazy" controls preload="metadata" width="620" data-src="https://cdn.shopify.com/videos/c/o/v/a2b82a26cd4d4d6e89dcd1a1d06a9185.mp4" data-poster="https://cdn.shopify.com/s/files/1/0313/4062/5964/files/LP_-_1440_-_about_-_for-all-women_-_placeholder23.jpg?v=1678975493">
        <source type="video/mp4" data-src="https://cdn.shopify.com/videos/c/o/v/a2b82a26cd4d4d6e89dcd1a1d06a9185.mp4" />
      </video>
      <div class="pddig-sm-md abtus-descsec">
        <header class="laptop_only eby-xl-title-bld title-mbld23">For All Women</header>
        <span class="eby-normal-desc23 eby-ln-heigh15">
          We are dedicated to being inclusive and providing options for all women, regardless of their size.
          Historically, plus-size customers have been charged more and offered limited options from other brands. We
          provide a range of sizes from XS to 4X. We use separate fit models for missy and plus sizes. This is how we
          ensure that our garments fit all customers perfectly.
        </span>
        <span class="eby-normal-desc23 eby-ln-heigh15 pdding-smlr">
          We place a
          <a class="link-clor23" href="/pages/our-product">high value on fit</a>
          and take the extra step to make our patterns and tech packs representative of all body sizes. This is the
          level of attention to detail we apply to our entire business, and it's what sets EBY apart.
        </span>
      </div>
    </div>
  </div>

  <!-- Section 6, Two Column Copy/Image -->
  <div class="ebyacfWrapper ebycmsWrapper pageTop">
    <div class="eby-about-us-section23">
      <header class="eby-xl-title-bld title-mbld23 mbl-tblt_only">A Premium Product</header>
      <!-- video section -->
      <video class="lazy" controls preload="metadata" width="620" data-src="https://cdn.shopify.com/videos/c/o/v/e52d4152ff1f4977aeadf7dd8fdcf761.mp4" data-poster="https://cdn.shopify.com/s/files/1/0313/4062/5964/files/LP_-_1440_-_about_-_premium-product_-_placeholder23.jpg?v=1678975492">
        <source type="video/mp4" data-src="https://cdn.shopify.com/videos/c/o/v/e52d4152ff1f4977aeadf7dd8fdcf761.mp4" />
      </video>
      <div class="pddig-sm-md abtus-descsec">
        <header class="laptop_only eby-xl-title-bld title-mbld23">A Premium Product</header>
        <span class="eby-normal-desc23 eby-ln-heigh15">
          Deepak Chopra introduced me to Grace Nichols, the former CEO of Victoria's Secret. She became my mentor and
          helped me to learn and understand the process of creating a premium intimates product. I used that knowledge
          to solve women's most common issues with their underwear.
        </span>
        <span class="eby-normal-desc23 eby-ln-heigh15 pdding-smlr">
          As a result, we've designed
          <a class="link-clor23" href="/collections/seamless-underwear"> premium intimates</a>
          that provide relief from the pain and distraction of uncomfortable underwear. In the process, we also created
          a company that offers support for your body and a line of support for women transitioning out of poverty.
        </span>
      </div>
    </div>
  </div>
  <!-- Section 7, Two Column Copy/Image -->
  <div class="ebyacfWrapper ebycmsWrapper pageTop">
    <div class="eby-about-us-section23">
      <header class="eby-xl-title-bld title-mbld23 mbl-tblt_only">How Microfinance Works</header>
      <!-- video section -->
      <video class="lazy" controls preload="metadata" width="620" data-src="https://cdn.shopify.com/videos/c/o/v/acf466956e7f4b5a83391e25636db356.mp4" data-poster="https://cdn.shopify.com/s/files/1/0313/4062/5964/files/LP_-_1440_-_about_-_microfinance_-_placeholder23.jpg?v=1678975492">
        <source type="video/mp4" data-src="https://cdn.shopify.com/videos/c/o/v/acf466956e7f4b5a83391e25636db356.mp4" />
      </video>
      <div class="pddig-sm-md abtus-descsec">
        <header class="laptop_only eby-xl-title-bld title-mbld23">How Microfinance Works</header>
        <span class="eby-normal-desc23 eby-ln-heigh15">
          <a class="link-clor23" href="/pages/microfinance">Microfinance</a>
          is a system for providing small loans, typically to people in developing countries who do not have access to
          traditional banking services. The loans are given to groups of people rather than individuals, and the group
          members provide mutual support and accountability to ensure that the loans are repaid.
        </span>
        <span class="eby-normal-desc23 eby-ln-heigh15 pdding-smlr">
          Microfinance is a proven, astonishingly effective way to alleviate poverty and empower women. It provides them
          with the necessary resources to start and grow a small business. The repayment rate for our loans is 98%,
          which makes it the most productive way to help people create sustainable income, lift themselves out of
          poverty, and break the cycle for their children.
        </span>
      </div>
    </div>
  </div>
</section>
<script>
  // vanilla-lazyload
  !function(n,t){"object"==typeof exports&&"undefined"!=typeof module?module.exports=t():"function"==typeof define&&define.amd?define(t):(n="undefined"!=typeof globalThis?globalThis:n||self).LazyLoad=t()}(this,(function(){"use strict";function n(){return n=Object.assign||function(n){for(var t=1;t<arguments.length;t++){var e=arguments[t];for(var i in e)Object.prototype.hasOwnProperty.call(e,i)&&(n[i]=e[i])}return n},n.apply(this,arguments)}var t="undefined"!=typeof window,e=t&&!("onscroll"in window)||"undefined"!=typeof navigator&&/(gle|ing|ro)bot|crawl|spider/i.test(navigator.userAgent),i=t&&"IntersectionObserver"in window,o=t&&"classList"in document.createElement("p"),a=t&&window.devicePixelRatio>1,r={elements_selector:".lazy",container:e||t?document:null,threshold:300,thresholds:null,data_src:"src",data_srcset:"srcset",data_sizes:"sizes",data_bg:"bg",data_bg_hidpi:"bg-hidpi",data_bg_multi:"bg-multi",data_bg_multi_hidpi:"bg-multi-hidpi",data_bg_set:"bg-set",data_poster:"poster",class_applied:"applied",class_loading:"loading",class_loaded:"loaded",class_error:"error",class_entered:"entered",class_exited:"exited",unobserve_completed:!0,unobserve_entered:!1,cancel_on_exit:!0,callback_enter:null,callback_exit:null,callback_applied:null,callback_loading:null,callback_loaded:null,callback_error:null,callback_finish:null,callback_cancel:null,use_native:!1,restore_on_error:!1},c=function(t){return n({},r,t)},l=function(n,t){var e,i="LazyLoad::Initialized",o=new n(t);try{e=new CustomEvent(i,{detail:{instance:o}})}catch(n){(e=document.createEvent("CustomEvent")).initCustomEvent(i,!1,!1,{instance:o})}window.dispatchEvent(e)},u="src",s="srcset",d="sizes",f="poster",_="llOriginalAttrs",g="data",v="loading",b="loaded",m="applied",p="error",h="native",E="data-",I="ll-status",y=function(n,t){return n.getAttribute(E+t)},k=function(n){return y(n,I)},w=function(n,t){return function(n,t,e){var i="data-ll-status";null!==e?n.setAttribute(i,e):n.removeAttribute(i)}(n,0,t)},A=function(n){return w(n,null)},L=function(n){return null===k(n)},O=function(n){return k(n)===h},x=[v,b,m,p],C=function(n,t,e,i){n&&(void 0===i?void 0===e?n(t):n(t,e):n(t,e,i))},N=function(n,t){o?n.classList.add(t):n.className+=(n.className?" ":"")+t},M=function(n,t){o?n.classList.remove(t):n.className=n.className.replace(new RegExp("(^|\\s+)"+t+"(\\s+|$)")," ").replace(/^\s+/,"").replace(/\s+$/,"")},z=function(n){return n.llTempImage},T=function(n,t){if(t){var e=t._observer;e&&e.unobserve(n)}},R=function(n,t){n&&(n.loadingCount+=t)},G=function(n,t){n&&(n.toLoadCount=t)},j=function(n){for(var t,e=[],i=0;t=n.children[i];i+=1)"SOURCE"===t.tagName&&e.push(t);return e},D=function(n,t){var e=n.parentNode;e&&"PICTURE"===e.tagName&&j(e).forEach(t)},H=function(n,t){j(n).forEach(t)},V=[u],F=[u,f],B=[u,s,d],J=[g],P=function(n){return!!n[_]},S=function(n){return n[_]},U=function(n){return delete n[_]},$=function(n,t){if(!P(n)){var e={};t.forEach((function(t){e[t]=n.getAttribute(t)})),n[_]=e}},q=function(n,t){if(P(n)){var e=S(n);t.forEach((function(t){!function(n,t,e){e?n.setAttribute(t,e):n.removeAttribute(t)}(n,t,e[t])}))}},K=function(n,t,e){N(n,t.class_applied),w(n,m),e&&(t.unobserve_completed&&T(n,t),C(t.callback_applied,n,e))},Q=function(n,t,e){N(n,t.class_loading),w(n,v),e&&(R(e,1),C(t.callback_loading,n,e))},W=function(n,t,e){e&&n.setAttribute(t,e)},X=function(n,t){W(n,d,y(n,t.data_sizes)),W(n,s,y(n,t.data_srcset)),W(n,u,y(n,t.data_src))},Y={IMG:function(n,t){D(n,(function(n){$(n,B),X(n,t)})),$(n,B),X(n,t)},IFRAME:function(n,t){$(n,V),W(n,u,y(n,t.data_src))},VIDEO:function(n,t){H(n,(function(n){$(n,V),W(n,u,y(n,t.data_src))})),$(n,F),W(n,f,y(n,t.data_poster)),W(n,u,y(n,t.data_src)),n.load()},OBJECT:function(n,t){$(n,J),W(n,g,y(n,t.data_src))}},Z=["IMG","IFRAME","VIDEO","OBJECT"],nn=function(n,t){!t||function(n){return n.loadingCount>0}(t)||function(n){return n.toLoadCount>0}(t)||C(n.callback_finish,t)},tn=function(n,t,e){n.addEventListener(t,e),n.llEvLisnrs[t]=e},en=function(n,t,e){n.removeEventListener(t,e)},on=function(n){return!!n.llEvLisnrs},an=function(n){if(on(n)){var t=n.llEvLisnrs;for(var e in t){var i=t[e];en(n,e,i)}delete n.llEvLisnrs}},rn=function(n,t,e){!function(n){delete n.llTempImage}(n),R(e,-1),function(n){n&&(n.toLoadCount-=1)}(e),M(n,t.class_loading),t.unobserve_completed&&T(n,e)},cn=function(n,t,e){var i=z(n)||n;on(i)||function(n,t,e){on(n)||(n.llEvLisnrs={});var i="VIDEO"===n.tagName?"loadeddata":"load";tn(n,i,t),tn(n,"error",e)}(i,(function(o){!function(n,t,e,i){var o=O(t);rn(t,e,i),N(t,e.class_loaded),w(t,b),C(e.callback_loaded,t,i),o||nn(e,i)}(0,n,t,e),an(i)}),(function(o){!function(n,t,e,i){var o=O(t);rn(t,e,i),N(t,e.class_error),w(t,p),C(e.callback_error,t,i),e.restore_on_error&&q(t,B),o||nn(e,i)}(0,n,t,e),an(i)}))},ln=function(n,t,e){!function(n){return Z.indexOf(n.tagName)>-1}(n)?function(n,t,e){!function(n){n.llTempImage=document.createElement("IMG")}(n),cn(n,t,e),function(n){P(n)||(n[_]={backgroundImage:n.style.backgroundImage})}(n),function(n,t,e){var i=y(n,t.data_bg),o=y(n,t.data_bg_hidpi),r=a&&o?o:i;r&&(n.style.backgroundImage='url("'.concat(r,'")'),z(n).setAttribute(u,r),Q(n,t,e))}(n,t,e),function(n,t,e){var i=y(n,t.data_bg_multi),o=y(n,t.data_bg_multi_hidpi),r=a&&o?o:i;r&&(n.style.backgroundImage=r,K(n,t,e))}(n,t,e),function(n,t,e){var i=y(n,t.data_bg_set);if(i){var o=i.split("|"),a=o.map((function(n){return"image-set(".concat(n,")")}));n.style.backgroundImage=a.join(),""===n.style.backgroundImage&&(a=o.map((function(n){return"-webkit-image-set(".concat(n,")")})),n.style.backgroundImage=a.join()),K(n,t,e)}}(n,t,e)}(n,t,e):function(n,t,e){cn(n,t,e),function(n,t,e){var i=Y[n.tagName];i&&(i(n,t),Q(n,t,e))}(n,t,e)}(n,t,e)},un=function(n){n.removeAttribute(u),n.removeAttribute(s),n.removeAttribute(d)},sn=function(n){D(n,(function(n){q(n,B)})),q(n,B)},dn={IMG:sn,IFRAME:function(n){q(n,V)},VIDEO:function(n){H(n,(function(n){q(n,V)})),q(n,F),n.load()},OBJECT:function(n){q(n,J)}},fn=function(n,t){(function(n){var t=dn[n.tagName];t?t(n):function(n){if(P(n)){var t=S(n);n.style.backgroundImage=t.backgroundImage}}(n)})(n),function(n,t){L(n)||O(n)||(M(n,t.class_entered),M(n,t.class_exited),M(n,t.class_applied),M(n,t.class_loading),M(n,t.class_loaded),M(n,t.class_error))}(n,t),A(n),U(n)},_n=["IMG","IFRAME","VIDEO"],gn=function(n){return n.use_native&&"loading"in HTMLImageElement.prototype},vn=function(n,t,e){n.forEach((function(n){return function(n){return n.isIntersecting||n.intersectionRatio>0}(n)?function(n,t,e,i){var o=function(n){return x.indexOf(k(n))>=0}(n);w(n,"entered"),N(n,e.class_entered),M(n,e.class_exited),function(n,t,e){t.unobserve_entered&&T(n,e)}(n,e,i),C(e.callback_enter,n,t,i),o||ln(n,e,i)}(n.target,n,t,e):function(n,t,e,i){L(n)||(N(n,e.class_exited),function(n,t,e,i){e.cancel_on_exit&&function(n){return k(n)===v}(n)&&"IMG"===n.tagName&&(an(n),function(n){D(n,(function(n){un(n)})),un(n)}(n),sn(n),M(n,e.class_loading),R(i,-1),A(n),C(e.callback_cancel,n,t,i))}(n,t,e,i),C(e.callback_exit,n,t,i))}(n.target,n,t,e)}))},bn=function(n){return Array.prototype.slice.call(n)},mn=function(n){return n.container.querySelectorAll(n.elements_selector)},pn=function(n){return function(n){return k(n)===p}(n)},hn=function(n,t){return function(n){return bn(n).filter(L)}(n||mn(t))},En=function(n,e){var o=c(n);this._settings=o,this.loadingCount=0,function(n,t){i&&!gn(n)&&(t._observer=new IntersectionObserver((function(e){vn(e,n,t)}),function(n){return{root:n.container===document?null:n.container,rootMargin:n.thresholds||n.threshold+"px"}}(n)))}(o,this),function(n,e){t&&(e._onlineHandler=function(){!function(n,t){var e;(e=mn(n),bn(e).filter(pn)).forEach((function(t){M(t,n.class_error),A(t)})),t.update()}(n,e)},window.addEventListener("online",e._onlineHandler))}(o,this),this.update(e)};return En.prototype={update:function(n){var t,o,a=this._settings,r=hn(n,a);G(this,r.length),!e&&i?gn(a)?function(n,t,e){n.forEach((function(n){-1!==_n.indexOf(n.tagName)&&function(n,t,e){n.setAttribute("loading","lazy"),cn(n,t,e),function(n,t){var e=Y[n.tagName];e&&e(n,t)}(n,t),w(n,h)}(n,t,e)})),G(e,0)}(r,a,this):(o=r,function(n){n.disconnect()}(t=this._observer),function(n,t){t.forEach((function(t){n.observe(t)}))}(t,o)):this.loadAll(r)},destroy:function(){this._observer&&this._observer.disconnect(),t&&window.removeEventListener("online",this._onlineHandler),mn(this._settings).forEach((function(n){U(n)})),delete this._observer,delete this._settings,delete this._onlineHandler,delete this.loadingCount,delete this.toLoadCount},loadAll:function(n){var t=this,e=this._settings;hn(n,e).forEach((function(n){T(n,t),ln(n,e,t)}))},restoreAll:function(){var n=this._settings;mn(n).forEach((function(t){fn(t,n)}))}},En.load=function(n,t){var e=c(t);ln(n,e)},En.resetStatus=function(n){A(n)},t&&function(n,t){if(t)if(t.length)for(var e,i=0;e=t[i];i+=1)l(n,e);else l(n,t)}(En,window.lazyLoadOptions),En}));
</script>

<script>
var lazyLoadInstance = new LazyLoad({
  // Your custom settings go here
});
// Get all lazy-video elements
const lazyVideos = document.querySelectorAll('video.lazy');

// Add event listener to each lazy-video element
lazyVideos.forEach(video => {
  video.addEventListener('play', event => {
    // Pause any other playing videos
    lazyVideos.forEach(otherVideo => {
      if (otherVideo !== event.target && !otherVideo.paused) {
        otherVideo.pause();
      }
    });
  });
});

// Load lazy videos
lazyLoadInstance.update();
</script>

