<style>
  .epcWrapper .carousel-item.this_sale p.price {display: none;}.holidayPriceWrapper.standard.saleHighlight.bfx-price {font-weight: 500;color: #d0021b;font-size: 12px;margin-left:0.4rem;}.this_sale .holidayPriceWrapper + .ebyProdTile-vipPriceWrapper,.this_sale .ebyProdTile-vipPriceWrapper.bfx-remove-element,.this_sale .priceProduct.vipHighlight.priceSale.bfx-sale-pricebfx-price {display: none;}
  .priceProduct.holidayPriceWrapper.ebyProdTile-vipPriceWrapper.strikethrough.bfx-price {
      font-size: 12px;
      line-height: normal;
      text-decoration: line-through;
      font-weight: 300;
      color: #7f85a3;
  }
  video.heroVideo{
    display: block;
    width: 100%;
    margin: 0 auto;
    height: auto;
    max-width: 100%;
    max-height: 696px;
    object-fit: cover;
    min-height: 504px;
  }
  .section_content_textwrapper {
      padding: 0 2rem;  
  }
  .premium_content_item.third {
      width: 30%;
  }
  .premium_content_item.whole {
      width: 100%;
  }
  .inspirationContentContainer {
    max-width: 1216px;
    margin: 0 auto;
    padding-bottom: 6rem;
  }
  .lookWrapperCol.imgWrapper {
      padding-bottom: 9rem;
  }
  .inspirationContentContainer img{
    max-width: 1216px;
    width: 100%;
    margin: 0 auto;
  }
  .shopTheLookContainer {
    max-width: 1216px;
    margin: 0 auto;
  }
  .lineBreakHr {
    border-color: #bfc1cb;
    background: #bfc1cb;
    border: none;
    height: 1px;
    outline: none;
    border-bottom: 0;
    width: 100%;
    max-width: 1216px;
    padding:0 2rem;
  }
  .inspirationContentContainer.ss-inspiration_block {
    max-width: 1216px;
    margin: 0 auto;
    padding-bottom: 2rem;
  }
  .inspirationContentContainer h3 {
    font-size: 1.6rem;
    font-weight: 300;
    margin: 5rem auto;
    line-height: inherit;
    padding:0 2rem;
    max-width: 1140px;
  }
  .shopTheLookContainer h2,
  .aboutSilkWrapper h2,
  .aboutSilkWrapper h1 {
    font-family: "aktiv-grotesk", sans-serif;
    font-size: 32px;
    font-weight: 300;
    margin: 0 auto;
    padding-bottom: 5rem;
    line-height: initial;
  }
  .aboutSilkWrapper h2,
  .aboutSilkWrapper h1 {
    font-weight: 400;
  }
  h2.section_content_textwrapper{
    padding-bottom:0;
  }
  .shopTheLookContainer h2 span{
     font-weight:400;
  }
  .col-pro-details h3 .small {
      font-size: 12px !important;
      line-height: 1.67 !important;
      font-weight: 300 !important;
      text-transform: uppercase !important;
  }
  .premium_product_section .collection_group .collection_group_head {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .premium_product_section .collection_group .collection_group_head .imgWrapper{
    max-width: 40%;
    width:100%;
  }
  .premium_product_section .collection_group .collection_group_head h2.text-center,
  .aboutSilkWrapper p {
    font-size: 1.6rem;
    line-height: inherit;
    letter-spacing: inherit;
    text-transform: initial;  
    max-width: 730px;
    width: 100%;
    margin:0 auto;
  }
  .aboutSilkWrapper p {
    line-height: initial;
  }
  .imgWrapper img{
      max-width: 690px;
      margin:0 auto;
  }
  .aboutSilkWrapper .text_center {
      text-align: center;
  }
  .premium_product_section .collection_group .collection_group_list .col.products_col.velaProBlock.quickadd.topProd {
    width: 100%;
    max-width: 100%;
    flex: 0 0 100%;
  }
  .col-pro-details {
  	text-align:left;
  }
  .premium_product_section .collection_group .collection_group_list .col.products_col.velaProBlock.quickadd.topProd .velaProBlockInner{
    max-width: 50%;
    margin: 0 auto;
  }
  .infoGraphicWrapper {
  	margin-bottom: 7rem;
  }
  .premium_news .newslsec, .premium_news section.foot_section {display: none;}.premium_product_section .collection_group .collection_group_list .col .quick_btn .productQuickAdd:hover .selection-wrapper {display: block!important;}.premium_product_section .collection_group .collection_group_list .col .quick_btn .selection-wrapper .formAddToCart {padding: 10px 15px;}.pop_productQuickAdd.active .formAddToCart, .productQuickAdd.active .formAddToCart {display: block !important;}.premium_product_section .collection_group .collection_group_list .col .quick_btn .selection-wrapper .formAddToCart {padding: 10px 15px;}.pop_productQuickAdd.active .formAddToCart, .productQuickAdd.active .formAddToCart {display: block!important;}.premium_product_section .collection_group .collection_group_list .col .quick_btn .selector-wrapper {display: none;}.premium_product_section .collection_group .collection_group_list .col .quick_btn .selection-wrapper .header {padding: 10px 0 15px;}.swatch .header {padding: 10px 0;display: block;font-weight: 400;min-width: 80px;font-size: 18px;color: #000;line-height: 20px;font-weight: 700;}.premium_product_section .collection_group .collection_group_list .col .quick_btn .selection-wrapper .swatch .swatch-element {display: inline-block;float: none;margin: 5px 3px;line-height: 1;padding: 3px;border-radius: 4px;border: solid 1px #000c48;-webkit-transition: .3s background,border-color ease-in-out!important;transition: .3s background,border-color ease-in-out!important;}.premium_product_section .collection_group .collection_group_list .col .quick_btn .selection-wrapper .swatch .swatch-element:not(.soldout) label {position: relative;cursor: pointer;margin: 0;-webkit-transition: .3s background,color ease-in-out!important;transition: .3s background,color ease-in-out!important;}.premium_product_section .collection_group .collection_group_list .col .quick_btn .selection-wrapper .swatch .swatch-element label {color: #000c48;text-transform: uppercase;white-space: nowrap;font-size: 14px;font-weight: 400;float: none;text-align: center;width: 50px;line-height: 25px;height: 25px;}.premium_product_section .collection_group .collection_group_list .col .quick_btn .selection-wrapper .swatch .swatch-element:not(.soldout):hover {border: 2px solid #0064ff!important;-webkit-box-shadow: inset 0 0 0 2px #fff;-moz-box-shadow: inset 0 0 0 2px #fff;box-shadow: inset 0 0 0 2px #fff;box-sizing: border-box;background: #000c48!important;background-color: #000c48!important;}.premium_product_section .collection_group .collection_group_list .col .quick_btn .selection-wrapper .swatch .swatch-element:not(.soldout):hover label {color: #fff;width: 48px;height: 23px;line-height: 23px;}.premium_product_section .collection_group .collection_group_list .col .quick_btn .selection-wrapper .header span.text {display: none;}.premium_product_section .collection_group .collection_group_list .col .quick_btn .selection-wrapper .header span {font-size: 14px;font-weight: 400;}.premium_product_section .collection_group .collection_group_list .col .quick_btn .selection-wrapper .header span {font-size: 14px;font-weight: 400;margin-right: 0.5rem;}a.siz_guid {display: inline-block;border: 1px solid #000;border-radius: 4px;padding: 2px 9px;font-size: 12px;margin-left: auto;font-weight: 500;text-align: center;line-height: 19px;text-indent: 2px;top: 0;position: relative;}.premium_product_section .collection_group .collection_group_list .col .quick_btn .selection-wrapper .header a {font-size: 14px;font-weight: 400;line-height: normal;text-align: center;color: #0064ff;font-family: aktiv-grotesk,Helvetica,Arial,sans-serif;border: 0;padding: 0;text-indent: 0;}.proHImage:hover .proFeaturedImage span {visibility: visible;opacity: 1;}.premium_product_section .collection_group .collection_group_list .col .product-image a {display: flex;align-items: center;position: relative;overflow: hidden;}.premium_product_section .collection_group .collection_group_list .col .product-image a img {max-width: 100%;width: 100%;height: 100%;object-fit: cover;position: absolute;top: 0;left: 0;}.proFeaturedImage {position: relative;padding: 0;}.velaProBlock .proHImage {position: relative;overflow: hidden;}.velaProBlock .proFeaturedImage {display: block;width: 100%;}.premium_product_section .collection_group .collection_group_list .col .product-image {padding-bottom: 12px;position: relative;z-index: 1;}.premium_product_section .collection_group .collection_group_list .col .product-image .col-pro-details {position: absolute;top: 0;left: 0;width: 100%;height: 100%;padding: 27px 28px;z-index: 10;}.premium_news .mainContent.noTopBanner, .premium_news.loggedIn .mainContent {padding-top: 0;}.permium_hero_section .section-wrap {position: relative;}.permium_hero_section .section_image {display: flex;align-items: center; max-height: 696px; overflow: hidden;}.premium_product_section .collection_group .collection_group_list .col.products_col {max-width: 50%;flex: 0 0 50%;padding: 0 10px;padding-top: 68px;margin: 0;}.premium_product_section .collection_group .collection_group_list .col .product-image .col-pro-details h3 {margin: 0;line-height: 1;text-transform: uppercase;font-size: 14px;font-weight: 400;font-family: aktiv-grotesk,Arial,Helvetica,sans-serif;color: #fff;}.premium_product_section .collection_group .collection_group_list .col .product-image .col-pro-details .price {margin: 0;font-size: 20px;font-weight: 400;font-family: aktiv-grotesk,Arial,Helvetica,sans-serif;color: #fff;}.premium_product_section .collection_group .collection_group_list .col .product-image .col-pro-details .price {margin: 0;font-size: 20px;font-weight: 400;font-family: aktiv-grotesk,Arial,Helvetica,sans-serif;color: #fff;}.premium_product_section .collection_group .collection_group_list .col .product-details {position: relative;z-index: 2;}.premium_product_section .collection_group .collection_group_list .col .quick_btn {position: relative;}.premium_product_section .collection_group .collection_group_list .col .quick_btn .btnProduct {display: block!important;border-radius: 4px;width: 100%;border: 2px solid #000c48;color: #000c48;font-size: 16px;background: 0 0;font-family: aktiv-grotesk,Arial,Helvetica,sans-serif;font-weight: 500;text-transform: uppercase;text-align: center;line-height: 1.65;padding: 15px;transition: all .3s ease-in-out;}.premium_product_section .collection_group .collection_group_list .col .quick_btn .btnProduct .icon-eye {display: none;}.premium_product_section .collection_group .collection_group_list .col .quick_btn .productQuickAdd .selection-wrapper {transition: all .3s ease-in-out;display: none!important;}.premium_product_section .collection_group .collection_group_list .col .quick_btn .selection-wrapper {position: absolute;bottom: 0;width: 100%;}.pop_productQuickAdd .selection-wrapper, .productQuickAdd .selection-wrapper {background: #fff;text-align: center;}.permium_hero_section .section_image {display: flex;align-items: center;}@media only screen and (max-width: 860px) {.permium_hero_section .section_image .desktop_image {display: none;}}.permium_hero_section .section_image .ipad_image {display: none;}@media only screen and (max-width: 860px) {.permium_hero_section .section_image .ipad_image {display: block;}}@media only screen and (max-width: 540px) {.permium_hero_section .section_image .ipad_image {display: none;}}.permium_hero_section .section_image .mobile_image {display: none;}@media only screen and (max-width: 540px) {.permium_hero_section .section_image .mobile_image {display: block;}}.permium_hero_section .section-wrap {position: relative;}.permium_hero_section .section-wrap .section_content {position: absolute;top: 0px;left: 0px;width: 100%;height: 100%;max-width: 1383px;margin: 0 auto;right: 0;display: flex;justify-content: center;align-items: center;}.permium_hero_section .section-wrap .section_content .content_top {position: absolute;left: 0;right: 0;margin: 0 auto;position: relative;}.permium_hero_section .section-wrap .section_content .content_top h1 {font-family: "Voyage Bold";font-size: 72px;color: #fff;font-weight: bold;line-height: 1.2;margin: 0px 0px 18px;}@media only screen and (max-width: 860px) {.permium_hero_section .section-wrap .section_content .content_top h1 {font-size: 52px;margin-bottom: 26px;}}@media only screen and (max-width: 540px) {.permium_hero_section .section-wrap .section_content .content_top h1 {font-size: 38px;margin-bottom: 10px;}}.permium_hero_section .section-wrap .section_content .content_top p {color: #fff;font-weight: 300;font-size: 24px;letter-spacing: 5px;text-transform: uppercase;}@media only screen and (max-width: 860px) {.permium_hero_section .section-wrap .section_content .content_top p {font-size: 20px;letter-spacing: 4px;}}@media only screen and (max-width: 540px) {.permium_hero_section .section-wrap .section_content .content_top p {font-size: 16px;letter-spacing: 3.2px;}}.permium_hero_section .section-wrap .section_content .content_bottom {position: absolute;bottom: 60px;left: 0px;right: 0px;}@media only screen and (max-width: 860px) {.permium_hero_section .section-wrap .section_content .content_bottom {bottom: 44px;}}.permium_hero_section .section-wrap .section_content .content_bottom a {padding: 17px 44px;text-transform: uppercase;border: solid 2px #fff;font-size: 16px;line-height: 1.38;color: #fff;font-weight: 500;display: inline-block;transition: all 0.3s ease-in-out;}@media only screen and (max-width: 1024px) {.permium_hero_section .section-wrap .section_content .content_bottom a {font-size: 12px;padding: 12px 30px;}}.permium_hero_section .section-wrap .section_content .content_bottom a:hover {background-color: #000c48;border-color: #000c48;color: #fff;}.permium_hero_section .section-wrap .section_content.text_center .content_top, .permium_hero_section .section-wrap .section_content.text_center .content_bottom {text-align: center;}.permium_hero_section .section-wrap .section_content.text_left .content_top, .permium_hero_section .section-wrap .section_content.text_left .content_bottom {text-align: left;}.permium_hero_section .section-wrap .section_content.text_right .content_top, .permium_hero_section .section-wrap .section_content.text_right .content_bottom {text-align: right;}.tab_proVariants_ovrlay {position: fixed;top: 0px;left: 0px;width: 100%;z-index: 9;opacity: 0;visibility: hidden;background-color: rgba(246, 234, 223, .8);height: 100%;transition: all 0.3s ease-in-out;}.tab_proVariants_ovrlay.active {opacity: 1;visibility: visible;}.premium_news .eby-header nav.eby-mobile-nav .burger-menu, .premium_news .eby-header-nav .sign_in_btn{display: flex !important;}.premium_news .eby-header nav.eby-mobile-nav a.nav-logo-mobile{margin: auto !important;}.premium_news .ebyHeaderCtaWrapper.join .joinNow.join {display: none !important;}.premium_product_section{background-image: none;border: 0;}.premium_product_section .collection_group .collection_group_head h2{letter-spacing: 5px;font-weight: 300;font-size: 24px;}.permium_hero_section .section-wrap .section_content .content_top p b{font-weight: 500;}section.permium_hero_section.small_con {max-width: 1140px;margin: 0 auto;}.premium_product_section .collection_group .collection_group_list .col {padding: 0 10px;}.premium_product_section .section-wrap {max-width: 1060px;width: 100%;}.poppy-red{background-color: #fff;}.cotton-two{overflow: hidden;padding: 60px 0;}.cotton-twos{display: flex;align-items: flex-start;flex-wrap: wrap;margin: 0 -10px;}.cotton-left{max-width: 50%;flex: 0 0 50%;padding: 0 10px;position: relative;}.cotton_overlay_text{position: absolute;top: 18px;left: 30px;}.cotton_overlay_text p{color: #fff;line-height: 1.4;}.cotton_overlay_text p span{text-decoration: underline;}.products_cols{display: flex;align-items: flex-start;flex-wrap: wrap;margin: 0 -10px;}.products_col{max-width: 50%;flex: 0 0 50%;padding: 0 10px;padding-top: 68px;}.products_col:first-child, .products_col:nth-child(2){padding-top: 0px;}.products_col h4, .products_col h6{color: #000c48;font-size: 20px;}.products_col h4{margin-top: 18px;}.pre-btn{margin-top: 10px;}.pre-btn a{font-size: 12px;border: 1px solid #000c48;padding: 11px 30px;color: #000c48;}.pre-btn a:hover{border: 1px solid #000c48;background-color: #000c48;color: #fff;}.left_img_cols a:last-child{margin-bottom: 20px;}.left_img_cols a{display: inline-block;width: 100%;position: relative;cursor: auto;}.left_img_cols a img{width: 100%;}.product-grid .container{max-width: 1030px;}.cotton-two.mobile_grid{display: none;}.middle-grid .cotton_overlay_text{transform: translateY(-50%);-webkit-transform: translateY(-50%);top: 50%;left: 0;width: 100%;text-align: center;color: #fff;}.permium_hero_section .section-wrap .section_content .content_bottom a{border-width: 1px;background: #fff;color: #000C48;}.cotton-two .collection_group_head h2 {letter-spacing: 5px;font-weight: 300;font-size: 24px;margin: 5px 0 7px;font-family: aktiv-grotesk,Arial,Helvetica,sans-serif;text-transform: capitalize;color: #000c48;margin-bottom: 50px;margin-top: 35px;}.cotton-left.left_img_cols {display: flex;flex-direction: column-reverse;flex-wrap: wrap;}.premium_product_section .collection_group .collection_group_list .col .quick_btn .btnProduct{border-width: 1px;}.premium_product_section .collection_group .collection_group_list .col .product-image .col-pro-details{padding: 18px 20px;}.premium_product_section .collection_group .collection_group_list .col.products_col{padding-top: 40px;}.premium_tab_section .premium_tab_body {padding-top: 0px;padding-bottom: 0px;}.premium_tab_section .premium_tab_body .tab-content .tab-product .tab-product-details .tab-product-btngroup a.tab_btn {max-width: 100%;border: solid 1px #000c48;}.premium_tab_section .premium_tab_body .tab-content .tab-product .tab-product-details .tab-product-btngroup .tab_proVariants {max-width: 100%;width: 100%;margin-right: 00px;}.premium_tab_section .premium_tab_body .tab-content .tab-product {padding: 0 0px;}.premium_product_section .collection_group .collection_group_list .col .product-image a:after {content: "";padding-bottom: 100%;width: 100%;display: block;}@media(max-width: 1440px){.cotton-two .container{padding-left: 150px;padding-right: 150px;}.product-grid .container{padding-left: 0px;padding-right: 0px;}}@media(max-width: 1200px){.cotton-two .container{padding-left: 44px;padding-right: 44px;}.product-grid .container{padding-left: 112px;padding-right: 112px;}}@media(max-width: 1024px){.premium_product_section .collection_group .collection_group_head h2, .cotton-two .collection_group_head h2{letter-spacing: 5px;font-weight: 300;font-size: 24px;}.cotton-left{padding: 0 8px;}.cotton-twos{margin: 0 -8px;}.left_img_cols a:last-child {margin-bottom: 16px;}}@media(max-width: 1023px){.premium_news .eby-header-nav > div{display: flex !important;}.premium_news .nav-main-wrapper {flex-direction: column;}}@media(min-width: 1024px){.premium_news .eby-header:hover nav.eby-header-nav a>span{color: #000C48;}.cotton-two.premium_product_section .collection_group .collection_group_list .col .product-image a:after{padding-bottom: 127%;}.premium_product_section .collection_group .collection_group_list .col.products_col {padding: 0 8px;padding-top: 40px;}.premium_product_section .collection_group .collection_group_list.products_cols {margin: 0 -8px;}.cotton-two.premium_product_section .collection_group .collection_group_list .col .product-image a:after {padding-bottom: 127%;}}@media(max-width: 991px){.cotton-two .container{width: 100%;}.cotton-two .container{padding-left: 44px;padding-right: 44px;}.product-grid .container{padding-left: 84px;padding-right: 84px;}}@media(max-width: 768px){.cotton-left.left_img_cols {display: none;}.cotton-left {max-width: 100%;flex: 0 0 100%;}.product-grid .container{padding-left: 0px;padding-right: 0px;}.left_img_cols a:nth-child(2){display: none;}.product-grd{padding-left: 84px;padding-right: 84px;}.products_col{padding-top: 52px;}.cotton-two.image-grid .cotton-left:nth-child(2){display: none;}.cotton-two{padding: 40px 0;}.cotton-two.mobile_grid{display: block;}.cotton_overlay_text{left: 20px;}.banner_bottom_section .mob_btn{display: block;text-align: center;margin-bottom: 52px;margin-top: 12px;}.banner_bottom_section .mob_btn a{padding: 11px 30px;text-transform: uppercase;border: solid 1px #000c48;font-size: 12px;line-height: 1.38;color: #000c48;font-weight: 500;display: inline-block;transition: all .3s ease-in-out;border-radius: 4px;}.banner_bottom_section .mob_btn a:hover{border: 2px solid #000c48;background-color: #000c48;color: #fff;}.banner_bottom_section .desktop_btn{display: none;}#shopify-section-cotton_hero_section{margin-bottom: -24px;}.cotton-two.image-grid .container{padding-left: 84px;padding-right: 84px;}.left_img_cols a:first-child {margin-bottom: 8px;}.premium_product_section .collection_group .collection_group_head h2, .cotton-two .collection_group_head h2{letter-spacing: 3.2px;font-size: 16px;}.premium_product_section .collection_group .collection_group_list .col .product-image a, .premium_product_section .collection_group .collection_group_list .col .product-image{display: block !important;}.premium_product_section .collection_group .collection_group_list .col .product-image a:after {display: none !important;}.premium_product_section .collection_group .collection_group_list .col .product-image a img {position: static !important;}.premium_product_section .collection_group .collection_group_list .col .product-image .col-pro-details{position: relative !important;padding: 18px 20px;}.premium_product_section .collection_group .collection_group_list .col .product-image .col-pro-details *{color: #000c48 !important;}.premium_product_section .collection_group .collection_group_list .col .product-image{padding-bottom: 0;}}@media only screen and (max-width: 767px) {.premium_product_section .collection_group .collection_group_list .col .product-image .col-pro-details h3 {font-size: 14px;}}@media(max-width: 600px){.cotton-two.product-grid.premium_product_section.secondCollection{padding-top:0;}.product-grd{padding-left: 0px;padding-right: 0px;}.products_col{padding-left: 4px;padding-right: 4px;padding-top: 52px;}.products_cols{margin: 0 -4px;}.inner_pro_content{padding-left: 20px;}.left_img_cols a:first-child {margin-bottom: 8px;}.cotton-left{padding-left: 0;padding-right: 0;}.cotton-twos{margin: 0;}#shopify-section-cotton_hero_section{margin-bottom: -32px;}.permium_hero_section .section-wrap .section_content .content_top p {font-size: 16px;}.cotton-two.image-grid .container{padding-left: 20px;padding-right: 20px;}.premium_product_section .section-wrap {padding: 0 0px;}.premium_product_section .collection_group .collection_group_list .col {max-width: 50%;}.premium_product_section .collection_group .collection_group_list {margin: 0 -10px;padding: 0 14px;}.cotton-two .collection_group_head h2{margin-bottom: 40px;}.premium_product_section .collection_group .collection_group_list .col .quick_btn .btnProduct{font-size: 12px;padding: 10px 10px;}.collection_group_list .velaProBlock .product-details{padding-left: 0;}.collection_group_list .velaProBlock:nth-child(2n) .product-details{padding-right: 0;padding-left: 0px;}.premium_product_section .collection_group .collection_group_list .col.velaProBlock:nth-child(2n) .product-image .col-pro-details{padding-left: 0px;}.premium_product_section .collection_group .collection_group_list .col .product-image .col-pro-details {padding: 16px 0 10px;}.premium_product_section .collection_group .collection_group_list.products_cols{margin: 0 -4px;padding: 0;}.premium_product_section .collection_group .collection_group_list .col.products_col {padding: 0 4px;padding-top: 40px;}.premium_product_section .collection_group .collection_group_list .col {margin-bottom: 60px;padding: 0 4px;}}.mobileOnly {display: none;}.template-product .formQuickview .proButton {display: none;}.mobileOnly h2 {font-weight: 300;margin: 5px 0 7px;font-family: "aktiv-grotesk","Arial","Helvetica",sans-serif;text-transform: capitalize;color: #000c48;margin-bottom: 2.25rem;margin-top: 0;letter-spacing: 3.2px;font-size: 16px;}.pop_productQuickAdd .selection-wrapper .btnAddToCart {border: 0;}.products_col h4, .products_col h6 {margin-bottom: 0.5rem;}.priceWrapper p{font-size: 1.4rem;font-weight: 500;display: inline;}.priceProduct.vipHighlight {margin:0;color: #000C48;font-weight: 300;}.loggedIn.isMember .priceProduct.vipHighlight{color: #d0021b;}.loggedIn.isMember .products_col span.bfx-price{text-decoration: line-through;}.parisian-summer{background-color: #fff;}.premium_tab_section {background-image: linear-gradient(to right,rgba(230,189,127,.35),rgba(255,155,233,.5));}.premium_news .eby-header nav.eby-mobile-nav .burger-menu, .premium_news .eby-header-nav .sign_in_btn{display: flex !important;}.premium_news .eby-header nav.eby-mobile-nav a.nav-logo-mobile{margin: auto !important;}.premium_news .ebyHeaderCtaWrapper.join .joinNow.join {display: none !important;}.permium_hero_section .section-wrap .section_content .content_top h1{font-size: 188px;font-weight: 300;font-family: 'Domaine Sans Display';letter-spacing: 81px;word-break: break-word;position: relative;left: 50px;}.permium_hero_section .section-wrap .section_content .content_top p{text-align: right;letter-spacing: 45px;}.cotton-two{overflow: hidden;padding: 60px 0;}.cotton-twos{display: flex;align-items: flex-start;flex-wrap: wrap;margin: 0 -10px;}.cotton-left{max-width: 50%;flex: 0 0 50%;padding: 0 10px;position: relative;cursor: auto;}.cotton_overlay_text{position: absolute;top: 18px;left: 30px;}.cotton_overlay_text p{color: #fff;line-height: 1.4;}.cotton_overlay_text p span{text-decoration: underline;}.permium_hero_section .section-wrap .section_content .content_bottom a{border-radius: 4px;}.products_cols{display: flex;align-items: flex-start;flex-wrap: wrap;margin: 0 -10px;}.premium_product_section .collection_group .collection_group_list .col, .products_col{max-width: 50%;flex: 100%;padding: 0 10px;padding-top: 68px;}.products_col:first-child, .products_col:nth-child(2){padding-top: 0px;}.products_col h4, .products_col h6{color: #000c48;font-size: 20px;}.products_col h4{margin-top: 1rem;margin-bottom: 0;line-height:initial;}.products_col h4 a{color:#000C48;}.pre-btn{margin-top: 10px;}.pre-btn a{font-size: 12px;border: 1px solid #000c48;padding: 11px 30px;color: #000c48;width: 100%;border-radius: unset;}.pre-btn a:hover{border: 1px solid #000c48;background-color: #000c48;color: #fff;}.left_img_cols a:first-child{margin-bottom: 20px;}.left_img_cols a{display: inline-block;width: 100%;cursor: auto;}.left_img_cols a img{width: 100%;}.product-grid .container{max-width: 1030px;}.cotton-two.mobile_grid{display: none;}.middle-grid .cotton_overlay_text{transform: translateY(-50%);-webkit-transform: translateY(-50%);top: 50%;left: 0;width: 100%;text-align: center;color: #fff;}.permium_hero_section .section-wrap .section_content .content_bottom a{border-width: 1px;background: #fff;color: #000C48;}.permium_hero_section .section-wrap .section_content .content_top h1{margin-bottom: 0 !important;}.banner_bottom_section .mob_btn{display: none;}.premium_product_section {background-image: none;}.premium_product_section .collection_group .collection_group_list .col.products_col{margin: 0;}.premium_product_section .collection_group.product-grd {margin: 0; padding:0 !important;}.premium_product_section .collection_group .collection_group_list .col .product-image a img {position: static !important;}.premium_product_section .collection_group .collection_group_list .col .quick_btn .btnProduct{border-width: 1px;font-size: 12px;padding: 11px 30px;color: #000c48;width: 100%;border-radius: 4px;min-width: 100%;}.premium_product_section .collection_group .collection_group_list .col .product-image .col-pro-details{padding: 18px 0px 0px;}.premium_product_section .collection_group .collection_group_list .col.products_col{padding-top: 40px;}.premium_tab_section .premium_tab_body {padding-top: 0px;padding-bottom: 0px;}.premium_tab_section .premium_tab_body .tab-content .tab-product .tab-product-details .tab-product-btngroup a.tab_btn {max-width: 100%;border: solid 1px #000c48;}.premium_product_section .collection_group .collection_group_list .col .product-image .col-pro-details {position: relative !important;}.premium_product_section .collection_group .collection_group_list .col .product-image a:after {display: none !important;}.premium_product_section .collection_group .collection_group_list .col .product-image a, .premium_product_section .collection_group .collection_group_list .col .product-image {display: block !important;}.premium_product_section .collection_group .collection_group_list .col .product-image .col-pro-details * {color: #000c48 !important;}.premium_product_section .collection_group .collection_group_list .col .product-image {padding-bottom: 0;}.template-product .proButton {width: 100%;}@media(max-width: 1440px){.cotton-two .container{padding-left: 150px;padding-right: 150px;}.product-grid .container{padding-left: 0px;padding-right: 0px;}}@media(max-width: 1400px){.permium_hero_section .section-wrap .section_content .content_top h1{font-size: 150px;letter-spacing: 71px;}}@media(max-width: 1200px){.permium_hero_section .section-wrap .section_content .content_top h1{font-size: 130px;letter-spacing: 60px;}.cotton-two .container{padding-left: 44px;padding-right: 44px;}.product-grid .container{padding-left: 112px;padding-right: 112px;}.permium_hero_section .section-wrap .section_content .content_top h1{font-size: 120px;letter-spacing: 61px;left: 20px;}}@media(max-width: 1160px){.permium_hero_section .section-wrap .section_content .content_top h1{font-size: 100px;letter-spacing: 61px;}}@media(max-width: 1024px){.permium_hero_section .section-wrap .section_content .content_top h1{font-size: 80px;letter-spacing: 51px;left: 10px;}}@media(max-width: 1023px){.premium_news .eby-header-nav > div{display: flex !important;}}@media(min-width: 1024px){.premium_news .eby-header:hover nav.eby-header-nav a>span{color: #0064ff;}.premium_product_section .collection_group .collection_group_list.products_cols {margin: 0 -8px;}}@media(max-width: 991px){.cotton-two .container{width: 100%;}.cotton-two .container{padding-left: 44px;padding-right: 44px;}.product-grid .container{padding-left: 84px;padding-right: 84px;}}@media(max-width: 768px){.template-product .formQuickview .proButton {display: block;}.mobilePaddTop {padding-top:1.5rem;}.mobileOnly {display:block;}.mobilePaddTop .cotton-left.left_img_cols {display: none;}.cotton-left {max-width: 100%;flex: 0 0 100%;}.product-grid .container{padding-left: 0px;padding-right: 0px;}.left_img_cols a:nth-child(2){display: none;}.product-grd{padding-left: 84px;padding-right: 84px;}.products_col{padding-top: 52px;}.cotton-two.image-grid .cotton-left:nth-child(2){display: none;}.cotton-two{padding: 40px 0;}.cotton-two.mobile_grid{display: block;}.cotton_overlay_text{left: 20px;}.banner_bottom_section .mob_btn{display: block;text-align: center;margin-bottom: 52px;margin-top: 12px;}.banner_bottom_section .mob_btn a{padding: 11px 30px;text-transform: uppercase;border: solid 1px #000c48;font-size: 12px;line-height: 1.38;color: #000c48;font-weight: 500;display: inline-block;transition: all .3s ease-in-out;border-radius: 4px;}.banner_bottom_section .mob_btn a:hover{border: 2px solid #000c48;background-color: #000c48;color: #fff;}.banner_bottom_section .desktop_btn{display: none;}#shopify-section-cotton_hero_section{margin-bottom: -24px;}.cotton-two.image-grid .container{padding-left: 84px;padding-right: 84px;}}@media(max-width: 600px){.premium_product_section .collection_group .collection_group_list .col.products_col:first-child, .premium_product_section .collection_group .collection_group_list .col.products_col:nth-child(2){padding-top:40px;}.priceProduct.vipHighlight {font-size: 1.2rem;}.products_col h4, .products_col h6 {font-size:1.4rem;}.product-grd{padding-left: 0px;padding-right: 0px;padding: 0 0.8rem !important;}.premium_product_section .collection_group .collection_group_list .col, .products_col{padding-left: 4px;padding-right: 4px;padding-top: 52px;}.products_cols{margin: 0 -4px;}.permium_hero_section .section-wrap .section_content .content_top h1{font-size: 30px;letter-spacing: 25px;left: 20px;}.inner_pro_content{padding-left: 0;}.left_img_cols a:first-child {margin-bottom: 8px;}.cotton-left{padding-left: 0;padding-right: 0;}.cotton-twos{margin: 0;}#shopify-section-cotton_hero_section{margin-bottom: -32px;}.permium_hero_section .section-wrap .section_content .content_top p {font-size: 14px;letter-spacing: 6px;}.cotton-two.image-grid .container{padding-left: 20px;padding-right: 20px;}.premium_product_section .collection_group .collection_group_list .col .product-image .col-pro-details {padding: 16px 0px 0px;}}
  html{overflow: hidden;}.premium_news .mainContent, #premium .mainContent {padding-top: 0px;}.permium_hero_section .section_image {display: flex;align-items: center;}@media only screen and (max-width: 860px) {.permium_hero_section .section_image .desktop_image {display: none;}}.permium_hero_section .section_image .ipad_image {display: none;}@media only screen and (max-width: 860px) {.permium_hero_section .section_image .ipad_image {display: block;}}@media only screen and (max-width: 540px) {.permium_hero_section .section_image .ipad_image {display: none;}}.permium_hero_section .section_image .mobile_image {display: none;}@media only screen and (max-width: 540px) {.permium_hero_section .section_image .mobile_image {display: block;}}.permium_hero_section .section-wrap {position: relative;}.permium_hero_section .section-wrap .section_content {position: absolute;top: 0px;left: 0px;width: 100%;height: 100%;max-width: 1383px;margin: 0 auto;right: 0;display: flex;justify-content: center;align-items: center;}.permium_hero_section .section-wrap .section_content .content_top {position: absolute;left: 0;right: 0;margin: 0 auto;position: relative;}.permium_hero_section .section-wrap .section_content .content_top h1 {font-family: "Voyage Bold";font-size: 72px;color: #fff;font-weight: bold;line-height: 1.2;margin: 0px 0px 18px;}@media only screen and (max-width: 860px) {.permium_hero_section .section-wrap .section_content .content_top h1 {font-size: 52px;margin-bottom: 26px;}}@media only screen and (max-width: 540px) {.permium_hero_section .section-wrap .section_content .content_top h1 {font-size: 38px;margin-bottom: 10px;}}.permium_hero_section .section-wrap .section_content .content_top p {color: #fff;font-weight: 300;font-size: 24px;letter-spacing: 5px;text-transform: uppercase;}@media only screen and (max-width: 860px) {.permium_hero_section .section-wrap .section_content .content_top p {font-size: 20px;letter-spacing: 4px;}}@media only screen and (max-width: 540px) {.permium_hero_section .section-wrap .section_content .content_top p {font-size: 16px;letter-spacing: 3.2px;}}.permium_hero_section .section-wrap .section_content .content_bottom {position: absolute;bottom: 60px;left: 0px;right: 0px;}@media only screen and (max-width: 860px) {.permium_hero_section .section-wrap .section_content .content_bottom {bottom: 44px;}}.permium_hero_section .section-wrap .section_content .content_bottom a {padding: 17px 44px;text-transform: uppercase;border: solid 2px #fff;font-size: 16px;line-height: 1.38;color: #fff;font-weight: 500;display: inline-block;transition: all 0.3s ease-in-out;}@media only screen and (max-width: 1024px) {.permium_hero_section .section-wrap .section_content .content_bottom a {font-size: 12px;padding: 12px 30px;}}.permium_hero_section .section-wrap .section_content .content_bottom a:hover {background-color: #000c48;border-color: #000c48;color: #fff;}.permium_hero_section .section-wrap .section_content.text_center .content_top, .permium_hero_section .section-wrap .section_content.text_center .content_bottom {text-align: center;}.permium_hero_section .section-wrap .section_content.text_left .content_top, .permium_hero_section .section-wrap .section_content.text_left .content_bottom {text-align: left;}.permium_hero_section .section-wrap .section_content.text_right .content_top, .permium_hero_section .section-wrap .section_content.text_right .content_bottom {text-align: right;}.tab_proVariants_ovrlay {position: fixed;top: 0px;left: 0px;width: 100%;z-index: 9;opacity: 0;visibility: hidden;background-color: rgba(246, 234, 223, .8);height: 100%;transition: all 0.3s ease-in-out;}.tab_proVariants_ovrlay.active {opacity: 1;visibility: visible;}.hover-logo {display: none;}.eby-mobile-nav.ebyicon-minicart-empty-alt {color: #0064ff;}.eby-header.scrolled .hover-logo, .eby-header-nav:hover .hover-logo {display: block;}.eby-header.scrolled .default-logo, .eby-header-nav:hover .default-logo {display: none;}.premium_news .eby-header-nav .nav-logo img, .premium_news .eby-mobile-nav .nav-logo img, .premium_news .eby-header-nav .nav-logo-mobile img, .premium_news .eby-mobile-nav .nav-logo-mobile img {display: none;}.premium_news .eby-header-nav .nav-logo:before, .premium_news .eby-mobile-nav .nav-logo:before, .premium_news .eby-header-nav .nav-logo-mobile:before, .premium_news .eby-mobile-nav .nav-logo-mobile:before {font-family: "eby";content: '\e81c';margin: 0;font-size: 4rem;line-height: 2rem;color: #0064ff;}.premium_news .eby-header .ebyHeaderCtaWrapper.buy a {color: #fff;}.premium_news .eby-header.scrolled .nav-logo-mobile img, .premium_news .eby-header:hover .nav-logo-mobile img, .premium_news .eby-header.scrolled .nav-logo img, .premium_news .eby-header:hover .nav-logo img {filter: unset;}.premium_news .eby-header.scrolled .nav-logo:before, .premium_news .eby-header:hover .nav-logo:before, .premium_news .eby-header.scrolled .nav-logo-mobile:before, .premium_news .eby-header:hover .nav-logo-mobile:before {color: #0064ff;}.premium_news .eby-header.scrolled .ebyHeaderCtaWrapper.join:before, .premium_news .eby-header:hover .ebyHeaderCtaWrapper.join:before {color: #0064ff;}.premium_news .eby-header.scrolled .ebyHeaderCtaWrapper.buy a, .premium_news .eby-header:hover .ebyHeaderCtaWrapper.buy a {color: #0064ff;}.premium_news.loggedIn .mainContent, .premium_news .mainContent.noTopBanner {padding-top: 0;}.premium_news .tab_proVariants_wrap .proVariants-2, .tab_proVariants_wrap .proVariants {margin-bottom: 2rem;}.premium_news #shopify-section-premium_product_tab_2 .tabs li:last-child {display: none;}.premium_news .motivator-bar__wrapper, .premium_news .newslsec, .premium_news section.foot_section, .premium_news .eby-header-nav .sign_in_btn {display: none;}.premium_news .eby-header nav.eby-mobile-nav .burger-menu {display: none !important;}.premium_news .eby-header-nav .ebyHeaderCtaWrapper {display: block;}.premium_news .nav-logo-mobile img, .premium_news .nav-logo img {filter: brightness(0) invert(1);}.premium_news a.siz_guid {padding: 0;margin-left: 0.75rem;border: 0;background: transparent;color: #0064ff;font-size: 1.4rem;}.premium_news .ebyicon-minicart-empty-alt:before {color: #0064ff;}.premium_news .footerCopyRight {background: #000c48;}.premium_news .eby-header nav.eby-mobile-nav a.nav-logo-mobile {margin: 0 auto 0 0;}.premium_news .velaCopyRight, .premium_news #velaFooter.style1 .velaCopyRightLink ul li a, .premium_news #velaFooter.style1 .velaCopyRightLink ul li a:hover, .premium_news .fa-facebook, .premium_news .fa-instagram, .premium_news .fa-facebook, .premium_news .fa-instagram:hover, .premium_news .fa-youtube {color: #fff;}.premium_news .eby-header nav.eby-mobile-nav .ebyHeaderCtaWrapper.buy a, .premium_news .eby-header nav.eby-mobile-nav .burger-menu .btnMenuMobile:before {color: #0064ff !important;}.premium_news .eby-header.scrolled nav.eby-mobile-nav .ebyHeaderCtaWrapper.buy a, .premium_news .eby-header.scrolled nav.eby-mobile-nav .burger-menu .btnMenuMobile:before, .premium_news .eby-header:hover nav.eby-mobile-nav .ebyHeaderCtaWrapper.buy a, .premium_news .eby-header:hover nav.eby-mobile-nav .burger-menu .btnMenuMobile:before, .premium_news.menuMobileActive .eby-header nav.eby-mobile-nav .ebyHeaderCtaWrapper.buy a {color: #0064ff !important;}.premium_news .eby-header:hover nav.eby-mobile-nav .default-logo, .premium_news.menuMobileActive nav.eby-mobile-nav .default-logo {display: none;}.premium_news .eby-header:hover nav.eby-mobile-nav .hover-logo, .premium_news.menuMobileActive nav.eby-mobile-nav .hover-logo {display: block;}.mystry_bottom {display: flex;align-items: center;justify-content: space-between;}.mystry_bottom .priceProduct {margin: 0;}.parisian_pages .tab_collection_bennor .tab_collection_bennor_wrap .tab_collection_details.text_center {height: 100%;}.parisian_pages .tab_collection_details_wrap {display: flex;flex-direction: column;justify-content: space-between;}.parisian_pages .tab_collection_content {padding-top: 20%;}.parisian_pages .tab_collection_bennor .tab_collection_bennor_wrap .tab_collection_details .section-btn a {border-color: #000c48;color: #000c48;}@media only screen and (max-width: 480px) {.parisian_pages .tab_collection_bennor .tab_collection_bennor_wrap .tab_collection_details .section-btn a {border-color: #000c48;background: #000c48;color: #fff;}}.parisian_pages .tab_collection_bennor .tab_collection_bennor_wrap .tab_collection_details .section-btn a:hover {background-color: #000c48;color: #fff;}.parisian_pages .tab_collection_details_wrap .tab_collection_content + p {display: none;}@media only screen and (max-width: 1024px) {.parisian_pages .tab_collection_content {padding-top: 10%;}}.proList .swatch-view-item.swatch-item-unavailable, .template-product .swatch-view-item.swatch-item-unavailable {display: block;opacity: 0.2;}.back_in_stock {display: none !important;}.back_in_stock.false {display: block !important;width: 100%;}a.klaviyo-bis-trigger {width: 100%;display: inline-block !important;text-align: center;line-height: 22px;padding: 13px;background-color: #000c48;color: #fff;border-radius: 28.5px;margin-bottom: 15px;}a.klaviyo-bis-trigger:hover {opacity: 0.8;}
  /**/
  .pop_size.pop_productQuickAdd {
  	z-index: 999;
  }
  
  .eby-premium_content_block {
      width: 100%;
      max-width: 1140px;
      padding: 0 2rem;
      margin: 3rem auto 5rem;
  }
  .premium_content_wrapper {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: baseline;
  }
  .premium_content_item {
    width: 48%;
    margin-bottom: 5rem;
  }
  .premium_content_item_wrapper p {
      margin: 2rem auto;
      text-align: center;
      line-height: 3rem;
      font-size: 1.6rem;
      letter-spacing: 1.8px;
  }
  section.foot_section,
  .newslsec {
  	display: none !important;
  }
  .premium_product_section .collection_group .collection_group_list .col .quick_btn .productQuickAdd:hover .selection-wrapper {
      display: block!important;
  }
  .premium_product_section .collection_group .collection_group_list .col .quick_btn .selection-wrapper .formAddToCart {
  	padding: 10px 15px;
  }
  .pop_productQuickAdd.active .formAddToCart, .productQuickAdd.active .formAddToCart {
  	display: block !important;
  }
  .premium_product_section .collection_group .collection_group_list .col .quick_btn .selection-wrapper .formAddToCart {
    padding: 10px 15px;
  }
  .pop_productQuickAdd.active .formAddToCart, .productQuickAdd.active .formAddToCart {
    display: block!important;
  }
  .premium_product_section .collection_group .collection_group_list .col .quick_btn .selector-wrapper {
    display: none;
  }
  .premium_product_section .collection_group .collection_group_list .col .quick_btn .selection-wrapper .header {
    padding: 10px 0 15px;
  }
  .swatch .header {
      padding: 10px 0;
      display: block;
      font-weight: 400;
      min-width: 80px;
      font-size: 18px;
      color: #000;
      line-height: 20px;
      font-weight: 700;
  }
  .premium_product_section .collection_group .collection_group_list .col .quick_btn .selection-wrapper .swatch .swatch-element {
      display: inline-block;
      float: none;
      margin: 5px 3px;
      line-height: 1;
      padding: 3px;
      border-radius: 4px;
      border: solid 1px #000c48;
      -webkit-transition: .3s background,border-color ease-in-out!important;
      transition: .3s background,border-color ease-in-out!important;
  }
  .premium_product_section .collection_group .collection_group_list .col .quick_btn .selection-wrapper .swatch .swatch-element:not(.soldout) label {
      position: relative;
      cursor: pointer;
      margin: 0;
      -webkit-transition: .3s background,color ease-in-out!important;
      transition: .3s background,color ease-in-out!important;
  }
  .premium_product_section .collection_group .collection_group_list .col .quick_btn .selection-wrapper .swatch .swatch-element label {
      color: #000c48;
      text-transform: uppercase;
      white-space: nowrap;
      font-size: 14px;
      font-weight: 400;
      float: none;
      text-align: center;
      width: 50px;
      line-height: 25px;
      height: 25px;
  }
  .premium_product_section .collection_group .collection_group_list .col .quick_btn .selection-wrapper .swatch .swatch-element:not(.soldout):hover {
      border: 2px solid #0064ff!important;
      -webkit-box-shadow: inset 0 0 0 2px #fff;
      -moz-box-shadow: inset 0 0 0 2px #fff;
      box-shadow: inset 0 0 0 2px #fff;
      box-sizing: border-box;
      background: #000c48!important;
      background-color: #000c48!important;
  }
  .premium_product_section .collection_group .collection_group_list .col .quick_btn .selection-wrapper .swatch .swatch-element:not(.soldout):hover label {
      color: #fff;
      width: 48px;
      height: 23px;
      line-height: 23px;
  }
  .premium_product_section .collection_group .collection_group_list .col .quick_btn .selection-wrapper .header span.text {
      display: none;
  }
  .premium_product_section .collection_group .collection_group_list .col .quick_btn .selection-wrapper .header span {
      font-size: 14px;
      font-weight: 400;
  }
  .premium_product_section .collection_group .collection_group_list .col .quick_btn .selection-wrapper .header span {
      font-size: 14px;
      font-weight: 400;
      margin-right: 0.5rem;
  }
  a.siz_guid {
      display: inline-block;
      border: 1px solid #000;
      border-radius: 38px;
      padding: 2px 9px;
      font-size: 12px;
      margin-left: auto;
      font-weight: 500;
      text-align: center;
      line-height: 19px;
      text-indent: 2px;
      top: 0;
      position: relative;
  }
  
  .premium_product_section .collection_group .collection_group_list .col .quick_btn .selection-wrapper .header a {
      font-size: 14px;
      font-weight: 400;
      line-height: normal;
      text-align: center;
      color: #0064ff;
      font-family: aktiv-grotesk,Helvetica,Arial,sans-serif;
      border: 0;
      padding: 0;
      text-indent: 0;
  }
  .pre-btn a.siz_guid:hover {
  	  background-color: transparent;
  }
  /**/
  .premium_product_section .section-wrap {
      max-width: 1260px;
      width: 100%;
      padding: 0 30px;
      margin: 0 auto;
  }
  .premium_product_section .collection_group {
      padding-top: 6rem;
  }
  .premium_product_section .collection_group .collection_group_head {
      padding-bottom: 6rem;
  }
  .premium_product_section .collection_group .collection_group_head h2 {
    font-size: 36px;
    font-weight: 500;
    margin: 5px 0 7px;
    font-family: aktiv-grotesk,Arial,Helvetica,sans-serif;
    text-transform: capitalize;
    color: #00082f;
  }
  .premium_product_section .collection_group .collection_group_list {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -30px;
      justify-content: center;
  }
  .premium_product_section .collection_group .collection_group_list .col {
      max-width: 33.33%;
      width: 100%;
      padding: 0 30px;
      margin-bottom: 80px;
  }
  .premium_product_section .collection_group .collection_group_list .col .product-image {
      padding-bottom: 12px;
      position: relative;
      z-index: 1;
  }
  .velaProBlock .proHImage {
      position: relative;
      overflow: hidden;
  }
  .premium_product_section .collection_group .collection_group_list .col .product-image a {
      display: flex;
      align-items: center;
      position: relative;
      overflow: hidden;
  }
  .premium_product_section .collection_group .collection_group_list .col .product-image a img {
      max-width: 100%;
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
  }
  .premium_product_section .collection_group .collection_group_list .col .product-image .col-pro-details {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 27px 28px;
      z-index: 10;
  }
  .premium_product_section .collection_group .collection_group_list .col .product-image .col-pro-details h3 {
      margin: 0;
      line-height: 20px;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 400;
      font-family: aktiv-grotesk,Arial,Helvetica,sans-serif;
      color: #fff;
  }
  .premium_product_section .collection_group .collection_group_list .col .product-image .col-pro-details .price {
      margin: 0;
      font-size: 16px;
      font-weight: 400;
      font-family: aktiv-grotesk,Arial,Helvetica,sans-serif;
      color: #fff;
      line-height: 20px;
  }
  .premium_product_section .collection_group .collection_group_list .col .product-details {
      position: relative;
      z-index: 2;
  }
  .premium_product_section .collection_group .collection_group_list .col .quick_btn {
      position: relative;
  }
  .premium_product_section .collection_group .collection_group_list .col .quick_btn .btnProduct {
      display: block!important;
      border-radius: 4px;
      width: 100%;
      border: 2px solid #000c48;
      color: #000c48;
      font-size: 12px;
      background: 0 0;
      font-family: aktiv-grotesk,Arial,Helvetica,sans-serif;
      font-weight: 500;
      text-transform: uppercase;
      text-align: center;
      line-height: 1.65;
      padding: 15px;
      transition: all .3s ease-in-out;
  }
  .premium_product_section .collection_group .collection_group_list .col .quick_btn .btnProduct .icon-eye {
      display: none;
  }
  .premium_product_section .collection_group .collection_group_list .col .quick_btn .productQuickAdd .selection-wrapper {
      transition: all .3s ease-in-out;
      display: none!important;
  }
  .premium_product_section .collection_group .collection_group_list .col .quick_btn .selection-wrapper {
      position: absolute;
      bottom: 0;
      width: 100%;
  }
  .pop_productQuickAdd .selection-wrapper, .productQuickAdd .selection-wrapper {
      background: #fff;
      text-align: center;
  }
  
  /**/
  .collection-image {
  	position: relative;
  }
  .videoContainer {
  	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  
  .playerFilm{
  	background:transparent;width:100%;height:100%;position:absolute;top:0;left:0;z-index: 1;
  }
  .playerImgHide {
  	visibility: hidden !important;
  }
  .playerWrapper {
  	width:100%;height:100%;position:absolute;top:0;left:0;
  }
  
  .premium_news .eby-header nav.eby-mobile-nav .burger-menu,
  .premium_news .eby-header-nav .sign_in_btn{
    display: flex !important;
  }
  .premium_news .eby-header nav.eby-mobile-nav a.nav-logo-mobile{
    margin: auto !important;
  }
  .premium_news .ebyHeaderCtaWrapper.join .joinNow.join {
    display: none !important;
  }
  .premium_product_section{
    background-image: none;
    border: 0;
  } 
  .premium_product_section .collection_group .collection_group_head h2{
    letter-spacing: 2px;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
  }
  .permium_hero_section .section-wrap .section_content .content_top p b{
    font-weight: 500;
  }
  section.permium_hero_section.small_con {
    max-width: 1140px;
    margin: 0 auto;
    padding-bottom:6rem;
  }
  .premium_product_section .collection_group .collection_group_list .col {
    padding: 0 10px;
  }
  .premium_product_section .section-wrap {
    max-width: 1120px;
    width: 100%;
  }
  .poppy-red{
    background-color: #fff;
  }
  .cotton-two{
    overflow: hidden; 
    padding: 60px 0;
  }
  .cotton-twos{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 0 -10px;
  }
  .cotton-left{
    max-width: 50%;
    flex: 0 0 50%;
    padding: 0 10px;
    position: relative;
  }
  .cotton_overlay_text{
    position: absolute;
    top: 18px;
    left: 30px;
  }
  .cotton_overlay_text p{
    color: #fff;
    line-height: 1.4;
  }
  .cotton_overlay_text p span{
    text-decoration: underline;
  }
  .products_cols{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 0 -10px;
  }
  .products_col{
    max-width: 50%;
    flex: 0 0 50%;
    padding: 0 10px;
    padding-top: 68px;
  } 
  .products_col:first-child,
  .products_col:nth-child(2){
    padding-top: 0px;
  }
  .products_col h4,
  .products_col h6{
    color: #000c48;
    font-size: 20px;
  }
  .products_col h4{
    margin-top: 18px; 
  }
  .pre-btn{
    margin-top: 10px; 
  }
  .pre-btn a{
    font-size: 12px;
    border: 1px solid #000c48; 
    padding: 11px 30px;
    color: #000c48;
  }
  .pre-btn a:hover{
    border: 1px solid #000c48; 
    background-color: #000c48;
    color: #fff;
  }
  .left_img_cols a:last-child{
    margin-bottom: 20px; 
  }
  .left_img_cols a{
    display: inline-block;
    width: 100%;
    position: relative;
  }
  .left_img_cols a img{
    width: 100%;
  }
  .product-grid .container{
    max-width: 1030px;
  }
  .cotton-two.mobile_grid{
    display: none;
  }
  .middle-grid .cotton_overlay_text{
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    top: 50%;
    left: 0;
    width: 100%;
    text-align: center;
    color: #fff;
  }
  .permium_hero_section .section-wrap .section_content .content_bottom a{
    border-width: 1px; 
  }
  .cotton-two .collection_group_head h2 {
    letter-spacing: 5px;
    font-weight: 300;
    font-size: 24px;
    margin: 5px 0 7px;
    font-family: aktiv-grotesk,Arial,Helvetica,sans-serif;
    text-transform: capitalize;
    color: #000c48;
    margin-bottom: 50px;
    margin-top: 35px;
  }
  .cotton-left.left_img_cols {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
  }
  .premium_product_section .collection_group .collection_group_list .col .quick_btn .btnProduct{
    border-width: 1px;     
  }
  .premium_product_section .collection_group .collection_group_list .col .product-image .col-pro-details{
    padding: 0;
    text-align: left;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
  .premium_product_section .collection_group .collection_group_list .col .product-image a img{
    position: absolute !important; 
  }
  .premium_product_section .collection_group .collection_group_list .col.products_col{
    padding-top: 40px;
  }
  .premium_product_section .collection_group .collection_group_list .col.products_col {
    max-width: 50%;
    flex: 0 0 50%;
    padding: 0 10px;
    padding-top: 68px;
    margin: 0;
  }
  .premium_product_section .collection_group .collection_group_list .col .product-image a,
  .premium_product_section .collection_group .collection_group_list .col .product-image{
    display: block !important; 
  }
  .premium_product_section .collection_group .collection_group_list .col .product-image a:after{
    display: none !important; 
  } 
  .premium_product_section .collection_group .collection_group_list .col .product-image a img {
    position: static !important;
  }
  .premium_product_section .collection_group .collection_group_list .col .product-image .col-pro-details{
    position: relative !important; 
  }
  .premium_product_section .collection_group .collection_group_list .col .product-image .col-pro-details *{
    color: #000c48 !important; 
  }
  .premium_product_section .collection_group .collection_group_list .col .product-image{
    padding-bottom: 0; 
  }
  .premium_product_section.same__cols .collection_group .collection_group_list .col{
    max-width: 25%;
    width: 100%;
  }
  /*   .premium_product_section .collection_group .collection_group_list .col .product-image a img {
    height: 316px;
  } */
  /*   .premium_product_section.same__cols .collection_group .collection_group_list .col .product-image a img {
    height: 488px;
  } */
  .permium_hero_section .section-wrap .section_content .content_bottom a{
    background-color: #fff; 
    color: #000c48;
  }
  .premium_product_section{
    padding-bottom: 0px; 
  }
  .video_section{
    padding-bottom: 200px; 
  }
  .video_section .video_container{
    max-width: 800px;
    margin: 0 auto;
  }
  body {background:#fff;}
  @media(max-width: 1440px){
    .cotton-two .container{
      padding-left: 150px;
      padding-right: 150px; 
    }
    .product-grid .container{
      padding-left: 0px;
      padding-right: 0px; 
    }
  }
  @media(max-width: 1200px){
    .cotton-two .container{
      padding-left: 44px;
      padding-right: 44px; 
    }
    .product-grid .container{
      padding-left: 112px;
      padding-right: 112px; 
    }
  }
  @media(max-width: 1024px){
    .premium_product_section .collection_group .collection_group_head h2,
    .cotton-two .collection_group_head h2{
      letter-spacing: 5px;
      font-weight: 300;
      font-size: 24px;
    }
    .cotton-left{
      padding: 0 8px; 
    }
    .cotton-twos{
      margin: 0 -8px; 
    }
    .left_img_cols a:last-child {
      margin-bottom: 16px;
    }
    .premium_product_section .collection_group .collection_group_list .col .product-image a img {
      height: 252px;
    }
    .premium_product_section.same__cols .collection_group .collection_group_list .col .product-image a img {
      height: auto;
    }
  }
  @media(min-width: 1024px){
    .premium_news .eby-header:not(.scrolled) nav.eby-header-nav a>span{
      color: #fff;
    }
    .premium_news .eby-header:hover nav.eby-header-nav a>span{
      color: #0064ff;
    }
    .cotton-two.premium_product_section .collection_group .collection_group_list .col .product-image a:after{
      padding-bottom: 127%; 
    }
    .premium_product_section .collection_group .collection_group_list .col.products_col {
      padding: 0 8px;
      padding-top: 40px;
    }
    .premium_product_section .collection_group .collection_group_list.products_cols {
      margin: 0 -8px;
    }
  }
  @media(max-width: 991px){
    .cotton-two .container{
      width: 100%; 
    }
    .cotton-two .container{
      padding-left: 44px;
      padding-right: 44px; 
    }
    .product-grid .container{
      padding-left: 84px;
      padding-right: 84px; 
    }
  }
  @media(min-width: 769px){
    .premium_product_section .collection_group .collection_group_list .col{
      max-width: 25%; 
    }
  }
  @media(max-width: 768px){
    .permium_hero_section .section-wrap .section_content.text_center .content_top {
      max-width:300px;
    }
    .footerCopyRightInner .termsFooter {
      justify-content: center;
    }
    .col-pro-details {
    	padding: 0 1rem;
    }
    .premium_product_section.same__cols .collection_group_list .velaProBlock .product-details {
      padding:0 1rem;
    }
    .products_col h4 {
      margin-top: 10px;
    }
    .products_col h4 a {
      font-size: 1.6rem;
    }
    .premium_product_section .collection_group .collection_group_list .col.products_col.velaProBlock.quickadd.topProd {
      padding-left: 0;
      padding-right: 0;
    }
    .premium_product_section .collection_group .collection_group_list .col.products_col.velaProBlock.quickadd.topProd .velaProBlockInner {
      max-width:100%;
    }
    .infoGraphicWrapper {
      margin-bottom: 2.5rem;
    }
    .cotton-left {
      max-width: 100%;
      flex: 0 0 100%;
    }
    .product-grid .container{
      padding-left: 0px;
      padding-right: 0px; 
    }
    .left_img_cols a:nth-child(2){
      display: none; 
    }
    .product-grd{
      padding-left: 84px;
      padding-right: 84px;
    }
    .products_col{
      padding-top: 52px;
    }
    .cotton-two.image-grid .cotton-left:nth-child(2){
      display: none;
    }
    .cotton-two{
      padding: 40px 0;
    }
    .cotton-two.mobile_grid{
      display: block;
    }
    .cotton_overlay_text{
      left: 20px; 
    }
    .banner_bottom_section .mob_btn{
      display: block; 
      text-align: center;
      margin-bottom: 52px;
      margin-top: 12px;
    }
    .banner_bottom_section .mob_btn a{
      padding: 11px 30px;
      text-transform: uppercase;
      border: solid 1px #000c48;
      font-size: 12px;
      line-height: 1.38;
      color: #000c48;
      font-weight: 500;
      display: inline-block;
      transition: all .3s ease-in-out;
      border-radius: 40px;
    }
    .banner_bottom_section .mob_btn a:hover{
      border: 2px solid #000c48;
      background-color: #000c48;
      color: #fff; 
    }
    .banner_bottom_section .desktop_btn{
      display: none; 
    }
    #shopify-section-cotton_hero_section{
      margin-bottom: -24px; 
    }
    .cotton-two.image-grid .container{
      padding-left: 84px;
      padding-right: 84px; 
    }
    .left_img_cols a:first-child {
      margin-bottom: 8px;
    }
    .premium_product_section .collection_group .collection_group_head h2,
    .cotton-two .collection_group_head h2{
      letter-spacing: 2px;
      font-size: 16px;
    }
    .premium_product_section.same__cols .collection_group .collection_group_list .col{
      max-width: 50%; 
    }
    .premium_product_section .collection_group .collection_group_list .col .product-image a img {
      height: 392px;
    }
    .premium_product_section.same__cols .collection_group .collection_group_list .col .product-image a img {
      height: auto;
    }
    .premium_product_section.same__cols{
      text-align: center; 
    }
    .premium_product_section.same__cols .collection_group .collection_group_list .col .quick_btn .btnProduct {
      max-width: 292px;
      margin: 0 auto;
    }
    .video_section .video_container{
      max-width: 600px;
    }
    .video_section {
      padding-bottom: 140px;
    }
  }
  @media(max-width: 600px){
    .product-grd{
      padding-left: 0px;
      padding-right: 0px;
    }
    .products_col{
      padding-left: 4px;
      padding-right: 4px;
      padding-top: 52px;
    }
    .products_cols{
      margin: 0 -4px; 
    }
    .inner_pro_content{
      padding-left: 20px; 
    }
    .left_img_cols a:first-child {
      margin-bottom: 8px;
    }
    .cotton-left{
      padding-left: 0;
      padding-right: 0;
    }
    .cotton-twos{
      margin: 0; 
    }
    #shopify-section-cotton_hero_section{
      margin-bottom: -32px; 
    }
    .permium_hero_section .section-wrap .section_content .content_top p {
      font-size: 16px;
    }
    .cotton-two.image-grid .container{
      padding-left: 20px;
      padding-right: 20px; 
    }
    .premium_product_section .section-wrap {
      padding: 0 0px;
    }
    .premium_product_section .collection_group .collection_group_list .col {
      max-width: 50%;
    }
    .premium_product_section .collection_group .collection_group_list {
      margin: 0 -10px;
    }
    .cotton-two .collection_group_head h2{
      margin-bottom: 40px; 
    }
    .premium_product_section .collection_group .collection_group_list .col .quick_btn .btnProduct{
      font-size: 12px;
      padding: 10px 10px;
    }
/*     .collection_group_list .velaProBlock .product-details{
      padding-left: 20px;
    } */
/*     .collection_group_list .velaProBlock:nth-child(2n) .product-details{
      padding-right: 20px;
      padding-left: 0px;
    } */
    .premium_product_section .collection_group .collection_group_list .col.velaProBlock:nth-child(2n) .product-image .col-pro-details{
      padding-left: 0px;
    } 
    .premium_product_section .collection_group .collection_group_list .col .product-image .col-pro-details {
      padding: 0;
    }
    .premium_product_section .collection_group .collection_group_list.products_cols{
      margin: 0 -4px;
    }
    .premium_product_section .collection_group .collection_group_list .col.products_col {
      padding: 0 4px;
      padding-top: 40px;
    }
    .premium_product_section .collection_group .collection_group_list .col {
      margin-bottom: 60px;
    }
    .premium_product_section .collection_group .collection_group_list .col .product-image a img {
      height: 248px;
    }
    .premium_content_item {
      margin-bottom: 2rem;
    }
    .premium_product_section.same__cols .collection_group .collection_group_list .col .product-image a img {
      height: auto;
    }
/*     .premium_product_section.same__cols .collection_group{
      padding: 0 !important;
    } */
    .premium_product_section.same__cols .collection_group .collection_group_list .col .quick_btn .btnProduct {
      max-width: 100%;
    }
    .video_section .video_container{
      padding: 0 20px;
    }
    .premium_content_item {
      width: 100%;
    }
  }
</style>

<div class="poppy-red">
  {% section 'tank_lp-hero_section' %}
  {% section 'tank_lp-collection_product' %}
  {% section 'tank_lp-second_hero_section' %}
  {% section 'tank_lp-second_collection_product' %}
</div>

<div class="pop_size size_guid_pdp">
  <div class="pop_inner">
    <div class="pop_wrap">
      <span class="colz_pop size_guid_pdp">&times;</span>
      <div class="ebyGuideChartWrapper">
        {{ shop.metafields.ebyacf.eby_size_chart-panty.en }}
      </div>
    </div>
    <div class="pop_wrapper_backing size_guid_pdp">&nbsp;</div>
  </div>
</div>

<style>
 .premium_news .mainContent, #premium .mainContent {padding-top: 0px;}.permium_hero_section .section_image {display: flex;align-items: center;}@media only screen and (max-width: 860px) {.permium_hero_section .section_image .desktop_image {display: none;}}.permium_hero_section .section_image .ipad_image {display: none;}@media only screen and (max-width: 860px) {.permium_hero_section .section_image .ipad_image {display: block;}}@media only screen and (max-width: 540px) {.permium_hero_section .section_image .ipad_image {display: none;}}.permium_hero_section .section_image .mobile_image {display: none;}@media only screen and (max-width: 540px) {.permium_hero_section .section_image .mobile_image {display: block;}}.permium_hero_section .section-wrap {position: relative;}.permium_hero_section .section-wrap .section_content {position: absolute;top: 0px;left: 0px;width: 100%;height: 100%;max-width: 1383px;margin: 0 auto;right: 0;display: flex;justify-content: center;align-items: center;}.permium_hero_section .section-wrap .section_content .content_top {position: absolute;left: 0;right: 0;margin: 0 auto;position: relative;max-width:600px;width:100%;}.permium_hero_section .section-wrap .section_content .content_top h1 {font-family: "Voyage Bold";font-size: 72px;color: #fff;font-weight: bold;line-height: 1.2;margin: 0px 0px 18px;}@media only screen and (max-width: 860px) {.permium_hero_section .section-wrap .section_content .content_top h1 {font-size: 52px;margin-bottom: 26px;}}@media only screen and (max-width: 540px) {.permium_hero_section .section-wrap .section_content .content_top h1 {font-size: 38px;margin-bottom: 10px;}}.permium_hero_section .section-wrap .section_content .content_top p {color: #fff;font-weight: 300;font-size: 24px;letter-spacing: 5px;text-transform: uppercase;}@media only screen and (max-width: 860px) {.permium_hero_section .section-wrap .section_content .content_top p {font-size: 20px;letter-spacing: 4px;}}@media only screen and (max-width: 540px) {.permium_hero_section .section-wrap .section_content .content_top p {font-size: 16px;letter-spacing: 3.2px;}}.permium_hero_section .section-wrap .section_content .content_bottom {position: absolute;bottom: 60px;left: 0px;right: 0px;}@media only screen and (max-width: 860px) {.permium_hero_section .section-wrap .section_content .content_bottom {bottom: 44px;}}.permium_hero_section .section-wrap .section_content .content_bottom a {padding: 17px 44px;text-transform: uppercase;border: solid 2px #fff;font-size: 16px;line-height: 1.38;color: #fff;font-weight: 500;display: inline-block;transition: all 0.3s ease-in-out;}@media only screen and (max-width: 1024px) {.permium_hero_section .section-wrap .section_content .content_bottom a {font-size: 12px;padding: 12px 30px;}}.permium_hero_section .section-wrap .section_content .content_bottom a:hover {background-color: #000c48;border-color: #000c48;color: #fff;}.permium_hero_section .section-wrap .section_content.text_center .content_top, .permium_hero_section .section-wrap .section_content.text_center .content_bottom {text-align: center;}.permium_hero_section .section-wrap .section_content.text_left .content_top, .permium_hero_section .section-wrap .section_content.text_left .content_bottom {text-align: left;}.permium_hero_section .section-wrap .section_content.text_right .content_top, .permium_hero_section .section-wrap .section_content.text_right .content_bottom {text-align: right;}.tab_proVariants_ovrlay {position: fixed;top: 0px;left: 0px;width: 100%;z-index: 9;opacity: 0;visibility: hidden;background-color: rgba(246, 234, 223, .8);height: 100%;transition: all 0.3s ease-in-out;}.tab_proVariants_ovrlay.active {opacity: 1;visibility: visible;}.hover-logo {display: none;}.eby-mobile-nav.ebyicon-minicart-empty-alt {color: #0064ff;}.eby-header.scrolled .hover-logo, .eby-header-nav:hover .hover-logo {display: block;}.eby-header.scrolled .default-logo, .eby-header-nav:hover .default-logo {display: none;}.premium_news .eby-header-nav .nav-logo img, .premium_news .eby-mobile-nav .nav-logo img, .premium_news .eby-header-nav .nav-logo-mobile img, .premium_news .eby-mobile-nav .nav-logo-mobile img {display: none;}.premium_news .eby-header-nav .nav-logo:before, .premium_news .eby-mobile-nav .nav-logo:before, .premium_news .eby-header-nav .nav-logo-mobile:before, .premium_news .eby-mobile-nav .nav-logo-mobile:before {font-family: "eby";content: '\e81c';margin: 0;font-size: 4rem;line-height: 2rem;color: #0064ff;}.premium_news .eby-header .ebyHeaderCtaWrapper.buy a {color: #fff;}.premium_news .eby-header.scrolled .nav-logo-mobile img, .premium_news .eby-header:hover .nav-logo-mobile img, .premium_news .eby-header.scrolled .nav-logo img, .premium_news .eby-header:hover .nav-logo img {filter: unset;}.premium_news .eby-header.scrolled .nav-logo:before, .premium_news .eby-header:hover .nav-logo:before, .premium_news .eby-header.scrolled .nav-logo-mobile:before, .premium_news .eby-header:hover .nav-logo-mobile:before {color: #0064ff;}.premium_news .eby-header.scrolled .ebyHeaderCtaWrapper.join:before, .premium_news .eby-header:hover .ebyHeaderCtaWrapper.join:before {color: #0064ff;}.premium_news .eby-header.scrolled .ebyHeaderCtaWrapper.buy a, .premium_news .eby-header:hover .ebyHeaderCtaWrapper.buy a {color: #0064ff;}.premium_news.loggedIn .mainContent, .premium_news .mainContent.noTopBanner {padding-top: 0;}.premium_news .tab_proVariants_wrap .proVariants-2, .tab_proVariants_wrap .proVariants {margin-bottom: 2rem;}.premium_news #shopify-section-premium_product_tab_2 .tabs li:last-child {display: none;}.premium_news .motivator-bar__wrapper, .premium_news .newslsec, .premium_news section.foot_section, .premium_news .eby-header-nav .sign_in_btn {display: none;}.premium_news .eby-header nav.eby-mobile-nav .burger-menu {display: none !important;}.premium_news .eby-header-nav .ebyHeaderCtaWrapper {display: block;}.premium_news .nav-logo-mobile img, .premium_news .nav-logo img {filter: brightness(0) invert(1);}.premium_news a.siz_guid {padding: 0;margin-left: 0.75rem;border: 0;background: transparent;color: #0064ff;font-size: 1.4rem;}.premium_news .ebyicon-minicart-empty-alt:before {color: #0064ff;}.premium_news .footerCopyRight {background: #000c48;}.premium_news .eby-header nav.eby-mobile-nav a.nav-logo-mobile {margin: 0 auto 0 0;}.premium_news .velaCopyRight, .premium_news #velaFooter.style1 .velaCopyRightLink ul li a, .premium_news #velaFooter.style1 .velaCopyRightLink ul li a:hover, .premium_news .fa-facebook, .premium_news .fa-instagram, .premium_news .fa-facebook, .premium_news .fa-instagram:hover, .premium_news .fa-youtube {color: #fff;}.premium_news .eby-header nav.eby-mobile-nav .ebyHeaderCtaWrapper.buy a, .premium_news .eby-header nav.eby-mobile-nav .burger-menu .btnMenuMobile:before {color: #0064ff !important;}.premium_news .eby-header.scrolled nav.eby-mobile-nav .ebyHeaderCtaWrapper.buy a, .premium_news .eby-header.scrolled nav.eby-mobile-nav .burger-menu .btnMenuMobile:before, .premium_news .eby-header:hover nav.eby-mobile-nav .ebyHeaderCtaWrapper.buy a, .premium_news .eby-header:hover nav.eby-mobile-nav .burger-menu .btnMenuMobile:before, .premium_news.menuMobileActive .eby-header nav.eby-mobile-nav .ebyHeaderCtaWrapper.buy a {color: #0064ff !important;}.premium_news .eby-header:hover nav.eby-mobile-nav .default-logo, .premium_news.menuMobileActive nav.eby-mobile-nav .default-logo {display: none;}.premium_news .eby-header:hover nav.eby-mobile-nav .hover-logo, .premium_news.menuMobileActive nav.eby-mobile-nav .hover-logo {display: block;}.mystry_bottom {display: flex;align-items: center;justify-content: space-between;}.mystry_bottom .priceProduct {margin: 0;}.parisian_pages .tab_collection_bennor .tab_collection_bennor_wrap .tab_collection_details.text_center {height: 100%;}.parisian_pages .tab_collection_details_wrap {display: flex;flex-direction: column;justify-content: space-between;}.parisian_pages .tab_collection_content {padding-top: 20%;}.parisian_pages .tab_collection_bennor .tab_collection_bennor_wrap .tab_collection_details .section-btn a {border-color: #000c48;color: #000c48;}@media only screen and (max-width: 480px) {.parisian_pages .tab_collection_bennor .tab_collection_bennor_wrap .tab_collection_details .section-btn a {border-color: #000c48;background: #000c48;color: #fff;}}.parisian_pages .tab_collection_bennor .tab_collection_bennor_wrap .tab_collection_details .section-btn a:hover {background-color: #000c48;color: #fff;}.parisian_pages .tab_collection_details_wrap .tab_collection_content + p {display: none;}@media only screen and (max-width: 1024px) {.parisian_pages .tab_collection_content {padding-top: 10%;}}.proList .swatch-view-item.swatch-item-unavailable, .template-product .swatch-view-item.swatch-item-unavailable {display: block;opacity: 0.2;}.back_in_stock {display: none !important;}.back_in_stock.false {display: block !important;width: 100%;}a.klaviyo-bis-trigger {width: 100%;display: inline-block !important;text-align: center;line-height: 22px;padding: 13px;background-color: #000c48;color: #fff;border-radius: 28.5px;margin-bottom: 15px;}a.klaviyo-bis-trigger:hover {opacity: 0.8;}.premium_product_section .collection_group .collection_group_list .col .quick_btn .productQuickAdd:hover .selection-wrapper {display: block!important;}.premium_product_section .collection_group .collection_group_list .col .quick_btn .selection-wrapper .formAddToCart {padding: 10px 15px;}.pop_productQuickAdd.active .formAddToCart, .productQuickAdd.active .formAddToCart {display: block !important;}.premium_product_section .collection_group .collection_group_list .col .quick_btn .selection-wrapper .formAddToCart {padding: 10px 15px;}.pop_productQuickAdd.active .formAddToCart, .productQuickAdd.active .formAddToCart {display: block!important;}.premium_product_section .collection_group .collection_group_list .col .quick_btn .selector-wrapper {display: none;}.premium_product_section .collection_group .collection_group_list .col .quick_btn .selection-wrapper .header {padding: 10px 0 15px;}.swatch .header {padding: 10px 0;display: block;font-weight: 400;min-width: 80px;font-size: 18px;color: #000;line-height: 20px;font-weight: 700;}.premium_product_section .collection_group .collection_group_list .col .quick_btn .selection-wrapper .swatch .swatch-element {display: inline-block;float: none;margin: 5px 3px;line-height: 1;padding: 3px;border-radius: 15.5px;border: solid 1px #000c48;-webkit-transition: .3s background,border-color ease-in-out!important;transition: .3s background,border-color ease-in-out!important;}.premium_product_section .collection_group .collection_group_list .col .quick_btn .selection-wrapper .swatch .swatch-element:not(.soldout) label {position: relative;cursor: pointer;margin: 0;-webkit-transition: .3s background,color ease-in-out!important;transition: .3s background,color ease-in-out!important;}.premium_product_section .collection_group .collection_group_list .col .quick_btn .selection-wrapper .swatch .swatch-element label {color: #000c48;text-transform: uppercase;white-space: nowrap;font-size: 14px;font-weight: 400;float: none;text-align: center;width: 50px;line-height: 25px;height: 25px;}.premium_product_section .collection_group .collection_group_list .col .quick_btn .selection-wrapper .swatch .swatch-element:not(.soldout):hover {border: 2px solid #0064ff!important;-webkit-box-shadow: inset 0 0 0 2px #fff;-moz-box-shadow: inset 0 0 0 2px #fff;box-shadow: inset 0 0 0 2px #fff;box-sizing: border-box;background: #000c48!important;background-color: #000c48!important;}.premium_product_section .collection_group .collection_group_list .col .quick_btn .selection-wrapper .swatch .swatch-element:not(.soldout):hover label {color: #fff;width: 48px;height: 23px;line-height: 23px;}.premium_product_section .collection_group .collection_group_list .col .quick_btn .selection-wrapper .header span.text {display: none;}.premium_product_section .collection_group .collection_group_list .col .quick_btn .selection-wrapper .header span {font-size: 14px;font-weight: 400;}.premium_product_section .collection_group .collection_group_list .col .quick_btn .selection-wrapper .header span {font-size: 14px;font-weight: 400;margin-right: 0.5rem;}a.siz_guid {display: inline-block;border: 1px solid #000;border-radius: 38px;padding: 2px 9px;font-size: 12px;margin-left: auto;font-weight: 500;text-align: center;line-height: 19px;text-indent: 2px;top: 0;position: relative;}.premium_product_section .collection_group .collection_group_list .col .quick_btn .selection-wrapper .header a {font-size: 14px;font-weight: 400;line-height: normal;text-align: center;color: #0064ff;font-family: aktiv-grotesk,Helvetica,Arial,sans-serif;border: 0;padding: 0;text-indent: 0;}.premium_product_section .section-wrap {max-width: 1260px;width: 100%;padding: 0 30px;margin: 0 auto;}.premium_product_section .collection_group {margin-bottom: -80px;}.premium_product_section .collection_group .collection_group_head {margin-bottom: 49px;}.premium_product_section .collection_group .collection_group_head h2 {font-size: 36px;font-weight: 500;margin: 5px 0 7px;font-family: aktiv-grotesk,Arial,Helvetica,sans-serif;text-transform: capitalize;color: #000c48;}.premium_product_section .collection_group .collection_group_list {display: flex;flex-wrap: wrap;margin: 0 -30px;justify-content:center;}.premium_product_section .collection_group .collection_group_list .col {max-width: 33.33%;width: 100%;padding: 0 30px;margin-bottom: 80px;}.premium_product_section .collection_group .collection_group_list .col .product-image {padding-bottom: 12px;position: relative;z-index: 1;}.velaProBlock .proHImage {position: relative;overflow: hidden;}.premium_product_section .collection_group .collection_group_list .col .product-image a {display: flex;align-items: center;position: relative;overflow: hidden;}.premium_product_section .collection_group .collection_group_list .col .product-image a img {max-width: 100%;width: 100%;height: 100%;object-fit: cover;position: absolute;top: 0;left: 0;}.premium_product_section .collection_group .collection_group_list .col .product-image .col-pro-details {position: absolute;top: 0;left: 0;width: 100%;height: 100%;padding: 27px 28px;z-index: 10;}.premium_product_section .collection_group .collection_group_list .col .product-image .col-pro-details h3 {margin: 0 0 8px;line-height: 1;text-transform: uppercase;font-size: 16px;font-weight: 400;font-family: aktiv-grotesk,Arial,Helvetica,sans-serif;color: #fff;}.premium_product_section .collection_group .collection_group_list .col .product-image .col-pro-details .price {margin: 0;font-size: 20px;font-weight: 400;font-family: aktiv-grotesk,Arial,Helvetica,sans-serif;color: #fff;}.premium_product_section .collection_group .collection_group_list .col .product-details {position: relative;z-index: 2;}.premium_product_section .collection_group .collection_group_list .col .quick_btn {position: relative;}.premium_product_section .collection_group .collection_group_list .col .quick_btn .btnProduct {display: block!important;border-radius: 0;width: 100%;border: 2px solid #000c48;color: #000c48;font-size: 16px;background: 0 0;font-family: aktiv-grotesk,Arial,Helvetica,sans-serif;font-weight: 500;text-transform: uppercase;text-align: center;line-height: 1.65;padding: 15px;transition: all .3s ease-in-out;}.premium_product_section .collection_group .collection_group_list .col .quick_btn .btnProduct .icon-eye {display: none;}.premium_product_section .collection_group .collection_group_list .col .quick_btn .productQuickAdd .selection-wrapper {transition: all .3s ease-in-out;display: none!important;}.premium_product_section .collection_group .collection_group_list .col .quick_btn .selection-wrapper {position: absolute;bottom: 0;width: 100%;}.pop_productQuickAdd .selection-wrapper, .productQuickAdd .selection-wrapper {background: #fff;text-align: center;}.collection-image {position: relative;}.videoContainer {position: absolute;top: 0;left: 0;width: 100%;}.playerFilm{background:transparent;width:100%;height:100%;position:absolute;top:0;left:0;z-index: 1;}.playerImgHide {visibility: hidden !important;}.playerWrapper {width:100%;height:100%;position:absolute;top:0;left:0;}.premium_news .eby-header nav.eby-mobile-nav .burger-menu, .premium_news .eby-header-nav .sign_in_btn{display: flex !important;}.premium_news .eby-header nav.eby-mobile-nav a.nav-logo-mobile{margin: auto !important;}.premium_news .ebyHeaderCtaWrapper.join .joinNow.join {display: none !important;}.premium_product_section{background-image: none;border: 0;}.premium_product_section .collection_group .collection_group_head h2{letter-spacing: 5px;font-weight: 300;font-size: 24px;}.permium_hero_section .section-wrap .section_content .content_top p b{font-weight: 500;}section.permium_hero_section.small_con {max-width: 1140px;margin: 0 auto;}.premium_product_section .collection_group .collection_group_list .col {padding: 0 10px;}.premium_product_section .section-wrap {max-width: 1060px;width: 100%;}.poppy-red{background-color: #fff;}.cotton-two{overflow: hidden;padding: 60px 0;}.cotton-twos{display: flex;align-items: flex-start;flex-wrap: wrap;margin: 0 -10px;}.cotton-left{max-width: 50%;flex: 0 0 50%;padding: 0 10px;position: relative;}.cotton_overlay_text{position: absolute;top: 18px;left: 30px;}.cotton_overlay_text p{color: #fff;line-height: 1.4;}.cotton_overlay_text p span{text-decoration: underline;}.products_cols{display: flex;align-items: flex-start;flex-wrap: wrap;margin: 0 -10px;}.products_col{max-width: 50%;flex: 0 0 50%;padding: 0 10px;padding-top: 68px;}.products_col:first-child, .products_col:nth-child(2){padding-top: 0px;}.products_col h4, .products_col h6{color: #000c48;font-size: 20px;}.products_col h4{margin-top: 18px;}.pre-btn{margin-top: 10px;}.pre-btn a{font-size: 12px;border: 1px solid #000c48;padding: 11px 30px;color: #000c48;}.pre-btn a:hover{border: 1px solid #000c48;background-color: #000c48;color: #fff;}.left_img_cols a:last-child{margin-bottom: 20px;}.left_img_cols a{display: inline-block;width: 100%;position: relative;}.left_img_cols a img{width: 100%;}.product-grid .container{max-width: 1030px;}.cotton-two.mobile_grid{display: none;}.middle-grid .cotton_overlay_text{transform: translateY(-50%);-webkit-transform: translateY(-50%);top: 50%;left: 0;width: 100%;text-align: center;color: #fff;}.permium_hero_section .section-wrap .section_content .content_bottom a{border-width: 1px;}.cotton-two .collection_group_head h2 {letter-spacing: 5px;font-weight: 300;font-size: 24px;margin: 5px 0 7px;font-family: aktiv-grotesk,Arial,Helvetica,sans-serif;text-transform: capitalize;color: #000c48;margin-bottom: 50px;margin-top: 35px;}.cotton-left.left_img_cols {display: flex;flex-direction: column-reverse;flex-wrap: wrap;}.premium_product_section .collection_group .collection_group_list .col .quick_btn .btnProduct{border-width: 1px;}.premium_product_section .collection_group .collection_group_list .col .product-image .col-pro-details{padding: 0;margin-bottom:0;}.premium_product_section .collection_group .collection_group_list .col .product-image a img{position: absolute !important;}.premium_product_section .collection_group .collection_group_list .col.products_col{padding-top: 40px;}.premium_product_section .collection_group .collection_group_list .col.products_col {max-width: 50%;flex: 0 0 50%;padding: 0 10px;padding-top: 68px;margin: 0;}.premium_product_section .collection_group .collection_group_list .col.products_col:first-child, .premium_product_section .collection_group .collection_group_list .col.products_col:nth-child(2) {padding-top: 0;}.premium_product_section .collection_group .collection_group_list .col .product-image a, .premium_product_section .collection_group .collection_group_list .col .product-image{display: block !important;}.premium_product_section .collection_group .collection_group_list .col .product-image a:after {display: none !important;}.collection_group_list .velaProBlock .proHImage:hover .proFeaturedImage span{display: block !important;}.premium_product_section .collection_group .collection_group_list .col .product-image a img {position: static !important;}.premium_product_section .collection_group .collection_group_list .col .product-image .col-pro-details{position: relative !important;}.premium_product_section .collection_group .collection_group_list .col .product-image .col-pro-details *{color: #000c48 !important;}.premium_product_section .collection_group .collection_group_list .col .product-image{padding-bottom: 0;}.premium_product_section.same__cols .collection_group .collection_group_list .col{max-width: 50%;}.premium_product_section .collection_group .collection_group_list .col .product-image a img {height: 316px;}.premium_product_section.same__cols .collection_group .collection_group_list .col .product-image a img {height: 488px;}.permium_hero_section .section-wrap .section_content .content_bottom a{background-color: #fff;color: #000c48;}.premium_product_section{padding-bottom: 80px;}.video_section{padding-bottom: 200px;}.video_section .video_container{max-width: 800px;margin: 0 auto;}@media(max-width: 1440px){.cotton-two .container{padding-left: 150px;padding-right: 150px;}.product-grid .container{padding-left: 0px;padding-right: 0px;}}@media(max-width: 1200px){.cotton-two .container{padding-left: 44px;padding-right: 44px;}.product-grid .container{padding-left: 112px;padding-right: 112px;}}@media(max-width: 1024px){.premium_product_section .collection_group .collection_group_head h2, .cotton-two .collection_group_head h2{letter-spacing: 5px;font-weight: 300;font-size: 24px;}.cotton-left{padding: 0 8px;}.cotton-twos{margin: 0 -8px;}.left_img_cols a:last-child {margin-bottom: 16px;}.premium_product_section .collection_group .collection_group_list .col .product-image a img {height: 252px;}.premium_product_section.same__cols .collection_group .collection_group_list .col .product-image a img {height: 392px;}}@media(min-width: 1024px){.premium_news .eby-header:not(.scrolled) nav.eby-header-nav a>span{color: #fff;}.premium_news .eby-header:hover nav.eby-header-nav a>span{color: #0064ff;}.cotton-two.premium_product_section .collection_group .collection_group_list .col .product-image a:after{padding-bottom: 127%;}.premium_product_section .collection_group .collection_group_list .col.products_col {padding: 0 8px;padding-top: 40px;}.premium_product_section .collection_group .collection_group_list.products_cols {margin: 0 -8px;}}@media(max-width: 991px){.cotton-two .container{width: 100%;}.cotton-two .container{padding-left: 44px;padding-right: 44px;}.product-grid .container{padding-left: 84px;padding-right: 84px;}}@media(min-width: 769px){.premium_product_section .collection_group .collection_group_list .col{max-width: 25%;}}@media(max-width: 768px){.cotton-left {max-width: 100%;flex: 0 0 100%;}.product-grid .container{padding-left: 0px;padding-right: 0px;}.left_img_cols a:nth-child(2){display: none;}.product-grd{padding-left: 84px;padding-right: 84px;}.products_col{padding-top: 52px;}.cotton-two.image-grid .cotton-left:nth-child(2){display: none;}.cotton-two{padding: 40px 0;}.cotton-two.mobile_grid{display: block;}.cotton_overlay_text{left: 20px;}.banner_bottom_section .mob_btn{display: block;text-align: center;margin-bottom: 52px;margin-top: 12px;}.banner_bottom_section .mob_btn a{padding: 11px 30px;text-transform: uppercase;border: solid 1px #000c48;font-size: 12px;line-height: 1.38;color: #000c48;font-weight: 500;display: inline-block;transition: all .3s ease-in-out;border-radius: 40px;}.banner_bottom_section .mob_btn a:hover{border: 2px solid #000c48;background-color: #000c48;color: #fff;}.banner_bottom_section .desktop_btn{display: none;}#shopify-section-cotton_hero_section{margin-bottom: -24px;}.cotton-two.image-grid .container{padding-left: 84px;padding-right: 84px;}.left_img_cols a:first-child {margin-bottom: 8px;}.premium_product_section .collection_group .collection_group_head h2, .cotton-two .collection_group_head h2{letter-spacing: 3.2px;font-size: 16px;}.premium_product_section.same__cols .collection_group .collection_group_list .col{max-width: 100%;}.premium_product_section .collection_group .collection_group_list .col .product-image a img {height: 392px;}.premium_product_section.same__cols .collection_group .collection_group_list .col .product-image a img {height: 600px;}.premium_product_section.same__cols{text-align: center;}.premium_product_section.same__cols .collection_group .collection_group_list .col .quick_btn .btnProduct {max-width: 292px;margin: 0 auto;}.video_section .video_container{max-width: 600px;}.video_section {padding-bottom: 140px;}}@media(max-width: 600px){.product-grd{padding-left: 0px;padding-right: 0px;}.products_col{padding-left: 4px;padding-right: 4px;padding-top: 52px;}.products_cols{margin: 0 -4px;}.inner_pro_content{padding-left: 20px;}.left_img_cols a:first-child {margin-bottom: 8px;}.cotton-left{padding-left: 0;padding-right: 0;}.cotton-twos{margin: 0;}#shopify-section-cotton_hero_section{margin-bottom: -32px;}.permium_hero_section .section-wrap .section_content .content_top p {font-size: 16px;}.cotton-two.image-grid .container{padding-left: 20px;padding-right: 20px;}.premium_product_section .section-wrap {padding: 0 0px;}.premium_product_section .collection_group .collection_group_list .col {max-width: 50%;}.premium_product_section .collection_group .collection_group_list {margin: 0 -10px;}.cotton-two .collection_group_head h2{margin-bottom: 40px;}.premium_product_section .collection_group .collection_group_list .col .quick_btn .btnProduct{font-size: 12px;padding: 10px 10px;}.collection_group_list .velaProBlock:nth-child(2n) .product-details{padding-right: 0;padding-left: 0px;}.premium_product_section .collection_group .collection_group_list .col.velaProBlock:nth-child(2n) .product-image .col-pro-details{padding-left: 0px;}.premium_product_section .collection_group .collection_group_list .col .product-image .col-pro-details {padding: 0;}.premium_product_section .collection_group .collection_group_list.products_cols{margin: 0 -4px;}.premium_product_section .collection_group .collection_group_list .col.products_col {padding: 0 4px;padding-top: 60px;}.premium_product_section .collection_group .collection_group_list .col {margin-bottom: 60px;}.premium_product_section .collection_group .collection_group_list .col .product-image a img {height: 248px;}.premium_product_section.same__cols .collection_group .collection_group_list .col .product-image a img {height: 336px;}.premium_product_section.same__cols .collection_group{padding: 4rem 20px 0;}.premium_product_section .collection_group .collection_group_head{margin-bottom:0;}.premium_product_section.same__cols .collection_group_list .velaProBlock .product-details {padding-left: 0px;padding-right: 0px;}.premium_product_section.same__cols .collection_group .collection_group_list .col .quick_btn .btnProduct {max-width: 100%;}.video_section .video_container{padding: 0 20px;}}
</style>

<script defer type="text/javascript">
  
  
  document.addEventListener('DOMContentLoaded', function (){
    
    jQuery(document).on('click', '.siz_guid', function(){
      if(jQuery('.pop_size.size_guid_pdp').is(':visible')) {
        jQuery('.pop_size.size_guid_pdp').fadeOut()
      } else {
        if ($(this).closest('.proVariantForm').hasClass('pantyForm')) {
          $('.pop_size.size_guid_pdp .ebyBraletteGuide').hide();
          $('.pop_size.size_guid_pdp .ebyPantyGuide').show();
        } else if ($(this).closest('.proVariantForm').hasClass('braletteForm')) {
          $('.pop_size.size_guid_pdp .ebyPantyGuide').hide();
          $('.pop_size.size_guid_pdp .ebyBraletteGuide').show();
        } else {
          $('.pop_size.size_guid_pdp .ebyPantyGuide').hide();
          $('.pop_size.size_guid_pdp .ebyBraletteGuide, .pop_size.size_guid_pdp .ebyBodysuitGuide, .pop_size.size_guid_pdp .silkGuide').hide();
          $('.pop_size.size_guid_pdp .ebyTankGuide').show();
        }
        jQuery('.pop_size.size_guid_pdp').fadeIn();
      }
      return false;
    });


  });

    
</script>